@media only screen and (min-height: 460px) {
	/* Style adjustments for viewports 460px and higher go here */
	
	#header h1 {
		font-size: 96px;
		width: 4em;
		top: 10%;
		margin: -0.2em auto 0;
		text-shadow:
			#580 1px 1px 0,
			#580 2px 2px 0,
			#580 3px 3px 0,
			#580 4px 4px 0,
			#580 5px 5px 0;
	}
	#header.dismantle h1 {
		-webkit-transform: translate(5px,5px);
		   -moz-transform: translate(5px,5px);
			-ms-transform: translate(5px,5px);
			 -o-transform: translate(5px,5px);
				transform: translate(5px,5px);
	}
	#header h2 { top: 50%; }
	.strip { bottom: 18%; }
	
}
