/* ======== */
/* = Base = */
/* ======== */
body { font: 16px/24px PT Sans, Helvetica, Arial, sans-serif; }
pre { word-wrap: normal; overflow: auto; }
ul { padding: 0; }
a { text-decoration: none; color: inherit; }

.amp {
	font-family: 'Hoefler Text', Baskerville, Palatino, 'Book Antiqua', Constantia, 'URW Palladio L';
	font-style: italic;
	font-size: 1.2em;
	line-height: 0.5em;
}
.quo { margin-left: -0.24em; }
.dquo { margin-left: -0.44em; }
.tquo { margin-left: -0.68em; }

/* natural box layout model */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* ======================== */
/* = Droidcon 2012 Teaser = */
/* ======================== */

html, body { min-height: 100%; height: 100%; }
body {
	background: url(../img/stripes_dark_green.png) fixed top left;
	color: white;
}

#page {
	height: 100%;
	min-height: 270px;
	min-width: 450px;
	margin: auto;
	position: relative;
}

.container { text-align: center; }


#header {
	min-height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 20;
}
#header h1 {
	font: 72px/1 'LeagueGothicRegular', 'HelveticaNeue-CondensedBold', 'ArialNarrow-Bold', Impact, 'PT Sans', sans-serif;
	margin: 0.25em auto 0.2em;
	text-transform: uppercase;
	text-shadow:
		#580 1px 1px 0,
		#580 2px 2px 0,
		#580 3px 3px 0;
	-webkit-transition:
		text-shadow 0.4s ease,
		-webkit-transform 0.4s ease;
	-moz-transition:
		text-shadow 0.4s ease,
		-moz-transform 0.4s ease;
	-ms-transition:
		text-shadow 0.4s ease,
		-ms-transform 0.4s ease;
	-o-transition:
		text-shadow 0.4s ease,
		-o-transform 0.4s ease;
	transition:
		text-shadow 0.4s ease,
		transform 0.4s ease;
}
#header.dismantle h1 {
	text-shadow: none;
	-webkit-transform: translate(3px,3px);
	   -moz-transform: translate(3px,3px);
		-ms-transform: translate(3px,3px);
		 -o-transform: translate(3px,3px);
			transform: translate(3px,3px);
}
#header h2 {
	font-size: 18px;
	margin: 0 0 1.5em;
	font-weight: normal;
}

.strip {
	margin: 0 0 100px;
	padding: 0;
}
.strip a {
	display: block;
	color: white;
	-webkit-transition: background-color 0.2s ease;
	   -moz-transition: background-color 0.2s ease;
		-ms-transition: background-color 0.2s ease;
		 -o-transition: background-color 0.2s ease;
			transition: background-color 0.2s ease;
}
.strip a:hover { background-color: #A4C639; text-shadow: #692 1px 1px 1px; }
.spotlight {
	position: absolute;
	right: 50%;
	margin-right: -6.5em;
	width: 13em;
	height: 6em;
	background: #1B2107;
}
.strip .half {
	width: 50%;
	min-width: 50%;
	padding: 0 6.5em;
	background: #3C4910;
	background: rgba(0,0,0,0.25);
}
.strip .half.flushleft { padding-left: 0; }
.strip .half.flushright { padding-right: 0; }
.strip ul { margin: 0; }
.strip li { display: block; clear: both; height: 3em; }
.strip .flushleft li { height: 2em; }
.strip li a { display: block; height: 100%; padding: 0; }
.strip h4 {
	margin: 0;
	font-size: 1em;
	line-height: 1.8;
	font-weight: normal;
}
.strip .flushleft h4 {
	float: left;
	line-height: 2;
	margin: 0 0.5em;
}
.strip h5 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 1;
	margin: 0;
	color: gray;
}
.strip .flushleft h5 { padding-top: 1.3em; text-align: left; }
.strip a:hover h5 { color: white; }
.spotlight {
	background-image: url(../img/india.png);
	background-repeat: no-repeat;
	background-position: 20% 50%;
	text-align: left;
	cursor: pointer;
	-webkit-transition: background-color 0.2s ease;
	   -moz-transition: background-color 0.2s ease;
		-ms-transition: background-color 0.2s ease;
		 -o-transition: background-color 0.2s ease;
			transition: background-color 0.2s ease;
}
.spotlight:hover {
	background-color: #DF5E0E;
	text-shadow: #720 1px 1px 1px;
}
.spotlight h3 {
	font-weight: normal;
	margin: 0;
	margin: 1.35em 0 0 50%;
}
.spotlight h4 {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 2;
	margin-left: 50%;
}


.andy {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 120px;
	margin-left: -60px;
	height: 65px;
	margin-top: -63px;
	background: url(../img/andy_small.png) no-repeat scroll;
	background-position: center top;
	cursor: pointer;
}
.andy:hover { margin-top: -65px; }


.footer hr { display: none; }
.footer a {
	position: absolute;
	left: 50%;
	margin-left: 70px;
	bottom: 10px;
	width: 65px;
	height:60px;
	background-color: #3C4910;
	background: rgba(0,0,0,0.2) url(../img/hasgeek.png) no-repeat center center;
	-webkit-border-radius: 25px 25px 25px 0;
			border-radius: 25px 25px 25px 0;
	-webkit-transition: margin 0.4s ease;
	   -moz-transition: margin 0.4s ease;
		-ms-transition: margin 0.4s ease;
		 -o-transition: margin 0.4s ease;
			transition: margin 0.4s ease;
}
.footer a:hover { background-color: black; }
.dismantle .footer a {
	margin-left: 110px;
	margin-bottom: 20px;
}

#content {}


.flipboard {
	display: none;
	padding: 0;
	margin: 0;
	position: absolute;
	background: black;
	z-index: 10;
}
.flipboard li {
	float: left;
	display: inline;
	position: relative;
	z-index: 10;
	-webkit-perspective: 1000;
	   -moz-perspective: 1000;
		-ms-perspective: 1000;
			perspective: 1000;
}
.flipcard {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
			transform-style: preserve-3d;
	-webkit-transition: all 0.4s linear;
	   -moz-transition: all 0.4s linear;
		-ms-transition: all 0.4s linear;
		 -o-transition: all 0.4s linear;
			transition: all 0.4s linear;	
}
.flipcard.reveal-backface {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
			transform: rotateY(180deg);
}
.flipcard.reveal-frontface {
	-webkit-transform: rotateY(360deg);
	   -moz-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
			transform: rotateY(360deg);
}


.face {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	text-align: center;
	background: url(../img/stripes_dark_green.png) fixed top left;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
			backface-visibility: hidden;
}
.portrait { background: black; }
.face.back {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
			transform: rotateY(180deg);
}
.flipboard img { max-width: 100%; height: auto; }

