{%
  set schedule = {
      'id'    : 'schedule-day1'
    , 'date'  : '28 Nov'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'title'     : 'Registrations and breakfast'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'     : 'introductions'
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:00 am'
        , 'track1'     : 'welcome'
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:45 am'
        , 'track1'    : 'panel-discussion-10-45-A'
      }
      , {
          'slot'      : '11:30 am'
        , 'title'     : 'Tea break'
        , 'duration'  : '15 mins'
      }
      , {
          'slot'      : '11:45 am'
        , 'track1'    : 'panel-discussion-11-45-A'
        , 'track2'    : 'session-11-45-B'
      }
      , {
          'slot'      : '12:30 am'
        , 'track1'    : 'session-12-30-A'
        , 'track2'    : 'session-12-30-B'
      }   
      , {
          'slot'      : '01:15 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr 15 mins'
      }
      , {
          'slot'      : '02:00 pm'
        , 'track1'    : 'panel-discussion-02-00-A'
        , 'track2'    : 'demo-02-00-B'
      }
      , {
          'slot'      : '02:45 pm'
        , 'track1'    : 'session-02-45-A'
        , 'track2'    : 'demo-02-45-B'
      }
      , {
          'slot'      : '03:30 pm'
        , 'title'     : 'Tea break'
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '03:45 pm'
        , 'track1'    : 'session-03-45-A'
        , 'track2'    : 'demo-03-45-B'
      }
      , {
          'slot'      : '04:30 pm'
        , 'track1'    : 'session-04-30-A'
        , 'track2'    : 'demo-04-30-B'
      }
      , {
          'slot'      : '05:15 pm'
        , 'track1'    : 'lightning-talks-05-15-A'
        , 'track2'    : ''
      }
      , {
          'slot'      : '06:00 pm'
        , 'track1'     : 'social'
        , 'track2'    : ''
        , 'duration'  : '30 mins'
      }    
    ]
  }
%}