{%
  set types = {
      'app-demos' : {
        'title'     : 'App Demos'
    }
    , 'hardware' : {
        'title' : 'Hardware'
    }
    , 'datasync' : {
        'title' : 'DataSync'
    }
    , 'iot' : {
        'title' : 'IOT'
    }
    , 'ui-ux' : {
        'title' : 'UI/UX'
    }
    , 'versioning' : {
        'title' : 'Versioning'
    }
    , 'hands-on' : {
        'title' : 'Hands-on'
    }
  }
%}
{%
  set sessions = {
     'tba' : {
        'id'          : 'tba'
      , 'title'       : 'TBA'
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#tba'
      , 'funnel'      : ''
      , 'featured'    : true
    }
    , 'multi-modal-access' : {
        'id'          : 'multi-modal-access'
      , 'title'       : 'M.A.W.A- Multimodal Access Ware Android'
      , 'speaker'     : 'Gulzar Azad'
      , 'designation' : ''
      , 'type'        : 'versioning'
      , 'blurb'       : 'An overview of the challenges and expected technology changes in Android.'
      , 'link'        : 'conference#multi-modal-access'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1341-m-a-w-a-multimodal-access-ware-android'
      , 'featured'    : true
    }
    , 'abstract-ui-concepts' : {
        'id'          : 'abstract-ui-concepts'
      , 'title'       : 'Abstract UI Concepts'
      , 'speaker'     : 'Sriram Ramani'
      , 'designation' : ''
      , 'type'        : 'ui-ux'
      , 'blurb'       : 'Using unorthodox ways to build Android UIs.'
      , 'link'        : 'conference#abstract-ui-concepts'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1313-abstract-ui-concepts'
      , 'featured'    : true
    }
    , 'microsoft-keynote' : {
        'id'          : 'microsoft-keynote'
      , 'title'       : 'Microsoft-sponsored Keynote - An overview of developing mobile applications on the cloud'
      , 'speaker'     : 'Abhishek Narain'
      , 'title'       : 'Keynote: An overview of developing mobile applications on the cloud'
      , 'speaker'     : 'Sponsored by Microsoft'
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : 'Quickly get started with client agnostic backend without having to send much time. Also how to leverage highly scalable cloud for IoT scenarios. Learn how to power your media streaming apps, and mobile notifications with Cloud.'
      , 'link'        : 'conference#microsoft-keynote'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1345-an-overview-of-developing-mobile-applications-on-t'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'intel-workshop' : {
        'id'          : 'intel-workshop'
      , 'title'       : 'Cross Platform Tools to Grow your Market Reach.'
      , 'speaker'     : 'Intel-sponsored Workshop'
      , 'designation' : ''
      , 'type'        : 'hands-on'
      , 'blurb'       : 'The developer’s challenge is to move fast, excite users, and extend the business into new market segments and reach more users. This session will talk about about tools and strategies Intel is delivering to address the developer challenge.'
      , 'link'        : 'conference#intel-workshop'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1340-cross-platform-tools-to-grow-your-market-reach'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'mankind-nfc' : {
        'id'          : 'mankind-nfc'
      , 'title'       : 'One small tap for mankind: Exploring NFC and Host Card Emulation.'
      , 'speaker'     : 'Arnav Gupta'
      , 'designation' : ''
      , 'type'        : 'iot'
      , 'blurb'       : 'The plethora of actions achievable by that small tap of your phone, and surprisingly, NFC hasn’t been applied to as many fields as it should have been.'
      , 'link'        : 'conference#mankind-nfc'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1278-one-small-tap-for-mankind-exploring-nfc-and-host-c'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'material-design' : {
        'id'          : 'material-design'
      , 'title'       : 'New Material Design Patterns'
      , 'speaker'     : 'Soham Mondal'
      , 'designation' : ''
      , 'type'        : 'ui-ux'
      , 'blurb'       : 'Discover the new material design patterns introduced in Android L and understand how to implement the same.'
      , 'link'        : 'conference#material-design'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1337-new-material-design-patterns'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'ble-beacons-proximity' : {
        'id'          : 'ble-beacons-proximity'
      , 'title'       : 'Leveraging BLE beacons for proximity & positioning'
      , 'speaker'     : 'Shreyas B.'
      , 'designation' : ''
      , 'type'        : 'iot'
      , 'blurb'       : 'How Bluetooth low energy beacons can be leveraged to detect proximity and indoor positioning.'
      , 'link'        : 'conference#ble-beacons-proximity'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1317-leveraging-ble-beacons-for-proximity-positioning'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'deep-linking' : {
        'id'          : 'deep-linking'
      , 'title'       : 'Mobile Deep Linking'
      , 'speaker'     : 'Ramu K.C.'
      , 'designation' : ''
      , 'type'        : 'datasync'
      , 'blurb'       : 'Unlock the full potential of your Android app with Mobile Deep Linking.'
      , 'link'        : 'conference#deep-linking'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1315-mobile-deep-linking'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'okulus' : {
        'id'          : 'okulus'
      , 'title'       : 'okulus: Image effects to make your apps stand out'
      , 'speaker'     : 'Vinay S. Shenoy'
      , 'designation' : ''
      , 'type'        : 'ui-ux'
      , 'blurb'       : 'Okulus provides Android developers with a drop-in, easy to use method of applying these effects without worrying about performance and memory usage.'
      , 'link'        : 'conference#okulus'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1285-okulus-image-effects-to-make-your-apps-stand-out'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'freecharge' : {
        'id'          : 'freecharge'
      , 'title'       : 'What does it take to build an app like Freecharge?'
      , 'speaker'     : 'Raghuram Trikutam'
      , 'designation' : ''
      , 'type'        : 'hands-on'
      , 'blurb'       : 'What motivated us to change the design of an app that had already seen close to 4 million downloads and appreciation across the domain? What are the most important points that folks need to take into consideration while one speaks about UX?'
      , 'link'        : 'conference#freecharge'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1307-what-does-it-take-to-build-an-app-like-freecharge'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'glass-demo' : {
        'id'          : 'glass-demo'
      , 'title'       : 'Apps for your wrists and eyes - ( Demo on Google Glass along with app development on Android Wear)'
      , 'speaker'     : 'Kashi Vishwanath'
      , 'designation' : ''
      , 'type'        : 'iot'
      , 'blurb'       : ''
      , 'link'        : 'conference#glass-demo'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1269-apps-for-your-wrists-and-eyes-demo-on-google-glass'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'build-for-india' : {
        'id'          : 'build-for-india'
      , 'title'       : 'Android: Building for India. Gearing for 100 Million Users.'
      , 'speaker'     : 'Paresh Goel'
      , 'designation' : ''
      , 'type'        : 'datasync'
      , 'blurb'       : 'Come and learn about Android app optimisations (especially bandwidth) for a client server sync architecture.'
      , 'link'        : 'conference#build-for-india'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1333-android-building-for-india-gearing-for-100-million'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'open-source' : {
        'id'          : 'open-source'
      , 'title'       : 'Scaling Open Source'
      , 'speaker'     : 'Abishek Devkota'
      , 'designation' : ''
      , 'type'        : 'hands-on'
      , 'blurb'       : 'What does it take to nurture community engagement around an Open source project and how to scale it to commercial viability - The CyanogenMod way.'
      , 'link'        : 'conference#open-source'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1319-scaling-open-source'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'microsoft-workshop' : {
        'id'          : 'microsoft-workshop'
      , 'title'       : 'Microsoft-sponsored Workshop - Build, deploy and scale mobile applications with the cloud'
      , 'speaker'     : 'Praveen Srivatsa'
      , 'title'       : 'Build, Deploy and Scale mobile applications with the Cloud'
      , 'speaker'     : 'Microsoft-sponsored Workshop'
      , 'designation' : ''
      , 'type'        : 'hands-on'
      , 'blurb'       : 'In this session, we will look at how we can build mobile applications leveraging the power of the cloud. Using standard development platforms like Eclipse or Visual Studio, we see how we can add additional capabilities like authentication, notifications and offline support to our applications easily. We then take a look at deploying and monitoring these applications on the cloud and configuring our applications to scale on demand to reach a global audience.'
      , 'link'        : 'conference#microsoft-workshop'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1346-build-deploy-and-scale-mobile-applications-with-th'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'app-testing' : {
        'id'          : 'app-testing'
      , 'title'       : 'App Testing, CI and Automation'
      , 'speaker'     : 'Sukesh Soman'
      , 'designation' : ''
      , 'type'        : 'versioning'
      , 'blurb'       : 'An app is successful only if it is stable, has a well defined road map of features and is regularly updated. Improving productivity by letting a developer focus on development, goes a long way in achieving these.'
      , 'link'        : 'conference#app-testing'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1298-app-testing-ci-automation'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'hacking-android' : {
        'id'          : 'hacking-android'
      , 'title'       : 'Hacking through the Android source code.'
      , 'speaker'     : 'Arnav Gupta'
      , 'designation' : ''
      , 'type'        : 'hardware'
      , 'blurb'       : ''
      , 'link'        : 'conference#hacking-android'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1276-hacking-through-the-android-os-code'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'jerks' : {
        'id'          : 'jerks'
      , 'title'       : 'Triggering with jerks and falls.'
      , 'speaker'     : 'Chinmayi'
      , 'designation' : ''
      , 'type'        : 'hardware'
      , 'blurb'       : 'A session on what is involved  to convert your android phone to detect jerks and falls.'
      , 'link'        : 'conference#jerks'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1314-triggering-with-jerks-and-falls'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'parse' : {
        'id'          : 'parse'
      , 'title'       : 'Create your own social network app using Parse.com'
      , 'speaker'     : 'Varun'
      , 'designation' : ''
      , 'type'        : 'hands-on'
      , 'blurb'       : 'A session goes through the process of building a consumer Android app by taking an example of a simple social network.'
      , 'link'        : 'conference#parse'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1283-create-your-own-social-network-app-using-parse-com'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'delightful-ux' : {
        'id'          : 'delightful-ux'
      , 'title'       : 'Delightful User Experience'
      , 'speaker'     : 'Anusha Jayanti'
      , 'designation' : ''
      , 'type'        : 'ui-ux'
      , 'blurb'       : 'How to provide a delightful user experience that is actually going to work once it hits real life.'
      , 'link'        : 'conference#delightful-ux'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1334-delightful-user-experience'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'xamarin' : {
        'id'          : 'xamarin'
      , 'title'       : 'Say hello to Android in C# using Xamarin'
      , 'speaker'     : 'Nish'
      , 'designation' : ''
      , 'type'        : 'ui-ux'
      , 'blurb'       : 'Session focuses on Android development in C#! We will use Xamarin Studio, a free IDE, and build a cloud connected Android app.'
      , 'link'        : 'conference#delightful-ux'
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2014/1338-say-hello-to-android-in-c-using-xamarin'
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'flash-talks' : {
        'id'          : 'flash-talks'
      , 'title'       : 'Flash Talks'
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : 'hands-on'
      , 'blurb'       : ''
      , 'link'        : 'conference#flash-talks'
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'app-demos' : {
        'id'          : 'app-demos'
      , 'title'       : 'App Demo Sessions'
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : 'hands-on'
      , 'blurb'       : ''
      , 'link'        : 'conference#app-demos'
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , 'tea' : {
        'id'          : 'tea'
      , 'title'       : 'Tea'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#tea'      
      , 'featured'    : true
    }
    , 'high-tea' : {
        'id'          : 'high-tea'
      , 'title'       : 'High tea - sponsored by Epson'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#high-tea'      
      , 'featured'    : true
    }
    , 'lunch' : {
        'id'          : 'lunch'
      , 'title'       : 'Lunch'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#lunch'      
      , 'featured'    : true
    }
    , 'registration' : {
        'id'          : 'registration'
      , 'title'       : 'Registrations & Breakfast'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#lunch'      
      , 'featured'    : true
    }
    , 'welcome' : {
        'id'          : 'welcome'
      , 'title'       : 'Welcome'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#welcome'      
      , 'featured'    : true
    }
    , 'introductions' : {
        'id'          : 'introductions'
      , 'title'       : 'Introductions'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#introductions'      
      , 'featured'    : true
    }
    , 'social' : {
        'id'          : 'social'
      , 'title'       : 'Social'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#social'      
      , 'featured'    : true
    }
    , 'thanks-1' : {
        'id'          : 'thanks-1'
      , 'title'       : 'Thanking Volunteers, Communities and Sponsors'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#thanks-day1'      
      , 'featured'    : true
    }
    , 'thanks-2' : {
        'id'          : 'thanks-2'
      , 'title'       : 'Feedback session + Thanking EP'
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : 'conference#feedback'      
      , 'featured'    : true
    }
  }  
%}