{%
  set types = {
      'App-demos' : {
        'title'     : 'App Demos'
    }
    , 'DataSync' : {
        'title' : 'DataSync'
    }
    , 'IoT' : {
        'title' : 'IoT'
    }
    , 'UI/UX' : {
        'title' : 'UI/UX'
    }
    , '' : {
        'title' : ''
    }
  }
%}
{%
  set sessions = {
     '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }

   , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
   , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }


    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
   , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
   , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }

   , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }

   , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    }
   , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    } 
    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    } 
   , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    } 


    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    } 

    , '' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'designation' : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''
      , 'preview'     : ''
      , 'featured'    : true
    } 

    , 'welcome' : {
        'id'          : ''
      , 'title'       : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''      
      , 'featured'    : true
    }
    , 'introductions' : {
        'id'          : ''
      , 'title'       : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''      
      , 'featured'    : true
    }
    , 'social' : {
        'id'          : ''
      , 'title'       : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''      
      , 'featured'    : true
    }
    , 'closing-1' : {
        'id'          : ''
      , 'title'       : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''      
      , 'featured'    : true
    }
    , 'closing-2' : {
        'id'          : ''
      , 'title'       : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''      
      , 'featured'    : true
    }
    , 'keynote-10-00-C' : {
        'id'          : ''
      , 'title'       : ''
      , 'speaker'     : ''
      , 'sponsor'     : ''
      , 'type'        : ''
      , 'blurb'       : ''
      , 'link'        : ''
      , 'funnel'      : ''      
      , 'featured'    : true
    }
  }
%}
