{%
  set schedule = {
      'id'    : 'schedule-day1'
    , 'date'  : 'December 5 (Day 1)'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'title'    : 'Registration'
      }
      , {
          'slot'      : '09:15 am'
        , 'title'     : 'Introductions'
      }
      , {
          'slot'      : '9:30 am'
        , 'track1'    : 'tba'
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:15 am'
        , 'track1'    : 'microsoft-keynote'
        , 'track2'    : ''
      }
      , {
          'slot'      : '11:00 am'
        , 'title'    : 'Tea break'
      }
      , {
          'slot'      : '11:30 am'
        , 'track1'    : 'mankind-nfc'
        , 'track2'    : 'intel-workshop'
        , 'expand'    : '2'
      } 
      , {
          'slot'      : '12:15 pm'
        , 'track1'    : 'material-design'
      }
      , {
          'slot'      : '1:00 pm'
        , 'title'    : 'Lunch'
      }
      , {
          'slot'      : '2:15 pm'
        , 'track1'    : 'ble-beacons-proximity'
        , 'track2'    : 'glass-demo'
        , 'expand'    : '2'
      }
      , {
          'slot'      : '2:30 pm'
        , 'track1'    : 'deep-linking'
      }
      , {
          'slot'      : '2:45 pm'
        , 'track1'     : 'okulus'
        , 'track2'    : ''
      }    
      , {
          'slot'      : '3:00 pm'
        , 'track1'     : 'freecharge'
        , 'track2'    : ''
      }
      , {
          'slot'      : '3:45 pm'
        , 'title'     : 'high-tea'
      }
      , {
          'slot'      : '4:15 pm'
        , 'track1'     : 'flash-talks-1'
        , 'track2'    : ''
      }
    ]
  }
%}