{%
  set schedule = {
      'id'    : 'schedule-day2'
    , 'date'  : 'December 6 (Day 2)'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'title'    : 'Check-in &amp; Breakfast' 
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'    : 'build-for-india'
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:15 am'
        , 'track1'    : 'open-source'
        , 'track2'    : ''
      }
      , {
          'slot'      : '11:00 am'
        , 'title'     : 'Tea break'
      }
      , {
          'slot'      : '11:30 am'
        , 'track1'    : 'abstract-ui-concepts'
        , 'track2'    : 'microsoft-workshop'
        , 'expand'    : ['2', '2']
      }  
      , {
          'slot'      : '12:15 pm'
        , 'track1'    : 'app-testing'
      }
      , {
          'slot'      : '1:00 pm'
        , 'title'     : 'Lunch'
      }
      , {
          'slot'      : '2:00 pm'
        , 'track1'    : 'thanks-2'
        , 'track2'    : ''
      }
      , {
          'slot'      : '2:15 pm'
        , 'track1'    : 'jerks'
        , 'track2'    : 'hacking-android'
        , 'expand'    : ['2', '4']
      }
      , {
          'slot'      : '2:30 pm'
        , 'track1'    : 'parse'
      }
      , {
          'slot'      : '2:45 pm'
        , 'track1'    : 'delightful-ux'
      }
      , {
          'slot'      : '3:00 pm'
        , 'track1'    : 'xamarin'
      }
      , {
          'slot'      : '3:45 pm'
        , 'title'     : 'Tea break'
      }

      , {
          'slot'      : '4:15 pm'
        , 'track1'     : 'mobile-chrome-apps'
      }
      , {
          'slot'      : '4:30 pm'
        , 'track1'    : 'app-demos'
        , 'track2'    : ''
      }
    ]
  }
%}