{%
  set schedule = {
      'id'    : 'schedule-day1 '
    , 'date'  : '5 Dec'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'title'     : 'Registrations and breakfast'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'     : 'introductions'
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:00 am'
        , 'track1'     : 'welcome'
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:45 am'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '11:30 am'
        , 'title'     : 'Tea break'
        , 'duration'  : '15 mins'
      }
      , {
          'slot'      : '11:45 am'
        , 'track1'    : ''
        , 'track2'    : 'session-'
      }
      , {
          'slot'      : '12:30 am'
        , 'track1'    : ''
        , 'track2'    : ''
      }   
      , {
          'slot'      : '01:15 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : ''
      }
      , {
          'slot'      : '02:15 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '03:00 pm'
        , 'track1'    : ''
        , 'track2'    : 'demo-03-00-B'
      }
      , {
          'slot'      : '03:45 pm'
        , 'title'     : 'Tea break'
        , 'duration'  : '15 mins'
      }
      , {
          'slot'      : '04:00 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '04:45 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '05:30 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      } 
      , {
          'slot'      : '06:15 pm'
        , 'track1'    : 'closing-1'
        , 'track2'    : ''
      }   
    ]
  }
%}