{%
  set schedule = {
      'id'    : 'schedule-day2'
    , 'date'  : '6th dec'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'title'     : 'Registrations and breakfast'
        , 'track2'    : ''
        , 'duration'  : ''
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:00 am'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:45 am'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '11:30 am'
        , 'title'     : 'Tea break'
        , 'duration'  : '15 mins'
      }
      , {
          'slot'      : '11:45 am'
        , 'track1'    : '' 
        , 'track2'    : ''      
      }
      , {
          'slot'      : '12:30 am'
        , 'track1'    : ''
        , 'track2'    : ''
      }   
      , {
          'slot'      : '01:15 pm'
        , 'title'     : 'Lunch'
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '02:15 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '03:00 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '03:45 pm'
        , 'title'     : ''
        , 'duration'  : ''
      }
      , {
          'slot'      : '04:00 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      }
      , {
          'slot'      : '04:45 pm'
        , 'track1'    : ''
      }
      , {
          'slot'      : '05:30 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      } 
      , {
          'slot'      : '06:15 pm'
        , 'track1'    : ''
        , 'track2'    : ''
      }    
    ]
  }
%}