{%
  set venue = {
      'title'       : 'MLR Convention Centre'
    , 'subtitle'    : 'JP Nagar'
    , 'poster'      : 'https://images.hasgeek.com/embed/file/a54971baf87f4d4598a6d1bfed41614a'
    , 'address'     : 'MLR Convention Centre, <br />Brigade Millenium Complex <br>J.P. Nagar 7th Phase <br>Bangalore  <br />Karnataka  India'
    , 'map'         : {
        'osm'       : {
            'label' : 'MLR Convention Centre, JP Nagar'
          , 'zoom'  : 14
          , 'marker': '12.891690, 77.585067'
        }
      , 'google'    : 'http://bit.ly/1twh4t5'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
    , 'directions'  : [
      {
        'from'      : ''
        , 'route'     : '<p>MLR Convention Centre, JP Nagar is easily accessible from the various nodes of Bangalore.</p>'
      }
      , {
          'from'      : 'Whitefield: 29 Kms'
      }
      , {
          'from'      : 'MG Road: 11 kms'
      }
      , {
          'from'      : 'Indiranagar: 14.7 kms'
      }
    ]
  }
%}

