{%
  set venue = {
      'title'       : 'MLR Convention Centre'
    , 'subtitle'    : 'Whitefield'
    , 'poster'      : theme_static('img/venue.jpg')
    , 'address'     : 'MLR Convention Centre, <br />Dyvasandra Industrial Layout <br>Mahadevapura, Whitefield <br>Bangalore 560 048 <br />Karnataka  India'
    , 'map'         : {
        'osm'       : {
            'label' : 'MLR Convention Centre, Whitefield'
          , 'zoom'  : 14
          , 'marker': '12.99907, 77.70181'
        }
      , 'google'    : 'http://goo.gl/maps/9IDoI'
    }
    , 'city'        : {
          'title'       : 'Bangalore'
        , 'map'         : {
            'osm'       : {
              'label'   : 'Bangalore'
            , 'zoom'    : 3
            , 'marker'  : '12.9833, 77.5833'
          }
        }
        , 'address'     : 'Bangalore<br>Karnataka<br>India'
    }
    , 'directions'  : [
      {
        'from'      : ''
        , 'route'     : '<p>MLR Convention Centre, Whitefield is just off the main Whitefield Road and is easily accessible from the various nodes of Bangalore.</p>'
      }
      , {
          'from'      : 'BIAL Airport: 46 Kms'
      }
      , {
          'from'      : 'MG Road: 10 kms'
      }
      , {
          'from'      : 'Indiranagar: 7 kms'
      }
    ]
  }
%}

