{%
  set schedule = {
      'id'    : 'schedule-day2'
    , 'date'  : '6 Dec'
    , 'list'  : [
        {
          'slot'      : '08:30 am'
        , 'track1'    : 'registration'      
        , 'duration'  : '1 hr'
      }
      , {
          'slot'      : '09:30 am'
        , 'track1'     : 'build-for-india'
        , 'track2'    : ''
      }
      , {
          'slot'      : '10:15 am'
        , 'track1'     : 'tba'
        , 'track2'    : ''
      }
      , {
          'slot'      : '11:00 am'
        , 'track1'     : 'tea'
        , 'track2'    : ''
      }
      , {
          'slot'      : '11:30 am'
        , 'track1'     : ''
        , 'track2'    : 'microsoft-workshop'
        , 'duration'  : '1 hr 30 mins'
      }
      , {
          'slot'      : '11:30 am'
        , 'track1'     : 'abstract-ui-concepts'
        , 'track2'    : ''
      }   
      , {
          'slot'      : '12:15 pm'
        , 'track1'     : 'app-testing'
        , 'track2'    : ''
      }
      , {
          'slot'      : '1:00 pm'
        , 'track1'     : 'lunch'
        , 'track2'    : ''
      }
      , {
          'slot'      : '2:15 pm'
        , 'track1'     : ''
        , 'track2'    : 'hacking-android'
        , 'duration'  : '1 hr 30 mins'
      }
      , {
          'slot'      : '2:15 pm'
        , 'track1'     : 'jerks'
        , 'track2'    : ''
      }
      , {
          'slot'      : '2:30 pm'
        , 'track1'     : 'delightful-ux'
        , 'track2'    : ''
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '3:00 pm'
        , 'track1'     : 'tba'
        , 'track2'    : ''
        , 'duration'  : '30 mins'
      }
      , {
          'slot'      : '3:45 pm'
        , 'track1'     : 'tea'
        , 'track2'    : ''
      }
      , {
          'slot'      : '4:15 pm'
        , 'track1'     : 'app-demos'
        , 'track2'    : ''
      }
    ]
  }
%}