{%
  set items = [
    {
        'title'       : 'Session'
      , 'speaker'     : 'Satyajeet Singh'
      , 'designation' : 'Sr Product Manager, Cleartrip Mobile'
      , 'type'        : 'Business'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie gravida diam, non egestas odio porta vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce et euismod lacus. Nullam iaculis arcu nibh, a elementum felis aliquet a. Vestibulum tincidunt ante quam, at ultricies ipsum gravida id. Nulla sit amet nisl mollis, porttitor libero nec, fringilla leo. Morbi in pulvinar tellus. Proin eget elit ullamcorper, laoreet urna id, volutpat leo. Duis sit amet massa leo. Nam laoreet ut arcu vitae dignissim.'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/Satyajeet_Singh.jpg')
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2013/'
      , 'preview'     : 'https://hasgeek.tv/droidconin/'
      , 'featured'    : true
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Thiyagarajan M'
      , 'designation' : 'Innovation Leader & Manager, Intuit'
      , 'type'        : 'Business'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie gravida diam, non egestas odio porta vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce et euismod lacus. Nullam iaculis arcu nibh, a elementum felis aliquet a. Vestibulum tincidunt ante quam, at ultricies ipsum gravida id. Nulla sit amet nisl mollis, porttitor libero nec, fringilla leo. Morbi in pulvinar tellus. Proin eget elit ullamcorper, laoreet urna id, volutpat leo. Duis sit amet massa leo. Nam laoreet ut arcu vitae dignissim.'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/Thiyagarajan.jpg')
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2013/'
      , 'preview'     : 'https://hasgeek.tv/droidconin/'
      , 'featured'    : true
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Kavin Mittal'
      , 'designation' : 'Head of Product Strategy at Bharti Softbank & Hike'
      , 'type'        : 'Business'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie gravida diam, non egestas odio porta vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce et euismod lacus. Nullam iaculis arcu nibh, a elementum felis aliquet a. Vestibulum tincidunt ante quam, at ultricies ipsum gravida id. Nulla sit amet nisl mollis, porttitor libero nec, fringilla leo. Morbi in pulvinar tellus. Proin eget elit ullamcorper, laoreet urna id, volutpat leo. Duis sit amet massa leo. Nam laoreet ut arcu vitae dignissim.'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/Kavin_Mittal.jpg')
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2013/'
      , 'preview'     : 'https://hasgeek.tv/droidconin/'
      , 'featured'    : true
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Anuj Tandon'
      , 'designation' : 'Co Founder at Rolocule Games'
      , 'type'        : 'Gaming'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie gravida diam, non egestas odio porta vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce et euismod lacus. Nullam iaculis arcu nibh, a elementum felis aliquet a. Vestibulum tincidunt ante quam, at ultricies ipsum gravida id. Nulla sit amet nisl mollis, porttitor libero nec, fringilla leo. Morbi in pulvinar tellus. Proin eget elit ullamcorper, laoreet urna id, volutpat leo. Duis sit amet massa leo. Nam laoreet ut arcu vitae dignissim.'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/Anuj_Tandon.jpg')
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2013/'
      , 'preview'     : 'https://hasgeek.tv/droidconin/'
      , 'featured'    : true
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Ramprakash R'
      , 'designation' : 'Sr Design Strategist at Khosla Labs'
      , 'type'        : 'UI/UX'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie gravida diam, non egestas odio porta vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce et euismod lacus. Nullam iaculis arcu nibh, a elementum felis aliquet a. Vestibulum tincidunt ante quam, at ultricies ipsum gravida id. Nulla sit amet nisl mollis, porttitor libero nec, fringilla leo. Morbi in pulvinar tellus. Proin eget elit ullamcorper, laoreet urna id, volutpat leo. Duis sit amet massa leo. Nam laoreet ut arcu vitae dignissim.'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/Ramprakash_R.jpg')
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2013/'
      , 'preview'     : 'https://hasgeek.tv/droidconin/'
      , 'featured'    : true
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Varun Krishnan'
      , 'designation' : 'CEO and Founder of FoneArena.com'
      , 'type'        : 'Business'
      , 'blurb'       : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie gravida diam, non egestas odio porta vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce et euismod lacus. Nullam iaculis arcu nibh, a elementum felis aliquet a. Vestibulum tincidunt ante quam, at ultricies ipsum gravida id. Nulla sit amet nisl mollis, porttitor libero nec, fringilla leo. Morbi in pulvinar tellus. Proin eget elit ullamcorper, laoreet urna id, volutpat leo. Duis sit amet massa leo. Nam laoreet ut arcu vitae dignissim.'
      , 'link'        : 'conference#session-10-00-A'
      , 'photo'       : theme_static('img/speakers/Varun_Krishnan.jpg')
      , 'funnel'      : 'https://funnel.hasgeek.com/droidcon2013/'
      , 'preview'     : 'https://hasgeek.tv/droidconin/'
      , 'featured'    : true
    }
  ]
%}