{%
  set items = [
    {
        'title'       : 'Session'
      , 'speaker'     : 'Aditya Sharat'
      , 'designation' : 'Software Development Engineer at Flipkart'
      , 'type'        : ''
      , 'photo'       : 'https://images.hasgeek.com/embed/file/cbae9372be7d410b82f231a77cc88b6f'
      , 'title'       : 'Proteus: Android Layout Engine'
      , 'funnel_url'         : 'https://droidconin.talkfunnel.com/2016/65-proteus-android-layout-engine'
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Garima Jain'
      , 'designation' : 'Android Developer at Fueled Digital Media Ltd'
      , 'type'        : ''
      , 'photo'       : 'https://images.hasgeek.com/embed/file/7bd2807cd02347ec8f5f7613f554eb4b'
      , 'title'       : 'Rxify— a simple spell for complex RxJava operators'
      , 'funnel_url'         : 'https://droidconin.talkfunnel.com/2016/94-rxify-a-simple-spell-for-complex-rxjava-operators'
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Piotr Gurgul'
      , 'designation' : 'Android developer at Dropbox'
      , 'type'        : ''
      , 'photo'       : 'https://images.hasgeek.com/embed/file/b55a2927e3434545acfc7755c20be62c'
      , 'title'       : 'Android development at Dropbox'
      , 'funnel_url'         : 'https://droidconin.talkfunnel.com/2016/20-android-development-at-dropbox'
    }
  ]
%}