{%
  set items = [
    {
        'title'       : 'Session'
      , 'speaker'     : 'Aditya Sharat'
      , 'designation' : 'Software Development Engineer at Flipkart'
      , 'type'        : ''
      , 'photo'       : 'https://images.hasgeek.com/embed/file/cbae9372be7d410b82f231a77cc88b6f'
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Garima Jain'
      , 'designation' : 'Android Developer at Fueled Digital Media Ltd'
      , 'type'        : ''
      , 'photo'       : 'https://images.hasgeek.com/embed/file/7bd2807cd02347ec8f5f7613f554eb4b'
    }
    , {
        'title'       : 'Session'
      , 'speaker'     : 'Piotr Gurgul'
      , 'designation' : 'Android developer at Dropbox'
      , 'type'        : ''
      , 'photo'       : 'https://images.hasgeek.com/embed/file/b55a2927e3434545acfc7755c20be62c'
    }
  ]
%}