{% 
  set event = {
      'title' : 'Hackathon'
    , 'id'    : 'talks'
    , 'blurb' : '<p>Droidcon Hackathon is a 24 hour of hackathon followed by demos and prizes. This is open to all android developers, though it is free to Droidcon conference ticket purchasers.</p>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row black secondary-prose">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 space-half-top">Droidcon India<br>attendees:<br><a class="space-half-top button" href="https://hacknight.in/droidconin/2013-bangalore" target="_blank">register <span class="hidden-xs">here</span></a></div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 space-half-top">Those who don\'t have<br>conference pass:<br><a href="http://droidcon.doattend.com/" class="space-half-top button button-on-dark" target="_blank"><span class="hidden-xs">Buy</span> ticket</a></div>
        </div>
      </div>
    </div>'
  }
%}

{% 
  set nav = [
    {
        'display' : 'About'
      , 'link'    : 'hackathon#about'
    }
    , {
        'display' : 'Prizes'
      , 'link'    : 'hackathon#prizes'
    }
    , {
        'display' : 'Offers'
      , 'link'    : 'hackathon#offers'
    }
    , {
        'display' : 'Venue'
      , 'link'    : 'hackathon#venue'
    }
  ] 
%}

