{%
  set items = [
    {
        'id'    : 'aravind'
      , 'name'  : 'Aravind Krishnaswamy'
      , 'title' : 'Program Chair & Business track'
      , 'designation': 'Levitum'
      , 'link'  : 'https://twitter.com/twitortat'
      , 'twitter' : 'twitortat' 
      , 'photo' : theme_static('img/program-committee/Aravind_Krishnaswamy.jpg')
    }
    , {
        'id'    : 'amrit'
      , 'name' : 'Amrit Sanjeev'
      , 'title' : 'App Demos track'
      , 'designation': 'Intuit and Blrdroid'
      , 'link'  : 'https://twitter.com/amsanjeev'
      , 'twitter' : 'amsanjeev' 
      , 'photo' : theme_static('img/program-committee/Amrit_Sanjeev.jpg')
    }
    , {
        'id'    : 'kumar'
      , 'name' : 'Kumar Rangarajan'
      , 'title' : 'Systems track'
      , 'designation': 'LittleEyeLabs'
      , 'link'  : 'https://twitter.com/kumrr'
      , 'twitter' : 'kumrr'       
      , 'photo' : theme_static('img/program-committee/Kumar_Rangarajan.jpg')
    }
    , {
        'id'    : 'rahul'
      , 'name' : 'Rahul Gonsalves'
      , 'title' : 'UX track'
      , 'designation': 'UnCommon'
      , 'link'  : 'https://twitter.com/gonsalves_r'
      , 'twitter' : 'gonsalves_r'
      , 'photo' : theme_static('img/program-committee/Rahul_Gonsalves.jpg')
    }
    , {
        'id'    : 'ravi'
      , 'name' : 'Ravi Korukonda'
      , 'title' : 'Gaming track'
      , 'designation': 'PurpleTalk'
      , 'link'  : 'https://twitter.com/RaviKorukonda'
      , 'twitter' : 'RaviKorukonda'
      , 'photo' : theme_static('img/program-committee/Ravi_Korukonda.jpg')
    }
    , {
        'id'    : 'soham'
      , 'name' : 'Soham Mondal'
      , 'title' : 'Workshops'
      , 'designation': 'Triveous and Blrdroid'
      , 'link'  : 'https://twitter.com/s0h4m'
      , 'twitter' : 's0h4m'
      , 'photo' : theme_static('img/program-committee/Soham_Mondal.jpg')
    }
  ]
%}