{%
  set items = [
      {
      'id'    : 'aravind'
    , 'title' : 'Aravind Krishnaswamy'
    , 'link'  : 'https://twitter.com/twitortat'
    }
    , {
        'id'    : 'amrit'
      , 'title' : 'Amrit Sanjeev'
      , 'link'  : 'https://twitter.com/amsanjeev'
    }
    , {
        'id'    : 'kumar'
      , 'title' : 'Kumar Rangarajan'
      , 'link'  : 'https://twitter.com/kumrr'
    }
    , {
        'id'    : 'rahul'
      , 'title' : 'Rahul Gonsalves'
      , 'link'  : 'https://twitter.com/gonsalves_r'
    }
    , {
        'id'    : 'prashant'
      , 'title' : 'Prashant Singh'
      , 'link'  : 'https://twitter.com/pacificleo'
    }
    , {
        'id'    : 'ravi'
      , 'title' : 'Ravi Korukonda'
      , 'link'  : 'https://twitter.com/RaviKorukonda'
    }
    , {
        'id'    : 'soham'
      , 'title' : 'Soham Mondal'
      , 'link'  : 'https://twitter.com/s0h4m'
    }
  ]
%}