{%
  set items = [
    {
        'id'    : 'anusha'
      , 'name'  : 'Anusha Jayanti'
      , 'designation': 'Product-in-charge at Dexetra'
      , 'link'  : 'https://twitter.com/VennInDoubt'
      , 'twitter' : 'VennInDoubt' 
      , 'photo' : 'https://images.hasgeek.com/embed/file/35aebbbcc07343b891a26f135ca0f387'
    }
    , {
        'id'    : 'aditya'
      , 'name' : 'Aditya Shankar'
      , 'designation': 'Co-Founder, Director at Levitum Software Labs Pvt. Ltd'
      , 'link'  : 'https://twitter.com/aditshankar'
      , 'twitter' : 'aditshankar' 
      , 'photo' : 'https://images.hasgeek.com/embed/file/d7c93e6d69634b1da1559314fce87b16'
    }
    , {
        'id'    : 'sudar'
      , 'name' : 'Sudar Muthu'
      , 'designation': 'Android enthusiast.'
      , 'link'  : 'https://twitter.com/sudarmuthu'
      , 'twitter' : 'sudarmuthu'       
      , 'photo' : 'https://images.hasgeek.com/embed/file/745d5d74967e453d9a730509b891a103'
    }
    , {
        'id'    : 'shree'
      , 'name' : 'Shree Kumar'
      , 'designation': 'Software Architect at Innominds'
      , 'link'  : 'https://twitter.com/shreekumar3d'
      , 'twitter' : 'shreekumar3d'
      , 'photo' : 'https://images.hasgeek.com/embed/file/af8e95a80bd5405fa654aa4e8d59971e'
    }
    , {
        'id'    : 'sriram'
      , 'name' : 'Sriram Ramani'
      , 'designation': 'Software Engineer at Facebook'
      , 'link'  : 'https://twitter.com/sriramramani'
      , 'twitter' : 'sriramramani'
      , 'photo' : 'https://images.hasgeek.com/embed/file/bc66f532caf943dfad0eee2644337638'
    }
    , {
        'id'    : 'umang'
      , 'name' : 'Umang Jaipuria'
      , 'designation': 'Co-Founder & CEO at Lattice Labs'
      , 'link'  : 'https://twitter.com/umang'
      , 'twitter' : 'umang'
      , 'photo' : 'https://images.hasgeek.com/embed/file/6997c0b6bc634f3bbc704bb559dd5f98'
    }
    , {
        'id'    : 'anenth'
      , 'name' : 'Anenth Guru'
      , 'designation': 'Software Engineer at Zendrive'
      , 'link'  : 'https://twitter.com/anenth'
      , 'twitter' : 'anenth'
      , 'photo' : 'https://images.hasgeek.com/embed/file/aaf657c8234a419eab1c37cd48652ed4'
    }
    , {
        'id'    : 'narayan'
      , 'name' : 'Narayan Babu'
      , 'designation': 'CEO, Dexetra'
      , 'link'  : 'https://twitter.com/nyn'
      , 'twitter' : 'nyn'
      , 'photo' : 'https://images.hasgeek.com/embed/file/817fb9a6e4e4436cac72121db035673c'
    }
  ]
%}