{%
  set items = [   
     {
        'title' : 'Intermediate/Advanced Android Workshops'
      , 'date'  : 'November 26 - 27'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Bangalore'
      , 'blurb' : 'Details coming soon..'
    }   
    , {
        'title' : 'Beginner level Android Workshops'
      , 'date'  : 'November 23 - 24'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Bangalore'
      , 'blurb' : 'Details coming soon..'
    }
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'November 09 - 10'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Hyderabad'
      , 'blurb' : 'Android UI/UX Hacknight'
    }    
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'October 26 - 27'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Pune'
      , 'blurb' : 'Details coming soon..'
    }  
    , {
        'title' : 'Android Developer Workshop'
      , 'date'  : 'October 25 - 27'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://androidworkshop.hasgeek.com/'
      , 'blurb' : 'Three-day hands-on workshop on Android.'
    }
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'October 19 - 20'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Chennai'
      , 'link'  : 'https://hacknight.in/droidconin/2013-chennai'
      , 'blurb' : 'Hacknight for developing android apps in analytics, social impact'
    }
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'October 19 - 20'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Cochin'
      , 'link'  : 'https://hacknight.in/droidconin/2013-cochin'
      , 'blurb' : 'Come on over with your android app ideas in mind and build them overnight!'
    }
    , {
        'title' : 'Droidcon & JSFoo Hackday'
      , 'date'  : 'September 22'
      , 'timeline'  : 'past'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://hacknight.in/droidconin/droidcon-jsfoo'
      , 'blurb' : 'A day of writing native and mobile web apps.'
    }
    , {
        'title' : 'App Store hacknight'
      , 'date'  : 'July 27 - 28'
      , 'timeline'  : 'past'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://hacknight.in/droidconin/2013-appstore'
      , 'blurb' : 'a weekend hackathon to get your app listed on multiple app stores.'
    }
  ]
%}