{%
  set items = [
    {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'November 09'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Hyderabad'
      , 'blurb' : 'Details coming soon..'
    }
    , {
        'title' : 'Android Workshop'
      , 'date'  : 'October 25 - 27'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://androidworkshop.hasgeek.com/'
      , 'blurb' : 'Three-day hands-on workshop on Android.'
    }
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'October 19 - 20'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Cochin'
      , 'blurb' : 'Details coming soon..'
    }
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'October 19 - 20'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Pune'
      , 'blurb' : 'Details coming soon..'
    }
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'October 19 - 20'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Chennai'
      , 'blurb' : 'Details coming soon..'
    }
    , {
        'title' : 'Droidcon & JSFoo Hackday'
      , 'date'  : 'September 22'
      , 'timeline'  : 'past'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://hacknight.in/droidconin/droidcon-jsfoo'
      , 'blurb' : 'A day of writing native and mobile web apps.'
    }
    , {
        'title' : 'App Store hacknight'
      , 'date'  : 'July 27 - 28'
      , 'timeline'  : 'past'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://hacknight.in/droidconin/2013-appstore'
      , 'blurb' : 'a weekend hackathon to get your app listed on multiple app stores.'
    }
  ]
%}