{%
  set items = [   
     {
        'title' : 'Advanced Android Workshop'
      , 'date'  : 'November 26 - 27'
      , 'timeline'  : 'upcoming'
      , 'venue' : 'Bangalore'
      , 'link'  : '/2013/workshops#advanced-android-workshop'
      , 'blurb' : 'Two-day intensive hands-on workshops that dives deep into the advanced techniques of Android development.'
    }   
    , {
        'title' : 'Beginner\'s Android Workshop'
      , 'date'  : 'November 23 - 24'
      , 'timeline'  : 'past'
      , 'venue' : 'Bangalore'
      , 'link'  : '/2013/workshops#beginners-android-workshop'
      , 'blurb' : 'A hands-on introduction to android app development for newbies'
    }   
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'October 26 - 27'
      , 'timeline'  : 'past'
      , 'venue' : 'Pune'
      , 'link'  : 'https://hacknight.in/droidconin/2013-pune'
      , 'blurb' : 'Can you build an android app in 18 hours? If yes, come and build an awesome app.'
    }  
    , {
        'title' : 'Android Developer Workshop'
      , 'date'  : 'October 25 - 27'
      , 'timeline'  : 'past'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://androidworkshop.hasgeek.com/'
      , 'blurb' : 'Three-day hands-on workshop on Android.'
    }
    , {
        'title' : 'Droidcon Hacknight'
      , 'date'  : 'October 19 - 20'
      , 'timeline'  : 'past'
      , 'venue' : 'Chennai'
      , 'link'  : 'https://hacknight.in/droidconin/2013-chennai'
      , 'blurb' : 'Build an android app overnight in Analytics, P2P Networking & Social Impact.'
    }
    , {
        'title' : 'Droidcon & JSFoo Hackday'
      , 'date'  : 'September 22'
      , 'timeline'  : 'past'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://hacknight.in/droidconin/droidcon-jsfoo'
      , 'blurb' : 'A day of writing native and mobile web apps.'
    }
    , {
        'title' : 'App Store hacknight'
      , 'date'  : 'July 27 - 28'
      , 'timeline'  : 'past'
      , 'venue' : 'Bangalore'
      , 'link'  : 'https://hacknight.in/droidconin/2013-appstore'
      , 'blurb' : 'a weekend hackathon to get your app listed on multiple app stores.'
    }
  ]
%}