{%
  set items = [
    {
        'type'        : 'Regular'
      , 'category'    : 'conference'
      , 'price'       : '2600'
      , 'end_date'    : '24th November 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of talks &amp; discussions</li>
                          <li>Droidcon Hackathon</li>
                          <li>Expo area &amp; hacker corners</li>
                          <li>Breakfast &amp; Lunch</li>
                        </ul>'
    }
    ,{
        'type'        : 'Corporate'
      , 'category'    : 'conference'
      , 'price'       : '6000'
      , 'end_date'    : '27th November 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of talks &amp; discussions + Hackathon</li>
                          <li>Event T-Shirt</li>
                          <li>Ticket sponsorship credit</li>
                          <li>Custom invoice</li>
                        </ul>'
    }
    ,{
        'type'        : 'Student'
      , 'category'    : 'conference'
      , 'price'       : '1800'
      , 'end_date'    : '27th November 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'package'     : '<ul>
                          <li>Two days of talks &amp; discussions</li>
                          <li>Droidcon Hackathon</li>
                          <li>Expo area &amp; hacker corners</li>
                          <li>Breakfast &amp; Lunch</li>
                        </ul>'
    }
    ,{
        'type'        : 'Beginner level Workshop'
      , 'category'    : 'workshop'
      , 'price'       : '1000'
      , 'end_date'    : '22nd November 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'link'        : 'http://beginnerandroid.doattend.com/'
      , 'package'     : '<ul>
                          <li>2 days of workshop with 4 instructors</li>
                          <li><a href="/2013/workshops#beginners-android-workshop">More info >></a></li>
                        </ul>'
    }
    ,{
        'type'        : 'Advanced Workshops'
      , 'category'    : 'workshop'
      , 'price'       : '400 for each session'
      , 'end_date'    : '25th November 2013'
      , 'closed_msg'  : ''
      , 'open'        : true
      , 'link'        : 'http://advancedandroid.doattend.com/'
      , 'package'     : '<ul>
                          <li>7 workshops scheduled over 2 days</li>
                          <li><a href="/2013/workshops#advanced-android-workshop">More info >></a></li>
                        </ul>'
    }
  ]
%}