{%
  set items = [
    {
        'type'        : '<a href="android-basics-workshop">Android Basics Workshop</a>'
      , 'price'       : '4000'
      , 'open'        : true
      , 'package'     : 'This ticket includes: <ul><li>Entry to the Android Basics workshop on 12th and 13th December</li><li>Food Coupons for breakfast, tea and lunch at the venue</li>'
      , 'location'    : 'TERI, Domlur'
    },
    {
        'type'        : '<a href="android-and-iot-workshop">Android and IoT Workshop</a>'
      , 'price'       : '3000'
      , 'open'        : true
      , 'package'     : 'This ticket includes: <ul><li>Entry to the Android and IoT workshop on 14 December</li><li>Food Coupons for breakfast, tea and lunch at the venue</li>'
      , 'location'    : 'TERI, Domlur'
    },
    {
        'type'        : '<a href="material-design-workshop">Material Design Workshop</a>'
      , 'price'       : '3000'
      , 'open'        : true
      , 'package'     : 'This ticket includes: <ul><li>Entry to the Material Design workshop on 15 December</li><li>Food Coupons for breakfast, tea and lunch at the venue</li>'
      , 'location'    : 'TERI, Domlur'
    },
    {
        'type'        : '<a href="#schedules" class="smooth-scroll">Conference</a>'
      , 'price'       : '4800'
      , 'open'        : true
      , 'package'     : 'This ticket includes: <ul><li>Entry to the droidconIN 2015 conference on 17 &amp; 18 December</li><li> Food Coupons for breakfast, tea and lunch at the venue</li> <li><a href="http://www.inshorts.com" target="_blank">inshorts</a> sponsored <a href="http://auravr.com/index.php" target="_blank">AuraVR</a> headset</li><li>Access to <a href="https://www.instamojo.com/medianama/mobile-internet-in-india-july-2015/" target="_blank">Medianama\'s Mobile Internet Report</a><li> Conference participant kit</li>'
      , 'location'    : 'MLR Convention Center, JP Nagar'
    }
  ]
%}