{%
  set items = [
    {
        'type'        : '<a href="https://droidconin.talkfunnel.com/2015/7-android-and-iot" target="_blank">IoT Workshop</a>'
      , 'price'       : '3000'
      , 'open'        : true
      , 'package'     : 'This ticket includes: <ul><li>Entry to the IoT workshop on 14 December</li><li>Food Coupons for breakfast, tea and lunch at the venue</li>'
      , 'location'    : 'TERI, Domlur'
    },
    {
        'type'        : '<a href="https://droidconin.talkfunnel.com/2015/34-delightful-apps-with-material-design" target="_blank">Material Design Workshop</a>'
      , 'price'       : '3000'
      , 'open'        : true
      , 'package'     : 'This ticket includes: <ul><li>Entry to the Material Design workshop on 15 December</li><li>Food Coupons for breakfast, tea and lunch at the venue</li>'
      , 'location'    : 'TERI, Domlur'
    },
    {
        'type'        : 'Regular geek'
      , 'price'       : '4800'
      , 'open'        : true
      , 'package'     : 'This ticket includes: <ul><li>Entry to the droidconIN 2015 conference on 17 &amp; 18 December</li><li> Food Coupons for breakfast, tea and lunch at the venue</li> <li><a href="http://www.inshorts.com" target="_blank">inshorts</a> sponsored <a href="http://auravr.com/index.php" target="_blank">AuraVR</a> headset</li><li>Access to <a href="https://www.instamojo.com/medianama/mobile-internet-in-india-july-2015/" target="_blank">Medianama\'s Mobile Internet Report</a><li> Conference participant kit</li>'
      , 'location'    : 'MLR Convention Center, JP Nagar'
    }
  ]
%}