{%
  set sessions = {
      '93-android-ndk-porting-native-softwares-to-android' : {
        'id'          : '93-android-ndk-porting-native-softwares-to-android'
      , 'title'       : 'Android NDK - Porting native softwares to Android'
      , 'speaker'     : ['Naman Dwivedi']
      , 'designation' : 'Android Developer'
      , 'duration'    : '3 hrs'
      , 'blurb'       : 'Android NDK provides a powerful set of tools to build and run native code in Android apps. Often times, an Andorid app will need to execute code written in such native code languages like C/C++ for doing some computationally intensive tasks or for simply reusing code libraries written in these languages. In this workshop, Naman will be talking about setting up the NDK and how to port existing softwares written in C/C++ to Android and Java.'
      , 'photos'       : ['https://images.hasgeek.com/embed/file/e936e08242ce49829ec32641657a1897']
      , 'funnel'      : 'https://droidconin.talkfunnel.com/2016/93-android-ndk-porting-native-softwares-to-android'
      , 'featured'    : true
    }
    , '61-building-watch-faces-for-android-wear' : {
        'id'          : '61-building-watch-faces-for-android-wear'
      , 'title'       : 'Building Watch Faces for Android Wear'
      , 'speaker'     : ['Chirag Aggarwal']
      , 'designation' : 'Android Developer, GO-JEK India'
      , 'duration'    : '2h: 30m'
      , 'blurb'       : 'With the sales of smartwatches overtaking luxury ones for the first time in Q4 2015, (refer this), time is not far when they will be our virtual assistants, will provide us information even before asked for, and will help us in being healthy too. Unlike traditional watches, Android wear lets you modify the watch dials on the fly, allowing you to Wear what you Want. In this workshop, you will learn how to build beautiful watch faces using the digital dynamic canvas of the Android Wear watches to tell time with colors and relevant contextual information.'
      , 'photos'       : ['https://images.hasgeek.com/embed/file/082a4d833d7e45eba7d90d70bbbc2367']
      , 'funnel'      : 'https://droidconin.talkfunnel.com/2016/61-building-watch-faces-for-android-wear'
      , 'featured'    : true
    }
    , '45-android-security-internals' : {
        'id'          : '45-android-security-internals'
      , 'title'       : 'Android Security Internals'
      , 'speaker'     : ['Kartik Lalan']
      , 'designation' : 'Security Engineer, Philips Innovation Campus'
      , 'duration'    : '3 hrs'
      , 'blurb'       : 'Security implementation from OS level, extending till App level security, covering best practices for making applications. Focus on how Security has been implemented from OS side, how certain vulnerabilities are exploited and what mistakes do app developers do which can be exploited. This will be a hands-on session, which will involve introduction to OS from scratch and will cover advance topics which followers can easily grasp. Pattern of workshop will be initial introduction to new concepts, then implementing them and Small challenges will be offered so that participants can relate with real world scenario.'
      , 'photos'       : ['https://images.hasgeek.com/embed/file/20f5115f5b464d3fa6e37928a8be2a6f']
      , 'funnel'      : 'https://droidconin.talkfunnel.com/2016/45-android-security-internals'
      , 'featured'    : false
    }
  }
%}
