{%
  set types = [
      {
        'id'    : 'beginners-android-workshop'
      , 'title' : 'Beginner\'s Android Workshop'
      , 'blurb' : 'A hands-on introduction to android app development mainly focused on newbies.'
      , 'date'  : '23 - 24 November 2013'
      , 'venue' : 'ThoughtWorks Technologies (India) Pvt Ltd. '
      , 'venue_address': 'ACR Mansion G + 3floors <br>147/F, 8th Main, 3rd Block <br>Koramangala, Bangalore-560034, India'
      , 'venue_map' : 'http://goo.gl/maps/RKoxa'
      , 'fill'  : ''
      , 'price' : '<span class="bold">Rs. 1000</span>'
      , 'link'  : 'http://beginnerandroid.doattend.com/'
      , 'speakercount': '4'
      , 'schedule' : '
      <table class="table table-bordered"><thead><tr>
        <th>DAY 1</th>
        <th>DAY 2</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>Android overview and history</td>
          <td>Advanced UI</td>
        </tr>
        <tr>
          <td>Main android building blocks</td>
          <td>Activity lifecycle</td>
        </tr>
        <tr>
          <td>Simple hello world program</td>
          <td>Threads</td>
        </tr>
        <tr>
          <td>Overview of the IDE</td>
          <td>Databases and content providers</td>
        </tr>
        <tr>
          <td>A sample android program, like a music player</td>
          <td>Uploading an application to the play store</td>
        </tr>
      </tbody>
    </table>'
    }
    , {
        'id'    : 'advanced-android-workshop'
      , 'title' : 'Intermediate/Advanced Android Workshops'
      , 'blurb' : 'Two-day intensive hands-on workshops that dives deep into the advanced techniques of Android development.'
      , 'date'  : '26 - 27 November 2013'
      , 'venue' : 'Will be announced soon..'
      , 'fill'  : 'blue'
      , 'price' : '<span class="bold">Rs. 400 for each workshop</span>'
      , 'link'  : 'http://advancedandroid.doattend.com/'
      , 'speakercount': '2'
    }
  ]
%}  
{%
  set items = [
    {
        'name'   : 'Anenth Guru'
      , 'id'      : 'anenth-guru'
      , 'type'    : 'beginners-android-workshop'
      , 'twitter'    : 'anenth'
      , 'designation': 'Developer and Co-founder at TripThirsty'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/c640e3f448d14e288eee8c8153264b43?size=300x300'
    }
    , {
        'name'   : 'Sandeep Bhaskar'
      , 'id'      : 'sandeep-bhaskar'
      , 'type'    : 'beginners-android-workshop'
      , 'twitter'    : 'sandeepbhaskar'
      , 'designation': 'Developer and Co-founder at TripThirsty'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/62ff465cf40044f580c4ec98cc5a4be6'
    }
    , {
        'name'   : 'Arunkumar Krishnamoorthy'
      , 'id'      : 'arunkumar-krishnamoorthy'
      , 'type'    : 'beginners-android-workshop'
      , 'twitter'    : 'arunramkrish'
      , 'designation': 'Founder & Chief Software Engineer at Ram Software Engineering Labs Pvt Ltd.'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/c188ec0ebb304e9ebec13daa20dab42e'
    }
    , {
        'name'   : 'Arvind Devaraj'
      , 'id'      : 'arvind-devaraj'
      , 'type'    : 'beginners-android-workshop'
      , 'twitter'    : 'arvind_devaraj'
      , 'designation': 'Android Professional and Technical Lead at NalandaU virtual university'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/36209e86ee5344ff98d7d3823ae608b4'
    }
    
    , {
        'name'   : 'Hiemanshu Sharma'
      , 'id'      : 'hiemanshu-sharma'
      , 'type'    : 'advanced-android-workshop'
      , 'twitter'    : 'hiemanshu'
      , 'designation': 'Co Founder at Mobule'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/655d1d52d1ca4c39ad1c3b2756dfa499'
      , 'title'   : 'Building your own ROMs'
      , 'session' : 'This is a workshop that will help you with building ROMs for the devices that are currently supported by CyanogenMod.<br>It will cover details on getting the source code (I will have a recent copy of it with me so we dont waste bandwidth), setting up your machine to build ROMs, and how to do the most common tasks and debugging that go on with building ROMs.'
      , 'funnel'  : 'https://funnel.hasgeek.com/droidcon2013/882-building-your-own-roms'
    }
    , {
        'name'   : 'Ravindra Kumar'
      , 'id'      : 'ravindra-kumar'
      , 'type'    : 'advanced-android-workshop'
      , 'twitter'    : 'ravidsrk'
      , 'designation': 'Front End Engineer at Cleartrip.com'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/a83f264a20af4e018083551031b1a91b'
      , 'title'   : 'Android Build, Test and Deploy with Gradle'
      , 'session' : 'The following topics are included in this workshop:<br>-&nbsp;Unit testing in the Dalvik Virtual Machine<br>-&nbsp;Testing with Spoon and Robotium<br>-&nbsp;Taking advantage of Android Logging<br>-&nbsp;UI testing with Spoon<br>-&nbsp;Integrating the build environment with Gradle'
      , 'funnel'  : 'https://funnel.hasgeek.com/droidcon2013/881-android-build-test-and-deploy-with-gradle'
    }
    , {
        'name'   : 'Leena S N'
      , 'id'      : 'leena-s-n'
      , 'type'    : 'advanced-android-workshop'
      , 'twitter'    : 'leenasn'
      , 'designation': 'Head of Engineering at Multunus'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/7d37efa268e343588ddd0a94b248ec61'
      , 'title'   : 'Unit Test your Android application using Robolectric'
      , 'session' : 'This workshop is for giving an overview on how to write faster, maintainable and behavioural tests using Robolectric, an Android Unit Testing Framework. At the end of the session, the attendees should be able to:<br>-&nnbsp;Learn about basic Android Unit Testing and understand the issues with the default AndroidTestRunner<br>-&nnbsp;Overview of Robolectric<br>-&nnbsp;How to write tests using Robolectric and run it in JVM [i.e. instead of Dalvik]<br>-&nnbsp;How to integrate Robolectric tests with your Continuous Integration Server such as Jenkins'
      , 'funnel'  : 'https://funnel.hasgeek.com/droidcon2013/886-unit-test-your-android-application-using-robolectr'
    }
    , {
        'name'   : 'Wingston Sharon'
      , 'id'      : 'wingston-sharon'
      , 'type'    : 'advanced-android-workshop'
      , 'twitter'    : 'wingston'
      , 'designation': 'Developer at Premiere Digital Services'
      , 'photo'   : 'https://imgee.s3.amazonaws.com/imgee/d70e30ca96e24e39a0712e68f1469bbe_w300_h300.jpeg'
      , 'title'   : 'OpenCV based app development on Android Devices'
      , 'session' : 'This workshop would focus on introducing basic image processing with the openCV image processing framework in Android. Participants can leatn how to set up a complete environment for OpenCV development in Eclipse and practically try out some image processing examples during the practical workshop on their android device. Participants can learn how to Integrate openCV for image processing real time video streams from the camera of any android device for their custom applications.'
      , 'funnel'  : 'https://funnel.hasgeek.com/droidcon2013/884-workshop-on-opencv-based-app-development-on-androi'
    }
    , {
        'name'   : 'Arvind Devaraj'
      , 'id'      : 'arvind-devaraj'
      , 'type'    : 'advanced-android-workshop'
      , 'twitter'    : 'arvind_devaraj'
      , 'designation': 'Android Professional and Technical Lead at NalandaU virtual university'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/36209e86ee5344ff98d7d3823ae608b4'
      , 'title'   : 'OpenGLES Graphics Programming in Android'
      , 'session' : 'The objective of this workshop is to get hands on experience in developing Graphics programs in Android. OpenGL is a 3D graphics API for rendering. Knowing the basics of openGLES will help to create better graphics programs . Also you can improve performance of the programs by utilizing the GPU'
      , 'funnel'  : 'https://funnel.hasgeek.com/droidcon2013/873-opengles-graphics-programming-in-android'
    }
    , {
        'name'   : 'Prajyot Mainkar'
      , 'id'      : 'prajyot-mainkar'
      , 'type'    : 'advanced-android-workshop'
      , 'twitter'    : 'prajyotm'
      , 'designation': 'Director - Androcid Media Pvt. Ltd'
      , 'photo'   : 'https://images.hasgeek.com/embed/file/428b621ff12c45a99873674458e0d5d0'
      , 'title'   : 'Bootstrapping Android Custom Views'
      , 'session' : 'Life is simple, when App is simple. But as you step on the complex UI, customization comes to the rescue. In this workshop, focus will be on pushing the Android UI framework onto the next scale allowing users to improve exisitng widgets, compound controls and craft the completely new views.'
      , 'funnel'  : 'https://funnel.hasgeek.com/droidcon2013/876-bootstrapping-android-custom-views'
    }
  ]
%}