{%
  set types = [
      {
        'id'    : 'beginners-android-workshop'
      , 'title' : 'Beginner\'s Android Workshop'
      , 'blurb' : 'A hands-on introduction to android app development mainly focused on newbies.'
      , 'date'  : '23 - 24 November 2013'
      , 'venue' : 'ThoughtWorks Technologies (India) Pvt Ltd. '
      , 'venue_address': 'ACR Mansion G + 3floors <br>147/F, 8th Main, 3rd Block <br>Koramangala, Bangalore-560034, India'
      , 'venue_map' : 'http://goo.gl/maps/RKoxa'
      , 'fill'  : ''
      , 'price' : '<span class="gray tiny">will be updated soon.</span>'
      , 'link'  : ''
      , 'schedule' : '
      <table class="table table-bordered"><thead><tr>
        <th>DAY 1</th>
        <th>DAY 2</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>Android overview and history</td>
          <td>Advanced UI</td>
        </tr>
        <tr>
          <td>Main android building blocks</td>
          <td>Activity lifecycle</td>
        </tr>
        <tr>
          <td>Simple hello world program</td>
          <td>Threads</td>
        </tr>
        <tr>
          <td>Overview of the IDE</td>
          <td>Databases and content providers</td>
        </tr>
        <tr>
          <td>A sample android program, like a music player</td>
          <td>Uploading an application to the play store</td>
        </tr>
      </tbody>
    </table>'
    }
    , {
        'id'    : 'advanced-android-workshop'
      , 'title' : 'Advanced Android Workshop'
      , 'blurb' : 'Two-day intensive hands-on workshops that dives deep into the advanced techniques of Android development. <p class="secondary-prose semibold dark">Details coming soon..</p>'
      , 'date'  : '26 - 27 November 2013'
      , 'venue' : 'Details coming soon..'
      , 'fill'  : 'green'
    }
  ]
%}  
{%
  set items = [
      {
        'name'   : 'Soham Mondal'
      , 'id'      : 'soham-mondal'
      , 'type'    : 'beginners-android-workshop'
      , 'twitter'    : 's0h4m'
      , 'designation': 'Co-founder and CEO at Triveous'
      , 'photo'   : theme_static('img/program-committee/Soham_Mondal.jpg')
    }
    , {
        'name'   : 'Anenth Guru'
      , 'id'      : 'anenth-guru'
      , 'type'    : 'beginners-android-workshop'
      , 'twitter'    : 'anenth'
      , 'designation': 'Developer and Co-founder at TripThirsty'
      , 'photo'   : theme_static('img/workshops/Anenth_Guru.jpg')
    }
    , {
        'name'   : 'Sandeep Bhaskar'
      , 'id'      : 'sandeep-bhaskar'
      , 'type'    : 'beginners-android-workshop'
      , 'twitter'    : 'sandeepbhaskar'
      , 'designation': 'Developer and Co-founder at TripThirsty'
      , 'photo'   : theme_static('img/workshops/Sandeep_Bhaskar.jpg')
    }
    , {
        'name'   : 'Amrit Sanjeev'
      , 'id'      : 'amrit-sanjeev'
      , 'type'    : 'beginners-android-workshop'
      , 'twitter'    : 'amsanjeev'
      , 'designation': 'Staff Engineer (Mobility) at Intuit'
      , 'photo'   : theme_static('img/program-committee/Amrit_Sanjeev.jpg')
    }
  ]
%}