{% 
  set event = {
      'title' : 'Workshops'
    , 'when'  : '18 — 19 September 2013'
    , 'blurb' : '<p>Workshops will cover Android frameworks</p>'
  }
%}
{% from theme("data/workshop-schedule.html") import schedule %}
{% if schedule is defined and schedule %}
  {% 
    set nav = [
        {
          'display' : 'Sessions + Schedule'
        , 'link'    : 'workshops#schedule'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'workshops#venue'
      }
    ] 
  %}
{% else %}
  {% 
    set nav = [
        {
          'display' : 'Sessions'
        , 'link'    : 'workshops#sessions'
      }
      , {
          'display' : 'Venue'
        , 'link'    : 'workshops#venue'
      }
    ] 
  %}
{% endif %}
{% 
  set action = '<a class="button" href="http://droidcon.doattend.com">Buy Workshop Tickets</a>'
%}
{% from theme("data/workshop-sessions.html") import sessions, types %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Sessions'
    , 'link'  : 'workshops#sessions'
    , 'list'  : sessions.values()
    , 'types' : types
  }
%}