{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule-day1.html") import schedule as schedule_day1 %}
{% from theme("data/conference-schedule-day2.html") import schedule as schedule_day2 %}
{%
  set page = {
      'title'       : 'Conference'
    , 'description' : ''
    , 'sections'    : [
        ('conference-intro',          'green')
      , ('conference-sessions', '')
      , ('conference-schedule-day1',  'blue')
      , ('color-index',  'blue')
      , ('conference-schedule-day2',  'dark')
      , ('conference-venue',          'green')
      , ('sponsors-summary',          'blue')
    ]
  }
%}
