{% from "baseframe/components.html" import networkbar with context -%}

<!DOCTYPE html>
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9">     <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js{%- if config['DEBUG'] %} wf-active{% endif %}">        <!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Droidcon India: Android Conference in Bangalore, India">
<meta name="author" content="HasGeek and friends">

<meta property="og:title" content="Droidcon India 2013"/>
<meta property="og:image" content="{{ request.url_root[:-1] }}{{ theme_static('img/logo.png') }}"/>
<meta property="og:url" content="{{ request.url }}"/>
<meta property="og:description" content="Droidcon India: Android Conference in Bangalore, India"/>

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<title>Droidcon India 2013</title>

{%- if _theme %}
  {% assets "css_" + _theme -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets -%}
{%- endif %}

<link href='//fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

<script src="{{ theme_static('js/vendor/modernizr-2.6.2.js') }}"></script>

</head>
<body style="font-family:'Roboto', Arial, sans-serif;font-size:15px;">
	<table class="table table-bordered">
		<thead style="background-color:#777777">
			<tr>
				<th style="font-weight:normal;color:#FFF;font-size:12px;" colspan="3">28 NOVEMBER 2013</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:#E5E5E5">11:45</td>
				<td align="center" style="width:30px;background-color:#EDA634;color:#fff;font-size:15px;line-height:14px;"><i class="icon-gamepad"></i></td>
				<td><span style="font-weight:500">Intel's Talk:</span> Game engines for Android</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">02:15</td>
				<td align="center" style="width:30px;background-color:#EDA634;color:#fff;font-size:15px;line-height:14px;"><i class="icon-gamepad"></i></td>
				<td><span style="font-weight:500">Meet Speaker:</span> Nilesh Jahagirdar</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">03:00</td>
				<td align="center" style="width:30px;background-color:#2D9DCD;color:#fff;"><i class="icon-briefcase"></i></td>
				<td><span style="font-weight:500">Meet Business Speakers</span></td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">03:00</td>
				<td align="center" style="width:30px;background-color:#CB1D1E;color:#fff;font-size:16px;line-height:14px;"><i class="icon-cog"></i></td>
				<td><span style="font-weight:500">Meet Speakers:</span> Satyam Kandula, Kumar Sukhani, Christopher Neugebauer</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">04:00</td>
				<td align="center" style="width:30px;background-color:#2D9DCD;color:#fff;"><i class="icon-briefcase"></i></td>
				<td>Sequoia Capital</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">04:00</td>
				<td align="center" style="width:30px;background-color:#CB1D1E;color:#fff;font-size:16px;line-height:14px;"><i class="icon-cog"></i></td>
				<td><span style="font-weight:500">Intel's Talk</span> Building android applications on Intel architecture</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">04:45</td>
				<td align="center" style="width:30px;background-color:#CB1D1E;color:#fff;font-size:16px;line-height:14px;"><i class="icon-cog"></i></td>
				<td><span style="font-weight:500">Intel's Talk:</span> Step by step walkthrough of NDK app porting to Intel architecture</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">05:30</td>
				<td align="center" style="width:30px;background-color:#EDA634;color:#fff;font-size:15px;line-height:14px;"><i class="icon-gamepad"></i></td>
				<td><span style="font-weight:500">Meet Speakers:</span> Manish Mathai, Samarth Shah, Amit Shukla</td>
			</tr>
		</tbody>
		<thead style="background-color:#777777">
			<tr>
				<th style="font-weight:normal;color:#FFF;font-size:12px;" colspan="3">29 NOVEMBER 2013</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="background-color:#E5E5E5">11:45</td>
				<td align="center" style="width:30px;background-color:#EDA634;color:#fff;font-size:18px;line-height:14px;"><i class="icon-mobile-phone"></i></td>
				<td>Design</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">12:30</td>
				<td align="center" style="width:30px;background-color:#EDA634;color:#fff;font-size:18px;line-height:14px;"><i class="icon-mobile-phone"></i></td>
				<td>Design</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">02:15</td>
				<td align="center" style="width:30px;background-color:#CB1D1E;color:#fff;font-size:16px;line-height:14px;"><i class="icon-cog"></i></td>
				<td><span style="font-weight:500">Meet Speakers:</span> Christopher Neugebauer, Sriram Ramani</td>
			</tr>
			<tr>
				<td style="background-color:#E5E5E5">05:30</td>
				<td align="center" style="width:30px;background-color:#CB1D1E;color:#fff;font-size:16px;line-height:14px;"><i class="icon-cog"></i></td>
				<td><span style="font-weight:500">Meet Speakers:</span> Bhaskar Gupta, Anshul Rai, Arun Joseph</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-bordered">
		<tbody>
			<tr>
				<td style="width:80px"><div style="height:60px;width:60px;background-image:url('https://imgee.s3.amazonaws.com/imgee/7b5998f0dd56408aa0307f6fae4e82f9_w60_h54.png');background-repeat:no-repeat;background-position:center center;background-size:100%;"></div></td>
				<td></td>
				<td style="width:30px; vertical-align:middle;"><i class="icon-chevron-down"></i></td>
			</tr>
			<tr>
				<td style="width:80px"><div style="height:60px;width:60px;background-image:url('https://imgee.s3.amazonaws.com/imgee/020703af89a0416a8cd2473235b8cc44_w80_h27.png');background-repeat:no-repeat;background-position:center center;background-size:100%;"></div></td>
				<td></td>
				<td style="width:30px; vertical-align:middle;"><i class="icon-chevron-down"></i></td>
			</tr>
			<tr>
				<td style="width:80px"><div style="height:60px;width:60px;background-image:url('https://imgee.s3.amazonaws.com/imgee/5372add71f7446338d29d61eae19046e_w60_h43.png');background-repeat:no-repeat;background-position:center center;background-size:100%;"></div></td>
				<td></td>
				<td style="width:30px; vertical-align:middle;"><i class="icon-chevron-down"></i></td>
			</tr>
			<tr>
				<td style="width:80px"><div style="height:60px;width:60px;background-image:url('https://imgee.s3.amazonaws.com/imgee/0d57cd51ab0549f5bf8f656e9b325ecb_w100_h33.png');background-repeat:no-repeat;background-position:center center;background-size:100%;"></div></td>
				<td></td>
				<td style="width:30px; vertical-align:middle;"><i class="icon-chevron-down"></i></td>
			</tr>
			<tr>
				<td style="width:80px"><div style="height:60px;width:60px;background-image:url('https://imgee.s3.amazonaws.com/imgee/187518a22c8d47b39e0395d44541181e_w60_h20.png');background-repeat:no-repeat;background-position:center center;background-size:100%;"></div></td>
				<td></td>
				<td style="width:30px; vertical-align:middle;"><i class="icon-chevron-down"></i></td>
			</tr>
		</tbody>
	</table>

</body>
</html>
