{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule-day1.html") import schedule as schedule_day1 %}
{% from theme("data/conference-schedule-day2.html") import schedule as schedule_day2 %}
{%
  set page = {
      'title'               : ''
    , ' description'         : ''
    , 'sections'            : [      
       ('event-themes',          '')
      , ('tickets',          'green')
      , ('hackathon-summary', 'fill-blue')
      , ('sponsors-summary',          'yellowgreen')
      , ('event-highlights',          'liblue')
      , ('venue-summary',             'dark')
      , ('past-highlights',           'lightblue')
    ]
  }
%}
{% block navtype %}
<div id="nav-home">
{% endblock %}

{% block banner %}
<header>
<div class="masthead-home">

<div class="header-image">
   <img src="https://images.hasgeek.com/embed/file/b78ecfd5c4ad4cadbcef84e09b3d8f1f?size=1296x768"  width="100%" height="auto" alt="logo" />

</div>
</div>   
</header>
{% endblock %}