{% extends theme('layouts/page.html') %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [
      ('past-highlights',    'white'),
      ('featured-speakers', 'dark'),
      ('workshop-sessions', ''),
      ('schedule',          'white'),
      ('testimonials',          'dark'),
      ('venue-summary',          'white'),
      ('sponsors-summary', '')
    ]
  }
%}

{% block navtype %}
<div id="nav-home">
<nav class="navbar navbar-default fill-white" id="site-nav" role="navigation">
  <div class="container-fluid sitebar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand green smooth-scroll" href="#circularheader">droidconIN</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#highlights" class="smooth-scroll">Highlights</a></li>
        <li><a href="#featured-talks" class="smooth-scroll">Featured talks</a></li>
        <li><a href="#schedules" class="smooth-scroll">Schedule</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="#sponsors" class="smooth-scroll">Sponsors</a></li>
        <li><a target="_blank" href="https://jobs.hasgeek.com/search?q=android">Jobs</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
          <ul class="dropdown-menu">        
            <li><a href="#about" class="smooth-scroll">About HasGeek</a></li>
            <li><a href="code-of-conduct">Code of conduct</a></li>
          </ul>
        </li>
      </ul>
    </div>  
  </div>
</nav>
</div>
{% endblock %}

{% block banner %}
<header id="circularheader">
  <div class="logo-bck">
    <img src="https://imgee.s3.amazonaws.com/imgee/8a751ebfd09c4001842c747bb9d73727_w500_h500.png" alt="droidconIN">
  </div>
  <div class="container text-center">
    <h3 class="legible semibold space-half">10&#8211;11 November 2016</h3>
    <h3 class="secondary-prose space-half">MLR Convention Centre, JP Nagar, Bangalore</h3>
    <h3 class="secondary-prose space-half tag-line clearfix"><i class="fa fa-quote-left pad-1q-right"></i>droidconIN is the biggest android conference in the region and is the place to be if you are into android development, design or architecture.<br><span class="tiny pull-right italic">- Co-organizer, BlrDroid</span></h3>
    <p>
      <a class="button tiny ticket-button" href="https://www.flickr.com/photos/hasgeek/albums" target="_blank">Photos</a>
      <a class="button tiny ticket-button gap-half-left" href="https://www.youtube.com/user/hasgeek/playlists" target="_blank">Videos</a>
    </p>
    <p><a class="tiny smooth-scroll click-btn" href="#schedules" target="_blank">See schedule</a></p>
    </p>
    <p class="legible link-silent space-half"><a href="#featured-talks" class="smooth-scroll fa fa-chevron-down scroll-down hidden-xs click-btn"></a></p>
  </div>
</header>
{% endblock %}
