{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule-day1.html") import schedule as schedule_day1 %}
{% from theme("data/conference-schedule-day2.html") import schedule as schedule_day2 %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [      
       ('event-themes',          '')
      , ('conference-schedule-day1', 'dark')
      , ('venue-summary',          'white')
      , ('sponsors-summary',          '')
    ]
  }
%}
{% block navtype %}
<div id="nav-home">
{% endblock %}

{% block banner %}
<!-- <header class="masthead-home fill-yellow">
  <div class="container">
    <div class="row sr-only">
      <div class="col-sm-12 col-xs-12 text-right">
        <h1>Droidcon India 2014</h1>
        <h2>Android conference</h2>
        
        <div class="intro row-fluid space-two-top">
          <div class="line4 thin">5 - 6 December 2014&nbsp;&nbsp;|&nbsp;&nbsp;Bangalore</div>
        </div>
        
        <p class="space-two-top space-two-bottom">
          <a class="button" href="http://droidcon.doattend.com/">Buy your Ticket</a>
        </p>
        <p><br></p>
      </div>

    </div>
  </div>
</header> -->
<header id="circularheader">
  <div>
    <img src="https://imgee.s3.amazonaws.com/imgee/d110341bb8b745c48a8cbc6246fc872d.png" alt="">
    <h1 class="sr-only">Droidcon India 2014</h1>
    <h3>5th &amp; 6th December 2014</h3>
    <h3 class="secondary-prose">MLR Convention Centre, JP Nagar, Bangalore</h3>
    <a class="button tiny">Get Tickets: Rs. 3200 (Early Geek)</a>
  </div>
</header>
{% endblock %}