{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule-day1.html") import schedule as schedule_day1 %}
{% from theme("data/conference-schedule-day2.html") import schedule as schedule_day2 %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [      
       ('event-themes',          '')
      , ('tickets',          'green')
      , ('featured-speakers',           'blue')
      , ('funnel-proposals',          '')
      , ('past-highlights',           'green')
      , ('venue-summary',             'dark')
      , ('sponsors-summary',          'dark')
    ]
  }
%}
{% block banner %}
<header class="masthead-home fill-blue"><!-- 
  <div class="left-bg"></div>
  <div class="right-bg"></div>
  <div class="center-bg"></div> -->
  <div class="container">
    <div class="row masthead-banner">
      <div class="span4">
        <h1>Droidcon India</h1>
      <a class="ir logo" href="/">Droidcon India 2013</a>
      </div>
      <div class="span8 text-right">
        <h2 class="green extrabold all-lower extralarge space-two-top">
          <span class="link">Conference</span><br>
          <i class="amp">&amp;</i>
          <span class="link">Workshops</span>
          <i class="on">on</i><br>
          <span class="link">Android</span>
        </h2>
        
        <div class="intro row-fluid prose prose-type thin space-two-top">
          <div class="large thin">28 - 30 November 2013  |  Bangalore</div>
        </div>
        
        <p class="secondary space-two-top">
          <a class="button" href="http://droidcon.doattend.com/">Buy your Ticket</a>
        </p>
        <p><br></p>
      </div>

    </div>
  </div>
</header>
{% endblock %}