{% extends theme('layouts/page.html') %}
{% from theme("data/conference-schedule-day1.html") import schedule as schedule_day1 %}
{% from theme("data/conference-schedule-day2.html") import schedule as schedule_day2 %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [      
       ('event-highlights',          'green')
      , ('event-themes',          'blue')
      , ('funnel-proposals',          '')
      , ('program-committee-summary', 'green')
      , ('featured-speakers',           'blue')
      , ('runup-events',          '')
      , ('past-highlights',           'green')
      , ('venue-summary',             'dark')
      , ('sponsors-summary',          'dark')
    ]
  }
%}
{% block banner %}
<header class="masthead-home">
  <div class="left-bg"></div>
  <div class="right-bg"></div>
  <div class="center-bg"></div>
  <div class="container">
    <div class="row masthead-banner">
      <div class="span4 left">
      <a class="ir logo" href="/">Droidcon India 2013</a>
      </div>
      <div class="span8 right">
        <h2 class="green calm all-lower extralarge-prose space-two-top">
          <span class="link">Conference</span>
          <i class="amp">&amp;</i>
          <span class="link">Workshops</span><br>
          <i class="on">on</i>
          <span class="link">Android</span>
          <i class="on">in</i>
          <span class="link">Bangalore</span>
        </h2>
        
        <div class="intro row-fluid text-left prose prose-type thin space-two-top">
          <p class="legible-prose">
            Droidcon is back! India's largest Android conference is on 28th - 30th November 2013 at the <a href="http://goo.gl/maps/9IDoI" target="_blank">MLR Convention Centre, Whitefield, Bangalore</a>. Join us for three days of in-depth, hands-on sessions on everything about Android.
          </p>
        </div>
        
        <p class="secondary space-three-top">
          <a class="button" href="http://droidcon.doattend.com/">Buy your Ticket</a>
        </p>
      </div>

    </div>
  </div>
</header>
{% endblock %}