{% extends theme('layouts/page.html') %}
{%
  set page = {
      'title'               : ''
    , 'description'         : ''
    , 'sections'            : [      
      ('videos',           'white')
    ]
  }
%}
{% block navtype %}
<div id="nav-home">
{% endblock %}

{% block banner %}
<header class="masthead-home fill-image"><!-- 
  <div class="left-bg"></div>
  <div class="right-bg"></div>
  <div class="center-bg"></div> -->
  <div class="container push-one-top push-two-bottom">
    <div class="row masthead-banner">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h1 class="logo-text-large extralarge space-two-top">
          <div class="text-center gray italic legible">Thank you for making</div>
          <div class="text-center bold push-1q">Droidcon India</div>
          <div class="text-center gray italic legible">A great success!</div>
          <p class="tiny space-two-top space-two-bottom">
          <a class="button" href="/2013/home">2013 Website</a>
          <a class="button" href="http://www.flickr.com/photos/hasgeek/sets/72157637995437074/">Photos</a>
        </p>
        </h1>
        <a class="ir logo-center" href="/">Droidcon India 2013</a>
      </div>

    </div>
  </div>
</header>
{% endblock %}


{% block nav %}
{% endblock %}