{% extends theme('layouts/page.html') %}
{%
  set page = {
      'title'       : 'Material Design Workshop'
    , 'description' : 'Workshop in droidconIN 2015'
  }
%}
{% block content %}
{% with %}
  {% from theme("data/sessions.html") import workshops %}
  {% 
    set session = {
        'id'    : ''
      , 'label' : ''
      , 'link'  : 'workshops#sessions'
      , 'list'  : [workshops['34-delightful-apps-with-material-design']]
      , 'types' : types
    }
  %}
  {% include theme("layouts/sessions.html") %}
{% endwith %}
{% with %}
{% include theme("layouts/schedule-table.html") %}
<section id="schedules" class="page-section clearfix fill-silver-hud push-two-top push-four-bottom">
  <div class="container schedule-container">
    <div class="text-center" id="conference-schedule">
      <h2 class="legible medium prose-type all-caps text-center space-one-top">Workshop Schedule</h2>
      <div class="schedule-table-container text-center" id="workshopschedule" data-date="15">
        <p class="text-center loadingtxt"><a class="button dark regular" href="https://droidconin.talkfunnel.com/2015/schedule">View Schedule</a></p>
      </div>
    </div>
  </div>  
</section>
{% endwith %}
{% with %}
  {% from theme("data/workshop-venue.html") import venues %}
  {% 
    set venues = {
        'id'    : 'workshop-venue'
      , 'title' : 'Workshop Venue'
      , 'link'  : 'workshops#venue'
      , 'list'  : [venues['venue1']]
      , 'types' : types
    }
  %}
  {% include theme("layouts/venue.html") %}
{% endwith %}
{% endblock %}