<section class="featured-speakers clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
  {% for item in items -%}
    {% if loop.first %}
    <div class="row-fluid space-three-top space-two-bottom">
      <h3 class="offset1 span11 legible all-caps space-one-bottom">Featured speakers</h3>
      <div class="offset1 span9 legible-prose prose prose-type">
        <ul class="space-half-top list-space-line list-plain link-silent row">
    {% endif %}
          <li class="span3 text-center">

          <img class="speaker-photo" src="{{ item.photo }}">
          <h3>{{ item.speaker }}</h3>
          <h5>{{ item.designation }}</h5>
          <h4>{{ item.type }} track</h4>
          </li>
    {% if loop.last %}
        </ul>
        <p class="tiny all-caps title-type text-right">
          <a href="{{ session.link }}">All {{ session.label }} &rarr;</a>
        </p>
      </div>    </div>
    {% endif %}
  {%- endfor %}
</section>

