<section class="featured-speakers push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
  <div class="row-fluid">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 large all-caps text-center space-two-bottom">Featured talks</h2>
  </div>
  {% for item in items -%}
    {% if loop.first %}
    <div class="row-fluid space-three-top">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 legible-prose prose prose-type">
        <ul class="space-half-top list-space-line list-plain row">
    {% endif %}
          <li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
            <span class="img-wrapper {% if item.type == 'business' %}theme-blue{% elif item.type == 'systems' %}theme-red{% elif item.type == 'gaming' %}theme-orange{% elif item.type == 'app-demos' %}theme-green{% elif item.type == 'ux' %}theme-violet{% else %}theme-transparent{% endif %}">
              <img class="photo" src="{{ item.photo }}">
            </span>
            <h3><a href="{{item.funnel_url}}" target="_blank" class="black">{{ item.title }}</a></h3>
            <h3>{{ item.speaker }}</h3>
            <h5>{{ item.designation }}</h5>
          </li>
    {% if loop.last %}
        </ul>
      </div>    
    </div>
    {% endif %}
  {%- endfor %}
</div>
</section>

