<section id="{{ schedule.id }}" class="schedule push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row text-center">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 large all-caps space-two-bottom">Schedule{% if schedule.date %} — {{ schedule.date|safe }}{% endif %}</h2>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
  <ul class="unstyled schedule ">
    <li class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 nospace-bottom clearfix text-right theme-box-left theme-transparent">
        <h3 class="nospace-top legible-prose prose-type"><span class="">Track 1</span></h3>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 legible space-one-bottom clearfix text-center">
        <h3 class="nospace-top legible-prose prose-type"><span class="">Starts at</span></h3>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 nospace-bottom clearfix text-left theme-box-right theme-transparent">
        <h3 class="nospace-top legible-prose prose-type"><span class="">Track 2</span></h3>
      </div>
    </li>

  {% for item in schedule.list %}
    <li id="{{ item.id }}" class="row">
      {% if item.track1 %}
      {% with item = sessions[item.track1] %}
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 nospace-bottom clearfix text-right theme-box-left {% if item.type == 'app-demos' %}theme-blue{% elif item.type == 'privacy-security' %}theme-red{% elif item.type == 'datasync' %}theme-orange{% elif item.type == 'versioning' %}theme-orange{% elif item.type == 'iot' %}theme-green{% elif item.type == 'hands-on' %}theme-pink{% elif item.type == 'ui-ux' %}theme-violet{% else %}theme-transparent{% endif %}">
          <a target="_blank" class="{% if item.featured == true %}popover-left{% endif %}" data-content="{{ item.blurb|safe }}" title="" data-toggle="popover" data-original-title="{{ item.title|safe }}" href="{{ item.funnel }}"><h3 class="nospace-top legible-prose prose-type"><span class="{% if item.featured == false %}gray{% endif %}">{{ item.title|safe }}</span></h3></a>
          {% if item.speaker or item.designation %}
            <p class="prose-type tiny calm">
              <span class="tiny {% if item.featured == false %}gray{% endif %}">{{ item.speaker | safe }}</span><span class="gray">{% if item.funnel %}<a href="{{ item.funnel }}"><i class="icon-filter"></i></a>{% endif %} {% if item.preview %}<a href="{{ item.preview }}"><i class="icon-youtube-play"></i></a>{% endif %}</span>
            </p>
          {% endif %}
        </div>
      {% endwith %}
      {% else %}
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 legible-prose prose prose-type clearfix text-right theme-box-left theme-transparent">
          <div class="push-1q-top"><span class="calm italic nospace-top regular-prose">{{ item.title|safe }}</span></div>
        </div>
      {% endif %}
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 legible space-one-bottom clearfix text-center">
        <h3 class="all-caps nospace-top semibold">{{ item.slot|replace(' ', '&nbsp;')|safe }}</h3>
      </div>
    {% if item.track2 %}
      {% with item = sessions[item.track2] %}
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 nospace-bottom clearfix text-right theme-box-right {% if item.type == 'app-demos' %}theme-blue{% elif item.type == 'privacy-security' %}theme-red{% elif item.type == 'datasync' %}theme-orange{% elif item.type == 'versioning' %}theme-orange{% elif item.type == 'iot' %}theme-green{% elif item.type == 'hands-on' %}theme-pink{% elif item.type == 'ui-ux' %}theme-violet{% else %}theme-transparent{% endif %}">
          <a target="_blank" class="{% if item.featured == true %}popover-right{% endif %}" data-content="{{ item.blurb|safe }}" title="" data-toggle="popover" data-original-title="{{ item.title|safe }}" href="{{ item.funnel }}"><h3 class="nospace-top legible-prose prose-type"><span class="{% if item.featured == false %}gray{% endif %}">{{ item.title|safe }}</span>{% if item.sponsor %}<div class="green secondary-prose">Sponsored talk - {{ item.sponsor }}</div>{% endif %}</h3></a>

          {% if item.speaker or item.designation %}
            <p class="prose-type tiny calm">
                <span class="gray">{% if item.funnel %}<a href="{{ item.funnel }}"><i class="icon-filter"></i></a>{% endif %} {% if item.preview %}<a href="{{ item.preview }}"><i class="icon-youtube-play"></i></a>{% endif %}</span> 
                <span class="tiny {% if item.featured == false %}gray{% endif %}">{{ item.speaker|safe }}</span>
            </p>
          {% endif %}

        </div>
      {% endwith %}
      {% else %}
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 legible-prose prose prose-type clearfix text-left theme-box-right theme-transparent">
          <div class="push-1q-top"><span class="calm italic nospace-top regular-prose">{{ item.title }}</span></div>
        </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
</section>
