<section id="{{ schedule.id }}" class="schedule push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
    <div class="row-fluid text-center">
        <h2 class="legible-prose col-lg-12 col-md-12 col-sm-12 col-xs-12 large all-caps space-two-bottom">{% if schedule.date %} {{ schedule.date|safe }}{% endif %}</h2>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <table class="table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Time</th>
                        <th>Track 1</th>
                        <th>Track 2</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in schedule.list %}
                        <tr>
                            <td class="text-center">
                                <div class="all-caps tiny nospace-top semibold">{{ item.slot|replace(' ', '&nbsp;')|safe }}</div>
                            </td>
                            
                            {% if item.title %}
                                <td colspan="2">
                                    <div class="tiny prose pad-3q-left prose-type clearfix theme-box-left theme-transparent">
                                        <div class="push-1q-top"><span class="calm italic nospace-top push-1q regular-prose">{{ item.title|safe }}</span></div>
                                    </div>
                                </td>
                            {% else %}
                                {% if item.track1 %}
                                    <td  {% if item.expand %}{% if item.expand[0] == '1' %}rowspan="{{ item.expand[1] }}"{% endif %}{% endif %}>
                                        {% with item = sessions[item.track1] %}
                                            <div class="nospace-bottom clearfix theme-box-right {% if item.type == 'app-demos' %}theme-blue{% elif item.type == 'hardware' %}theme-orange{% elif item.type == 'datasync' %}theme-red{% elif item.type == 'versioning' %}theme-red{% elif item.type == 'iot' %}theme-green{% elif item.type == 'hands-on' %}theme-pink{% elif item.type == 'ui-ux' %}theme-violet{% else %}theme-transparent{% endif %}">
                                                <a target="_blank" class="{% if item.featured == true %}popover-left{% endif %}" data-content="{{ item.blurb|safe }}" data-toggle="popover" data-original-title="{{ item.title|safe }}" href="{{ item.funnel }}">
                                                    <div class="nospace-top push-1q secondary-prose prose-type">
                                                        <span class="{% if item.featured == false %}gray{% endif %}">{{ item.title|safe }}</span>
                                                    </div>
                                                </a>
                                                {% if item.speaker or item.designation %}
                                                    <p class="prose-type tiny calm">
                                                        <span class="tiny {% if item.featured == false %}gray{% endif %}">{{ item.speaker | safe }}</span>
                                                        <span class="gray">{% if item.funnel %}<a href="{{ item.funnel }}"><i class="icon-filter"></i></a>{% endif %} {% if item.preview %}<a href="{{ item.preview }}"><i class="icon-youtube-play"></i></a>{% endif %}</span>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        {% endwith %}
                                    </td>
                                {% endif %}

                                {% if item.track2 %}
                                    <td {% if item.expand %}{% if item.expand[0] == '2' %}rowspan="{{ item.expand[1] }}"{% endif %}{% endif %}>
                                        {% with item = sessions[item.track2] %}
                                            <div class="nospace-bottom clearfix theme-box-right {% if item.type == 'app-demos' %}theme-blue{% elif item.type == 'hardware' %}theme-orange{% elif item.type == 'datasync' %}theme-red{% elif item.type == 'versioning' %}theme-red{% elif item.type == 'iot' %}theme-green{% elif item.type == 'hands-on' %}theme-pink{% elif item.type == 'ui-ux' %}theme-violet{% else %}theme-transparent{% endif %}">
                                                <a target="_blank" class="{% if item.featured == true %}popover-right{% endif %}" data-content="{{ item.blurb|safe }}" title="" data-toggle="popover" data-original-title="{{ item.title|safe }}" href="{{ item.funnel }}">
                                                    <div class="nospace-top push-1q secondary-prose prose-type">
                                                        <span class="{% if item.featured == false %}gray{% endif %}">{{ item.title|safe }}</span>{% if item.sponsor %}<div class="green secondary-prose">Sponsored talk - {{ item.sponsor }}</div>{% endif %}
                                                    </div>
                                                </a>

                                                {% if item.speaker or item.designation %}
                                                    <p class="prose-type tiny calm">
                                                        <span class="gray">{% if item.funnel %}<a href="{{ item.funnel }}"><i class="icon-filter"></i></a>{% endif %} {% if item.preview %}<a href="{{ item.preview }}"><i class="icon-youtube-play"></i></a>{% endif %}</span> 
                                                        <span class="tiny {% if item.featured == false %}gray{% endif %}">{{ item.speaker|safe }}</span>
                                                    </p>
                                                {% endif %}
                                            </div>
                                        {% endwith %}
                                    </td>
                                {% elif item.track2 == ''%}
                                <td></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
