<section id="{{ session.id }}" class="clearfix{% if background %} fill-{{ background }}{% else %} fill-white {% endif %}">
<div class="container-fluid">
  {% if session.label %}<h2 class="large all-caps text-center push-one">{{ session.label }}</h2>{% endif %}
  {% for item in session.list %}
  <div id="{{ item.id }}" class="row push-two-bottom pad-3q session">
    <div class="col-sm-4 col-xs-12">
      <div class="speaker-bio">
        {% for photo in item.photos %}
        <div class="clearfix nospace-top push-one-top space-half-bottom speaker-info{% if item.photos|length > 1 %} speaker-info-small {% endif %}">
          <img src="{{photo}}" alt="" class="center-block speaker-photo">
          <h4 class="regular space-1q-top nospace-bottom text-center">{{ item.speaker[loop.index-1]|safe }}</h4>
          {% if item.twitter %}<div class="link-silent regular-prose space-1q-top nospace-bottom text-center twitter-blue"><a href="https://twitter.com/{{ item.twitter[loop.index-1] }}" target="_blank">@{{ item.twitter[loop.index-1] }}</a></div>{% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="speaker-details">
        {% if item.designation %}<p class="secondary italic space-1q-top nospace-bottom darkyellow text-center">{{ item.designation|safe }}</p>{% endif %}
        {% if item.bio %}<div class="tiny space-1q-top nospace-bottom">{{ item.bio|safe }}</div>{% endif %}
        {% if item.sponsor %}<div class="lightblue secondary-prose space-1q-top nospace-bottom link-silent"><em>Sponsored session by <a href="{{ item.sponsor_link }}" target="_blank">{{ item.sponsor }}</a></em></div>{% endif %}
      </div>
    </div>
    <div class="col-sm-8 col-xs-12">
      <h3 class="large nospace-top medium push-one-top darkblue bold text-left"><a href="{{ item.funnel|safe }}" target="_blank">{{ item.title|safe }}</a></h3>
      {% if item.banner %}<div class="regular nospace-top push-one-top pad-half"><img src="{{ item.banner[0]|safe }}" alt="{{ item.banner[0]|safe }}"/><p class="tiny space-1q-top">{{ item.banner[1]|safe }}</p></div>{% endif %}
      {% if item.objective %}<div class="regular nospace-top push-one-top pad-half"><h2 class="legible semibold nospace-top space-half-bottom">Objective</h2>{{ item.objective|safe }}</div>{% endif %}
      {% if item.blurb %}<div class="regular space-one pad-half link-silent"><h2 class="legible semibold space-half">Description</h2>{{ item.blurb|safe }}</div>{% endif %}
      {% if item.requirements %}<div class="regular space-one pad-half"><h2 class="legible semibold space-half">Requirements</h2>{{ item.requirements|safe }}</div>{% endif %}
      {% if item.previewphotos %}<div class="regular space-one-top pad-half link-silent">{% for link in item.previewphotos %}<img src="{{ link }}" class="preview-photos"/>{% endfor %}</div>{% endif %}
      {% if item.links %}<div class="regular space-one-top pad-half session-links"><p class="legible semibold">Links</p><ul>{% for link in item.links %}<li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>{% endfor %}</ul></div>{% endif %}
      <div class="fb-share-button pad-half" data-href="https://droidcon.in/2016" data-layout="button"></div>
      <span class="tweet-button">
      <a href="https://twitter.com/intent/tweet?text={{item.title}}&url=https://droidcon.in/2016&hashtags=droidconIN,HasGeek" 
      class="twitter-hashtag-button" data-url="https://droidcon.in/2016">Tweet</a>
      </span>
      <ul class="list-plain secondary space-one-top pad-half">
        {% if item.date %}<li class="space-1q legible semibold">{{ item.date|safe }}</li>{% endif %}
        {% if item.time %}<li class="space-1q">{{ item.time|safe }}</li>{% endif %}
        {% if item.venue %}<li class="space-1q"><i class="icon-map-marker"></i>&nbsp; {{ item.venue|safe }}</li>{% endif %}
        <li class="space-1q"><a class="orange" target="_blank" href="https://droidconin.talkfunnel.com/2015/{{ item.id }}">Read more ...</a></li>
        {% if item.price %}<li class="large space-1q bold">{{ item.price|safe }}</li>{% endif %}
      </ul>
      {% if item.open %}
      <div class="space-one-top pad-half">
        <a class="button secondary" href="https://in.explara.com/e/droidconin-2015/checkout" target="_blank">Buy Tickets</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  </div>
</section>
