<section id="tickets" class=" page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <h2 class="large all-caps text-center space-two-bottom">Tickets</h2>
  </div>
  <div class="row-fluid container">
  {% for ticket in items -%}
    {% if ticket.open %}
      <div class="col-lg-4 text-center">
        <h3>{{ ticket.type }}</h3>
        <h5>{{ ticket.price }} Rs.</h5>
        Sales closes on: {{ ticket.end_date }}
        {{ ticket.status_msg }}
        {{ ticket.package | safe }}
      </div>
    {% endif %}
  {%- endfor %}
  </div>
</section>