@charset "UTF-8";
#root {
  margin-bottom: -80px;
}
#root #root_footer {
  height: 80px;
}

footer {
  background-color: white;
  min-height: 70px;
}
footer .footer-inner {
  min-height: 70px;
}

/********* Common ******** */
body, p {
  color: black;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

a {
  color: #787878;
}
a:hover {
  color: #51bfe4;
}

.container {
  margin: 0 auto auto auto;
}

h1 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 44px;
  color: black;
}

h2, h3 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: black;
  margin-top: 24px;
}
h2 a, h2 a:visited, h3 a, h3 a:visited {
  color: black;
}

h2 {
  font-size: 30px;
  line-height: 48px;
}

h3 {
  font-size: 25px;
  line-height: 48px;
}
h3 a:hover {
  color: #51bfe4;
}

h4 {
  margin: 45px 0 20px 0;
}

ul, ol {
  margin-bottom: 12px;
}

li {
  line-height: 24px;
  margin-bottom: 0;
}

/********** header ********* */
#masthead .page-header {
  padding: 2.5em 0 0 8.5em;
}

#masthead {
  position: relative;
  background: url('../img/2013/masthead.jpg?1370696487') no-repeat 50% top;
  height: 400px;
}

.page-header {
  margin-top: 5px;
  margin-left: 15px;
}
.page-header h1 {
  font-size: 36px;
}
.page-header h2 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  margin-top: 0;
}

/********** index ********** */
.description p {
  margin-top: 5px;
  text-align: left;
  font-size: 21px;
  line-height: 35px;
  color: black;
}

.descriprtion p em {
  color: #999999;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  top: 0;
  text-align: center;
}

#previous-edition {
  font-size: 20px;
}
#previous-edition .seperator {
  padding: 15px;
}
#previous-edition .seperator i {
  color: #51bfe4;
}

#social {
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding-bottom: 10px;
}
#social span {
  display: inline-block;
}
#social span:hover i {
  color: #cccccc;
}
#social .icon-twitter {
  font-size: 24px;
  padding-right: 5px;
}
#social .icon-envelope-alt {
  font-size: 20px;
  padding-right: 10px;
  margin-left: 50px;
}

#initial-buttons {
  margin-bottom: 30px;
}

.btn-blue {
  display: inline-block;
  font-size: 20px;
  background-color: #51bfe4;
  padding: 7px 10px 9px 10px;
  color: black;
  box-shadow: 1px 1px 2px #333333;
  text-decoration: none;
  margin: 10px;
  width: 180px;
  border-radius: 3px;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
}
.btn-blue i {
  margin-right: 10px;
}
.btn-blue:hover {
  color: black;
  opacity: 0.8;
  text-decoration: none;
}

#highlights {
  margin-bottom: 50px;
}
#highlights .title {
  font-size: 20px;
}
#highlights ul {
  margin-left: 0;
}
#highlights li.card {
  list-style-type: none;
  width: 300px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 3px #cccccc;
  -webkit-box-shadow: 1px 1px 3px #cccccc;
  box-shadow: 1px 1px 3px #cccccc;
  background: url('../img/android.png?1373956261');
}
#highlights li.card:hover {
  opacity: 0.8;
}
#highlights li.card a {
  display: block;
  padding: 10px;
}
#highlights li.card a:hover {
  text-decoration: none;
}
#highlights .card-band {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 12px;
}
#highlights .blueband {
  background-color: #51bfe9;
  color: black;
  float: left;
  padding-left: 2%;
  text-align: right;
  width: 65%;
  padding-right: 3%;
}
#highlights .blackband {
  background-color: black;
  color: white;
  float: right;
  padding-right: 2%;
  padding-left: 3%;
  text-align: left;
  width: 25%;
}
#highlights h4 {
  color: #787878;
}

#videos li {
  list-style-type: none;
  float: left;
  padding: 15px;
  display: block;
  position: relative;
  width: 220px;
}
#videos li a:hover {
  text-decoration: none;
}
#videos li a:hover .video-speaker {
  color: black;
}
#videos li a:hover i {
  color: #51bfe4;
}
#videos li .video-title {
  position: relative;
  font-size: 14px;
  top: -28px;
  line-height: 18px;
}
#videos li .video-speaker {
  position: relative;
  top: -28px;
  text-transform: uppercase;
  font-size: 11px;
}
#videos li img {
  width: 200px;
  height: 115px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
#videos li i {
  position: relative;
  top: -78px;
  left: 0px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: black;
  opacity: 0.8;
  border-radius: 5px;
}

#other-editions {
  margin-top: 30px;
}
#other-editions li {
  font-size: 18px;
  list-style-image: url('../img/2013/droidheads/li-other-editions.png?1370696487');
  list-style-position: inside;
  margin-left: 30px;
  margin-top: 18px;
  float: left;
}

footer .footer-inner {
  background: none;
}

/* ================= */
/* = Media Queries = */
/* ================= */
@media screen and (max-width: 600px) {
  #masthead .page-header {
    padding-top: 1em;
    padding-left: 1em;
  }

  #masthead-small .page-header {
    padding-top: 8em;
  }

  .main-navbar .container {
    padding: 0;
  }
  .main-navbar .nav {
    padding: 0 5px;
    display: block;
    *zoom: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .main-navbar .nav:after {
    content: "";
    display: table;
    clear: both;
  }
  .main-navbar .nav > li {
    display: block;
    float: left;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  #masthead .page-header {
    padding-top: 2em;
    padding-left: 0;
  }

  #funnel-preview .header .funnel-preview-by,
  #funnel-preview .header .funnel-preview-date {
    display: none;
  }

  #funnel-preview .funnel-preview-by {
    float: left;
  }
  #funnel-preview .funnel-preview-by:before {
    content: "—";
  }
  #funnel-preview .funnel-preview-by:after {
    content: ",\0000a0";
  }

  #funnel-preview .funnel-preview-date {
    float: left;
  }

  .sponsor {
    margin-top: 1em !important;
  }

  .sponsor.empty, .sponsor.open {
    display: none;
  }

  .footer-bar {
    border-bottom: 0;
  }

  #funnel-listing .header {
    display: none;
  }
  #funnel-listing .funnel-by {
    float: left;
  }
  #funnel-listing .funnel-by:before {
    content: "—";
  }
  #funnel-listing .funnel-by:after {
    content: ",\0000a0";
  }
  #funnel-listing .funnel-date {
    float: left;
  }
  #funnel-listing .funnel-date:after {
    content: ",\0000a0";
  }
  #funnel-listing .funnel-comments {
    display: none;
  }
  #funnel-listing .funnel-votes {
    float: left;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  #masthead .page-header {
    padding-top: 2em;
    padding-left: 0;
  }
}
@media screen and (max-width: 979px) {
  #masthead .page-header {
    padding-left: 0;
  }
}
@media screen and (min-width: 980px) {
  #masthead .page-header {
    padding-left: 4em;
  }
}
@media screen and (min-width: 1200px) {
  #masthead .page-header {
    padding-left: 8.5em;
  }
}
@media screen and (max-width: 767px) {
  .centered {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #videos li {
    float: none;
    padding: 0px;
    padding-bottom: 15px;
    width: 100%;
  }
  #videos li img {
    left: 20px;
  }
  #videos li i {
    top: -48px;
    left: -100px;
  }
  #videos li .video-title {
    top: 2px;
  }
  #videos li .video-speaker {
    top: 5px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .centered {
    width: 600px;
  }

  #videos li {
    padding: 15px;
    width: 235px;
  }
}
@media (min-width: 980px) and (max-width: 1200px) {
  .centered {
    width: 750px;
  }

  #videos li {
    padding: 12px;
    width: 210px;
  }
}
@media screen and (max-width: 480px) {
  .centered {
    width: 100%;
  }
}
