
.button {
    display: inline-block;
    background: #B49B33;
    color: #000;
    line-height: 1.4;
    padding: 1em 2em 1em;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.25em;
    border: 0;
}
.button-mini    { padding: 0.2em 0.6em; }
.button-on-dark { background: #BB3311; }
.button:focus   { text-decoration: none; }
.button:active  { box-shadow: inset 0 0 10px #000; }

.separated-links + .separated-links:before {
    content: '•';
    margin: 0 .4rem;
    color: rgba(255,255,255,.6);
}

.page-section {
    padding-top:    3rem;
    padding-bottom: 3rem;
}
/*@media (min-width: 768px){
  #page{
    overflow: hidden;
  }
}
*/
@media (max-width: 767px) {
    .page-section {
        padding: 2rem 0;
        margin-left:  -20px;
        margin-right: -20px;
        padding-left:  20px;
        padding-right: 20px;
    }
    .full-width {      
        margin-left:  -20px;
        margin-right: -20px;
        padding-left:  20px;
        padding-right: 20px;
    }
}
@media (max-width: 767px) {
    .bleed-section {
        margin-left:  -20px;
        margin-right: -20px;
    }
}
@media (max-width: 767px) {
    .pad-section-bleeding {
        padding-left:  20px;
        padding-right: 20px;
    }
}


@media (max-width: 767px) { #hg-bar { padding: 0 20px; } }

.masthead-home .logo { 
  background: url('https://images.hasgeek.com/embed/file/63caa7d2f3df4c7d8222b68e9861a6ca') no-repeat scroll center center;
  background-size: contain;
  height: auto;
  width: 70%;
  padding-top: 50%;
  margin-top: 12em;
}

.logo-text{
  background: rgba(255, 255, 255, 0.8);
  color: #46425a;
  width: 235px;
  line-height: 50px;
  border-radius: 50%;
  padding: 68px 20px 68px 10px;
}
@media (min-width: 768px) and (max-width: 979px){
  .masthead-home .logo{
    margin-top: 15em;
    margin: 15em auto 0 auto;
  }
}
@media (max-width: 767px) {
  .masthead-home .col-lg-8.text-right{
    text-align: center;
  }
  .logo-text{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em !important;
  }
  .logo-text .text-left, .logo-text .text-right{
    text-align: center;
  }
  .masthead-home .logo{
    display: block;
    height: 140px;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
    width: 180px;
  }
}

@media (max-width: 45em){
  .logo-text{
    width: 175px;    
    padding: 47px 10px 47px 15px; 
    line-height: 40px; 
  }
}
@media (max-width: 35em){
  .logo-text{
    width: 165px;    
    padding: 45px 10px 45px 10px;  
    line-height: 35px;
  }
  .line4{
    font-size: 1.2em;
  }
}

.banner h1    { float: left; width: 4.5rem; margin: .5rem auto 0 -.5rem; }
.banner .logo {
    background: url('https://images.hasgeek.com/embed/file/63caa7d2f3df4c7d8222b68e9861a6ca?size=320x240') no-repeat scroll center center;
    background-size: contain;
    height: 0;
    width: 100%;
    padding-top: 100%;
}
.banner .logo:hover { background-color: transparent; }
.banner.banner-home h1 { float: none; margin: 3rem auto; }
.banner.banner-home h2 span + span { display: inline-block; margin-left: 0.5rem; }
.banner sup, sup.date { top: 0; font-size: 65%; }
.banner.banner-home h3 {
    padding-left: 3rem;
    text-align: left;
}
.banner.banner-home h3 { margin: 0 0 3rem; }
.banner.banner-home h3 a,
.banner.banner-home h3 span {
    display: block;
    width: 8rem;
    margin: 0 auto 0.5rem;
}
.banner.banner-home h3 i {
    position: absolute;
    left: 50%;
    width: 2rem;
    text-align: right;
    font-size: 90%;
    line-height: 40px;
    padding-top: .3rem;
    margin-left: -5.75rem;
}
.banner h3 i.amp    { font-style: italic; line-height: inherit; font-size: inherit; margin-top: 0.3rem; }
.banner .intro {
    margin: 4rem auto 3rem;
    max-width: 28rem;
}
.banner .button               { width: 13rem; }
@media (min-width: 560px) {
    .banner h1                { width: 5rem; margin: .5rem auto; }
}
@media (min-width: 768px) {
    .banner h1                { margin: 1.25rem auto .5rem; }
    .banner .logo             { height: 4rem;}
    .banner.banner-home h1    { margin: 4rem auto 3rem; width: 14rem; }
    .banner.banner-home h3    { padding-left: 0; }
    .banner.banner-home h3    { text-align: center; }
    .banner.banner-home h3 span,
    .banner.banner-home h3 a  { display: inline;  width: auto; margin: auto; }
    .banner.banner-home h3 i  { 
        position: static;
        width: auto;
        left: 0;
        font-family: inherit;
        font-style: normal !important;
        margin: 0 0.5rem;
        padding-top: 0;
    }
    .banner .intro {
        margin: 5rem 0 3rem;
        max-width: 100%;
    }
}

.banner-internal .logo {
    background: url('https://images.hasgeek.com/embed/file/63caa7d2f3df4c7d8222b68e9861a6ca?size=320x240') no-repeat scroll center center;
    background-size: contain;
    height: 0;
    width:       5.5rem;
    padding-top: 5.5rem;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.banner-internal .logo:hover,
.banner-internal .logo:focus {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
}
@media (max-width:767px) {
    .banner-internal .logo  { width: 1eem; }
    .ticket-link-container .button { padding: 0.2em 0.6em; }
}
@media (min-width: 768px) {
    .banner-internal nav    { margin-top: -0.5rem; }
    .banner-internal h3     { margin-top: 1rem; }
}


.program-committee h2 {
    line-height: 1.2;
    margin-top: 1rem;
}
/*.program-committee ul {
    list-style-type: none;
    margin: 1rem 0 0;
}
@media (max-width: 767px) {
    .program-committee ul                     { margin: 2rem 0 0; }
    .program-committee ul li                  { width: 49%; }
    .program-committee ul li:nth-child(odd)   { float: left;  }
    .program-committee ul li:nth-child(even)  { float: right; }
}*/
.program-committee a {
    border-bottom: none;
}
.program-committee .list-space-line{
  padding-left: 0;
  width: 100%;
  overflow: hidden;
}
.program-committee .list-space-line li{
  height: 350px;
}
@media (min-width: 1200px){
  .program-committee .list-space-line li{
    height: 400px;
  }
}


.venue-home h2 {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .venue-home .city-level p { margin-top: -4.4rem; }
    .venue-home .country-level p { margin-top: 0; }
}
.js .venue-home {
    border-top:    1px solid #833;
/*    border-bottom: 1px solid #000;*/
    position: relative;
    padding: 0;
/*    padding: 1.5rem;*/
}
.js .venue-home h2 {
    position: absolute;
    z-index: 100;
    color: black;
    width: auto;
    margin: 0;
    padding:0;
    font-size: 3rem;
    right: 1.2rem;
    top:   0.55rem;
}
.js .leaflet-map {
    float: right;
    height: 555px;
    color: black;
}
.js .leaflet-map a { border-bottom: none; }
.js .venue-home .city-level    { width: 65%; }
.js .venue-home .country-level { width: 35%; float: left; }
@media (max-width: 767px) {
    .js .venue-home { padding: 0; }
    .js .venue-home h2 {
        right: 5%;
        top:   5%;
        font-size: 2rem;
        text-shadow: rgba(0,0,0,0.5) 0 0 1px;
    }
    .js .venue-home .city-level    { width: 100%; }
    .js .venue-home .country-level { display: none; }
}
@media (min-height: 300px) { .js .leaflet-map { height: 250px; } }
@media (min-height: 450px) { .js .leaflet-map { height: 425px; } }
@media (min-height: 550px) { .js .venue-home .leaflet-map { height: 535px; } }
@media (min-height: 630px) { .js .venue-home .leaflet-map { height: 620px; } }
@media (min-height: 725px) { .js .venue-home .leaflet-map { height: 725px; } }
@media (min-height: 800px) { .js .venue-home .leaflet-map { height: 800px; } }

.video-thumbnail h4 {
    font-weight: normal;
    margin: 0.75rem 0 0.25rem;
    padding: 0 .5rem 0 1rem;
}
.video-thumbnail h5 {
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0 .5rem 0 1rem;
}

.video-thumbnails > li {
    float: left !important;
    width: 50% !important;
}

@media (max-width: 767px) {
  .video-thumbnails > li:nth-child(odd)  { clear: both; }
  .video-thumbnails > li:nth-child(even) { float: right !important; }
}

@media (min-width: 768px) {
    .video-thumbnails > li { width: 25% !important; margin: 0 !important; }
    .video-thumbnail h4,
    .video-thumbnail h5 { padding: 0 1rem 0 1rem; max-width: 300px; }
}



.sponsor-m > li {
    float: left !important;
    width: 48.5% !important;
    margin-left: 3%;
}
.sponsor-m > li:nth-child(odd) { margin-left: 0; }

.sponsor-s > li {
    float: left !important;
    width: 32% !important;
    margin-left: 2%;
}
.sponsor-s > li:nth-child(3n+1) { margin-left: 0; }

.sponsor-compact { border-radius: 0.25em; background-color: white; }
.sponsor-compact > li {
    float: left !important;
    margin-bottom: 0 !important;
    width: 33.3333% !important;
    width: calc(100/3)% !important;
}
.sponsor-compact > li:nth-child(3n+1) { margin-left: 0; }

.sponsor-logo       { text-align: center; border-radius: 0.25rem; height: 5.34rem; line-height: 3.35rem; padding: .84rem; }
.sponsor-logo:hover { background-color: #E5E5E5 !important; }
.sponsor-logo img   { max-height: 100%; max-width: 100%; }

.sponsor-xl       .sponsor-logo { height: 6.67rem;  line-height: 4rem;    padding: 1.34rem; }
.sponsor-l        .sponsor-logo { height: 5.34rem;  line-height: 3.35rem; padding: .84rem;  }
.sponsor-m        .sponsor-logo { height: 5.34rem;  line-height: 2.68rem; padding: 1.34rem; }
.sponsor-s        .sponsor-logo { height: 4rem;     line-height: 2rem;    padding: .84rem;  }
.sponsor-compact  .sponsor-logo { height: 4rem;     line-height: 2rem;    padding: .84rem;  }

.sponsor-xl .sponsor-logo.contain-width { padding: 1.34rem 3rem; }
.sponsor-l  .sponsor-logo.contain-width { padding: .84rem 4rem;  }


.credits .row-fluid .offset1 {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}

@media (min-width: 1200px) {
    .credits .row-fluid .offset1 {
        margin-left: 8.547008547008547%;
        *margin-left: 8.440625568285142%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .credits .row-fluid .offset1 {
        margin-left: 8.56353591160221%;
        *margin-left: 8.457152932878806%;
    }
}
@media (max-width: 767px) {
    .credits .row-fluid [class*="span"] {
        margin-right: 0;
        margin-left: 0;
    }
    .credits .row-fluid .offset1 { margin-left: 0; }
}

.page-footer {
    background-color: #000 !important;
    /*background-image: url(../img/2012-stage.jpg);*/
/*    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 36%;*/
}
.page-footer > div{
    margin-bottom: 160px;
}
.hasgeek-logo {
    background: url(https://images.hasgeek.com/embed/file/11bac6c19b904e4e94db44a9aa1bf831) no-repeat scroll center center;
    width:  130px;
    height: 120px;
    -webkit-border-radius: 30px 30px 30px 0;
            border-radius: 30px 30px 30px 0;
}
a.hasgeek-logo:hover { background-color: rgba(255,255,255,0.15); }




/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid white;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #EFF6EF;
  border: 5px solid white;
  border-radius: 50%;
  display: block;
  position: absolute;
  box-shadow: 1px 1px 3px #efefef;
}

.content {
  max-height: 20px;
  padding: 10px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: #FFF;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

.radio {
  display: none;
}

.radio + .relative .circle {
  background: #ccc;
  display: block;
  height: 20px;
  width: 20px;
}
.radio.theme-red + .relative .circle {
  background: #CB1D1E;
}
.radio.theme-green + .relative .circle {
  background: #73BD2C;
}
.radio ~ .content {
  max-height: 180px;
  border-color: #fff;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio ~ .content p {
  max-height: 200px;
  color: #333;
  transition: color 0.3s linear 0.3s;
}
li.event-node{
    padding: 10px;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: white;
  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }
  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .content:after {
    border-bottom-color: #EFF6EF;
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }
  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }
  .date{
    margin-top: -40px;
    top: 0;
    left: auto;
    color: #6E8A31;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background: #FFF;
  }
}

.photo{
  /*border-radius: 50%;*/
  /*border-top: 5px solid;
  border-right: 5px solid;*/
  width: 100%;
  overflow: hidden;
  z-index: 9;
  border-radius: 50%;
  display: block;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.img-wrapper{
  border: 13px solid rgba(255, 255, 255, 0.1);
  display: block;
  border-radius: 50%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
@keyframes cycle{
  0%{
    transform: none;
  }
}

@-moz-keyframes cycle{
  0%{
    -moz-transform: none;
  }
}

@-webkit-keyframes cycle{
  0%{
    -webkit-transform: none;
  }
}

.img-wrapper:hover{
  transform: none;
  -moz-transform: none;
  -webkit-transform: none;
}
.img-wrapper:hover > .photo{
  transform: none;
  -moz-transform: none;
  -webkit-transform: none;
}

.featured-speakers h5{
  line-height: 20px;
}
.program-committee .prose.prose-type a{
  text-decoration: none;
}

@media (min-width: 980px) and (max-width: 1200px){
  .featured-speakers li, .program-committee-summary li{    
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 979px){
  .featured-speakers li, .program-committee-summary li{    
    height: 280px;
  }
}

@media (max-width: 767px){
  .photo{
    width: 100%;
  }
  .img-wrapper{
    width: 200px;
  }
  .featured-speakers li, .program-committee-summary li{
    padding-bottom: 20px;
    height: 300px;
  }
}
@media (max-width: 45em){
  .img-wrapper{
    width: 200px;
  }
}
@media (max-width: 35em){
  .img-wrapper{
    width: 50%;
  }
}

#site-nav{
  width: 100%;
  /*visibility: hidden;*/
}
#site-nav.visible{
  /*visibility: visible;*/
}
#site-nav.navbar{
  margin-bottom: 0;
  border-radius: 0;
}
#site-nav .navbar-inner{
  border-radius: 0;
}

@media screen and (min-width: 980px) and (max-width: 1200px){
  .navigation-menu li{
    padding: 20px 15px 20px 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px){
  .navigation-menu li{
    padding: 20px 11.5px 20px 11.5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px){
  .mob-nav{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #FFF;
    padding: 12px 15px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1035;
  } 
  .navigation-menu li{
    display: block;
    width: 200px;
    float: left;
    padding: 15px 20px;
    font-size: 18px;
    margin: 0;  
  }
  #nav-wrap{
    visibility: visible;
    height: 0;
    border: 0;
    -webkit-transition: height 10s;
    overflow: hidden;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 410px;
  }
  #nav-wrap.visible{
    height: auto;  
    border: 5px solid #132633;
    z-index: 999;
  }
}
@media screen and (max-width: 600px){
  .mob-nav{
    z-index: 1015;
  } 
}
@media screen and (max-width: 498px){
  #nav-wrap{
    width: 200px;
  }
}

.event-highlights li{
  list-style-type: none;
  display: inline-block;
  width: 12.5%;
  text-align: center;
}
.event-highlights li > h1{
  font-size: 90px;
  font-weight: 300;
  padding-bottom: 30px;
}

.event-themes li{
  list-style-type: none;
  display: inline-block;
  width: 18%;
  text-align: center;
}
/*.event-themes p{
  font-size: 1.3em;
  line-height: 1.5em;
}*/
.theme{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: block;
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  background-size: 100% 100%;
  border: 15px solid rgba(0,0,0, 0.1);
  box-shadow: inset 1px 1px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.4);
  -o-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.4);
}

@media (min-width: 768px) and (max-width: 980px){
  .theme{
    height: 100px;
    width: 100px;
  }
  .event-themes h3{
    font-size: 20px;
    font-weight: 300;
  }
  .event-highlights li{
    width: 20%;
    padding-bottom: 20px;
  }
  .event-highlights li > h1{
    font-size: 50px;
    padding-bottom: 20px;
  }.event-highlights li > h5{
    font-size: 12px;
    font-weight: 300;
  }
}
@media (max-width: 767px){

  .event-themes li{
    width: 50%;  
    float: left;
  }
  .event-themes h3{
    font-size: 20px;
    font-weight: 300;
  }
  .event-highlights li{
    width: 50%;
    float: left;
    padding-bottom: 50px;
  }
}

.theme#app-demos{
  background-image: url(https://images.hasgeek.com/embed/file/363bae34271a4843b12f2a0cb83fa492);
  background-repeat: no-repeat;
}
.theme#business{
  background-image: url(https://images.hasgeek.com/embed/file/513b6b98c0aa46e58a89aa311a0e4fac);
  background-repeat: no-repeat;
}
.theme#gaming{
  background-image: url(https://images.hasgeek.com/embed/file/f2f5369f618a4f3f927bce66a632b351);
  background-repeat: no-repeat;
}
.theme#systems{
  background-image: url(https://images.hasgeek.com/embed/file/44811261e1e44630a57d784c56cd6267);
  background-repeat: no-repeat;
}
.theme#ux{
  background-image: url(https://images.hasgeek.com/embed/file/6c3e77d1d07a428b961100aecd88503e);
  background-repeat: no-repeat;
}


/**** navbar ****/
.navbar-inverse .navbar-inner{
  background-image: none;
  background-color: #000;
}
.navbar a{
  border-bottom: 0;
}
/*.dropdown-list>ul{
  height: 0;
  overflow: hidden;
  padding: 0;
  border: 0;

}
.dropdown-list:hover>ul{
  height: auto;
}
*/.masthead-home h2.green{
  text-transform: uppercase;
}



@media (min-width: 1200px){
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px !important;
  }
}

.navbar-inverse{
  border-bottom: 0;
}
.zigzag-seperator{
  display: block;
  height: 5px;
  width: 100%;
  position: relative;
  margin-bottom: -5px;

  background-color: transparent;
  background-image: url('https://images.hasgeek.com/embed/file/e752ea21f4904c18af0745ce0f2d425e');
  background-repeat: repeat-x;
}
.navbar-fixed-top+.zigzag-seperator{
  position: fixed;
  top: 50px;
  z-index: 1030;
}
#highlights ul, .sessions ul, .schedule ul, .featured-speakers ul, .sponsors ul, #tickets ul, .code-of-conduct ul, .event-summary ul, .sessions h3, .event-themes ul, .sessions h5, .venue ul{
  margin-left: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}
.schedule ul{
  margin-right: 0 !important;
  padding-right: 15px !important;
}
.sponsors p{
  margin-left: -15px;
}
/*.schedule{
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}*/


#tickets li{
  list-style-type: none;
  line-height: 25px;
}
#tickets .subsection{
  /*margin-top: -10px;*/
  padding: 5px 5px 10px 5px;
}
#tickets .icon-container{
  padding: 12px 5px 7px 5px;
  display: block;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
  border: 1px solid #ccc;
}

.post-date{
  padding: 12px 5px 12px 5px;
  width: 60px;
  text-transform: uppercase;
  border: 10px solid rgba(0, 0, 0, 0.1);
}
.hidden-xs {
  display: inline-block !important;
}
@media (max-width: 767px){
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: inline-block !important;
  }
}

.navbar-nav>li>.dropdown-menu{
  background-color: #222;
  margin-top: -1px;
}
.dropdown-menu>li>a{
  color: #D5D5D5;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:active{
  background-color: #9793AD;
  color: #333;
}
.dropdown-menu>li>a:hover{
  background-color: #B49B33;
}

.info-box{
  border-radius: 5px;
  width: 40%;
  margin: 5%;
}
@media (max-width: 767px){
  .info-box{
    width: 90%;
  }
  .event-summary .col-xs-12 a{
    text-decoration: none;
  }
}

.speaker-photo{
  width: 30%;
}

.popover{
  border: 3px solid #778B4C;
  padding: 0;
  min-width: 300px;
  max-width: 400px;
}
.popover-title{
  color: #efefef;
  background-color: #B49B33;
  border-radius: 3px 3px 0 0;
}
.popover-content{
  color: #333;
}
.popover.bottom .arrow:after {
    border-bottom-color: #B49B33;
}
.offer{
  padding: 5px;
}
.offer-text{
  padding: 27px 0 29px 0;
  font-size: 1.15em;
}
.offer-text li{
  list-style-type: none;
  margin-left: 70px;
}
@media screen and (min-width:768px) and (max-width: 979px){
  .offer-text li{
    list-style-type: none;
    margin-left: 115px;
  }
}
@media screen and (max-width:767px){
  .offer-text ul{    
    margin-left: 0px;
    padding-left: 0px;
    padding: 20px;
  }
  .offer-text .text-left{
    text-align: center;
    padding-bottom: 10px;
  }
  .offer-text li{
    list-style-type: none;
    margin-left: 0px;
  }
}
.offer-text:before{
  display: inline-block;
  content: "";
  height: 5px;
  width: 5px;
  float: right;
  position: absolute;
  left: 0px;
  top: 0;
  border-color: rgba(0,0,0,0.1);
  border-left: 12px solid #B49B33;
  border-top: 79px solid transparent;
  border-bottom: 79px solid transparent;
  border-right: 0px solid transparent;
}
.offer-text:after{
  display: inline-block;
  content: "";
  height: 5px;
  width: 5px;
  float: right;
  position: absolute;
  right: 0px;
  top: 0;
  border-color: rgba(0,0,0,0.1);
  border-right: 12px solid #B49B33;
  border-bottom: 79px solid transparent;
  border-top: 79px solid transparent;
  border-left: 39px solid transparent;
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .index-links .fill-lightgray{
    min-height: 170px;
  }
}
@media screen and (max-width: 767px){
  .index-links{
    margin-bottom: 30px;
  }
  .index-links .fill-lightgray{
    min-height: 160px;
  }
}
