/* ========= */
/* = Theme = */
/* ========= */


a {
    color: inherit;
    border-bottom: 1px solid;
}
a:hover,
a:focus {
    text-decoration: none;
    color: white;
    background-color: #005580;
    border-color: transparent;
}
a:hover         { background-color: #444; }
.link-silent a,
a.link-silent   { border-bottom: none; }

.prose.prose-type a { border-bottom: none; text-decoration: underline; }


/*  Colours  */

.black          { color: #000000 !important; }
.dark           { color: #444444 !important; }
.gray           { color: #AAAAAA !important; }
.light          { color: #EEEEEE !important; }
.red            { color: #E55252 !important; }
.green          { color: #6E8A31 !important; }
.blue           { color: #46425a !important; }
.white          { color: #FFFFFF !important; }
.yellow         { color: #B49B33 !important; }
.faded          { color: rgba(255,255,255,.8) !important; }

.blue-bg        { background: #46425A; padding: 0 5px 0 5px;}
.shadow-text-white   { text-shadow: 1px 1px 3px rgba(0,0,0,0.2); }

.fill-white     { background-color: #FFFFFF !important; color: #444; }
.fill-dark      { background-color: #121212 !important; color: #EEE; }
.fill-dark-hud  { background-color: rgba(0,0,0,0.65) !important; color: #EEE; }
.fill-black     { background-color: #000000 !important; color: #EEE; }
.fill-silver-hud{ background-color: rgba(255,255,255,0.65) !important; color: #222; }
.fill-red       { background-color: #BB3311 !important; color: #FCF3F3; }
.fill-green     { background-color: #778B4C !important; color: #FCF3F3; }
.fill-yellow     { background-color: #B49B33 !important; color: #333; }
.fill-redgray   { background-color: #EFE7E6 !important; color: #222020; }
.fill-greengray { background-color: #E5E5E5 !important; color: #222020; background-image: url('https://images.hasgeek.com/embed/file/1eed75460f184ce9b3523b971d71f81e'); } /*#789733*/
.fill-blue      { background-color: #46425a !important; color: #FFFFFF;}
.fill-lightgray { background-color: rgba(0,0,0,0.1) !important; color: #FCF3F3; }
.fill-mediumgray { background-color: rgba(0,0,0,0.2) !important; color: #FCF3F3; }
.fill-darkgray { background-color: rgba(0,0,0,0.3) !important; color: #FCF3F3; }

.fill-gold      { background-color: rgba(204, 153, 0, 0.1); color: #333;}
.fill-silver    { background-color: rgba(0, 0, 0, 0.1); color: #333;}
.fill-bronze    { background-color: rgba(140, 120, 83, 0.1); color: #333;}

.fade-red-to-dark {
    background-image: -webkit-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:    -moz-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:      -o-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:         linear-gradient(top bottom,#BB3311 20%, #121212);
}
.fade-green-to-dark {
    background-image: -webkit-linear-gradient(top,       #778B4C 20%, #121212);
    background-image:    -moz-linear-gradient(top,       #778B4C 20%, #121212);
    background-image:      -o-linear-gradient(top,       #778B4C 20%, #121212);
    background-image:         linear-gradient(top bottom,#778B4C 20%, #121212);
}
.schedule > li{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #d5d5d5;
    list-style-type: none;
}
.schedule > li h3{
    padding-top: 6px;
}
.fill-dark .schedule > li{
    border-top: 1px solid #1E1E1E;
    border-bottom: 1px solid #000000;
}
.fill-dark .schedule > li h3{
    padding-top: 6px;
}
.fill-blue .schedule > li{
    border-top: 1px solid #675A70;
    border-bottom: 1px solid #2F2936;
}
.fill-blue .schedule > li h3{
    padding-top: 6px;
}
.schedule > li:first-child, .fill-dark .schedule > li:first-child{
    border-top: none;
}
.schedule > li:last-child, .fill-dark .schedule > li:last-child{
    border-bottom: none;
}
.theme-box-left{
    border-right: 3px solid transparent;
    padding-right: 30px;
}
.theme-box-right{
    border-left: 3px solid transparent;
    padding-left: 30px;
}
.schedule .gray a{
    border-bottom: 0;
}
.schedule .gray a:hover{
    background-color: transparent;
    color: #333;
}
.fill-dark .schedule .gray a{
    color: #333;
}
.fill-dark .schedule .gray a:hover{
    color: #EAEAEA;
}
.theme-box-left i{
    padding-left: 5px;
}
.theme-box-right i{
    padding-right: 5px;
}

@media (min-width: 768px){
  .schedule{
      overflow: hidden;
  }
}
@media (max-width: 767px){
  .schedule{
    padding-left: 40px;
    padding-right: 20px;
  }
  .schedule .text-right{
    text-align: left;
  }
  .schedule .text-left{
    text-align: right;
  }
  .theme-box-left{
    padding-left: 10px;
    border-right: 0;
    border-left: 5px solid;
  }
  .theme-box-right{
    padding-right: 10px;
    border-left: 0;
    border-right: 5px solid;
  }
}
.theme-orange-light{
    background-color: rgba(237, 166, 52, 0.4);
}
.theme-red-light{
    background-color: rgba(203, 29, 30, 0.4);
}
.theme-blue-light{
    background-color: rgba(45, 157, 205, 0.4);
}
.theme-green-light{
    background-color: rgba(115, 189, 44, 0.4);
}
.theme-violet-light{
    background-color: rgba(184, 137, 173, 0.5);
}
.theme-orange{
    border-color: #EDA634;
}
.theme-red{
    border-color: #CB1D1E;
}
.theme-blue{
    border-color: #2D9DCD;
}
.theme-green{
    border-color: #73BD2C;
}
.theme-violet{
    border-color: #B889AD;
}
.theme-transparent{
    border-color: transparent;;
}

.speaker-photo.theme-orange{
    border-left: 12px solid #EDA634;
}
.speaker-photo.theme-red{
    border-left: 12px solid #CB1D1E;
}
.speaker-photo.theme-blue{
    border-left: 12px solid #2D9DCD;
}
.speaker-photo.theme-green{
    border-left: 12px solid #73BD2C;
}
.speaker-photo.theme-violet{
    border-left: 12px solid #B889AD;
}
.speaker-photo.theme-transparent{
    border-left: 12px solid transparent;;
}

.theme.theme-orange{
    border-bottom-color: #EDA634;
    border-right-color: #EDA634;
}
.theme.theme-red{
    border-top-color: #CB1D1E;
    border-right-color: #CB1D1E;
}
.theme.theme-blue{
    border-bottom-color: #2D9DCD;
    border-left-color: #2D9DCD;
}
.theme.theme-green{
    border-top-color: #73BD2C;
    border-left-color: #73BD2C;
}
.theme.theme-violet{
    border-top-color: #B889AD;
    border-left-color: #B889AD;
}
.theme-transparent{
    border-color: transparent;
}
.theme-dark-transparent.img-wrapper{
    border-color: rgba(0,0,0,0.1);
}
.theme-orange.img-wrapper{
    border-right-color: #EDA634;
}
.theme-red.img-wrapper{
    border-right-color: #CB1D1E;
}
.theme-blue.img-wrapper{
    border-right-color: #2D9DCD;
}
.theme-green.img-wrapper{
    border-right-color: #73BD2C;
}
.theme-violet.img-wrapper{
    border-right-color: #B889AD;
}

#schedule-day1.page-section{
    padding-bottom: 1em;
}
.color-index.page-section{
    padding-top: 1em;
    padding-bottom: 1em;
}

.color-index ul{
    margin-left: auto;
    margin-right: auto;
}
.color-index li{
    display: inline-block;
    margin-right: 20px;
}
.color-index li span{
    width: 10px;
    height: 10px;
    display: inline-block;
    box-shadow: 1px 1px 3px #ccc;
}
.fill-dark.color-index li span, .fill-blue.color-index li span{
    box-shadow: none;
}
.color-index .theme-orange span{
    background-color: #EDA634;
}
.color-index .theme-red span{
    background-color: #CB1D1E;
}
.color-index .theme-blue span{
    background-color: #2D9DCD;
}
.color-index .theme-violet span{
    background-color: #B889AD;
}
.color-index .theme-green span{
    background-color: #73BD2C;
}