/* ========= */
/* = Theme = */
/* ========= */


a {
    color: inherit;
    border-bottom: 1px solid;
}
a:hover,
a:focus {
    text-decoration: none;
    color: white;
    background-color: #005580;
    border-color: transparent;
}
a:hover         { background-color: #444; }
.link-silent a,
a.link-silent   { border-bottom: none; }

.prose.prose-type a { border-bottom: none; }
/*  Colours  */

.black          { color: #000000 !important; }
.dark           { color: #444444 !important; }
.gray           { color: #AAAAAA !important; }
.light          { color: #EEEEEE !important; }
.red            { color: #E55252 !important; }
.green          { color: #aed581 !important; }
.blue           { color: #46425a !important; }
.white          { color: #FFFFFF !important; }
.yellow         { color: #B49B33 !important; }
.faded          { color: rgba(255,255,255,.8) !important; }

.blue-bg        { background: #46425A; padding: 0 5px 0 5px;}
.shadow-text-white   { text-shadow: 1px 1px 3px rgba(0,0,0,0.2); }
.block-shadow-light { box-shadow: 0 1px 5px rgba(0,0,0,0.1);}

.fill-white     { background-color: #FFFFFF !important; color: #444; }
.fill-dark      { background-color: #586152 !important; color: #EEE; }
.fill-dark-hud  { background-color: rgba(0,0,0,0.65) !important; color: #EEE; }
.fill-black     { background-color: #000000 !important; color: #EEE; }
.fill-silver-hud{ background-color: rgba(255,255,255,0.65) !important; color: #222; }
.fill-red       { background-color: #BB3311 !important; color: #FCF3F3; }
.fill-green     { background-color: #8bc34a !important; color: #FCF3F3; }
.fill-lightgreen     { background-color: #C6E1A7 !important; color: #666; }
.fill-yellow     { background-color: #ffee58 !important; color: #333; }
.fill-lightyellow{ background-color: rgba(180, 155, 51, 0.2) !important; color: #333; }
.fill-redgray   { background-color: #EFE7E6 !important; color: #222020; }
.fill-greengray { background-color: #E5E5E5 !important; color: #222020; } /*#789733*/
.fill-blue      { background-color: #46425a !important; color: #FFFFFF;}
.fill-lightgray { background-color: rgba(0,0,0,0.1) !important; color: #FCF3F3; }
.fill-mediumgray { background-color: rgba(0,0,0,0.2) !important; color: #FCF3F3; }
.fill-darkgray { background-color: rgba(0,0,0,0.3) !important; color: #FCF3F3; }

.fill-gold      { background-color: rgba(204, 153, 0, 0.1); color: #333;}
.fill-silver    { background-color: #aed581; color: #666;}
.fill-bronze    { background-color: rgba(140, 120, 83, 0.1); color: #333;}


.fade-red-to-dark {
    background-image: -webkit-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:    -moz-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:      -o-linear-gradient(top,       #BB3311 20%, #121212);
    background-image:         linear-gradient(top bottom,#BB3311 20%, #121212);
}
.fade-green-to-dark {
    background-image: -webkit-linear-gradient(top,       #778B4C 20%, #121212);
    background-image:    -moz-linear-gradient(top,       #778B4C 20%, #121212);
    background-image:      -o-linear-gradient(top,       #778B4C 20%, #121212);
    background-image:         linear-gradient(top bottom,#778B4C 20%, #121212);
}
.schedule > li{
    border-top: 1px solid #B8DD77;
    border-bottom: 1px solid #9FBA7D;
    list-style-type: none;
}
.schedule > li a:hover{
    color: #333;
}
.schedule > li h3{
    padding-top: 6px;
}
.fill-dark .schedule > li{
    border-top: 1px solid #6E7368;
    border-bottom: 1px solid #414240;
}
.fill-dark .schedule > li a:hover{
    color: #FFF;
}
.fill-dark .schedule > li h3{
    padding-top: 6px;
}
.fill-blue .schedule > li{
    border-top: 1px solid #675A70;
    border-bottom: 1px solid #2F2936;
}
.fill-blue .schedule > li h3{
    padding-top: 6px;
}
.schedule > li:first-child, .fill-dark .schedule > li:first-child{
    border-top: none;
}
.schedule > li:last-child, .fill-dark .schedule > li:last-child{
    border-bottom: none;
}
.theme-box-bottom{
    border-bottom: 4px solid transparent;
}
.theme-box-right{
    border-left: 0.3em solid transparent;
    padding-left: 1em;
}
.table-bordered th {
    padding: 0.5em 1em;
    background-color: rgba(255,255,255,0.1);
}
.table-bordered td:first-child {
    padding: 0.5em;
    width: 16%;
}
.table-bordered td:nth-child(2) {
    padding-right: 1em;
    width: 42%;
}
.table-bordered td:nth-child(3) {
    padding-right: 1em;
    width: 43%;
}
.schedule .gray a{
    border-bottom: 0;
}
.schedule .gray a:hover{
    background-color: transparent;
    color: #333;
}
.schedule i.icon-youtube-play{
    color: #9C3E3E;
}
.schedule i.icon-filter{
    color: #DAAB79;
}
.fill-dark .schedule .gray a:hover{
    color: #EAEAEA;
}
.theme-box-left i{
    padding-left: 5px;
}
.theme-box-right i{
    padding-right: 5px;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #DBEDC9!important;
}
.table-wrapper {
    border: 1px solid #DBEDC9!important;
}
.table-wrapper table{    
    margin: -1px;
    width: 100%;
    width: calc(100% + 2px) !important;
}
@media (min-width: 768px){
  .schedule{
      overflow: hidden;
  }
}

.theme-orange-light{
    background-color: rgba(237, 166, 52, 0.4);
}
.theme-red-light{
    background-color: rgba(203, 29, 30, 0.4);
}
.theme-blue-light{
    background-color: rgba(45, 157, 205, 0.4);
}
.theme-green-light{
    background-color: rgba(115, 189, 44, 0.4);
}
.theme-violet-light{
    background-color: rgba(184, 137, 173, 0.5);
}
.theme-orange{
    border-color: #F36F21;
}
.theme-red{
    border-color: #ED1260;
}
.theme-blue{
    border-color: #2384C6;
}
.theme-green{
    border-color: #71BF44;
}
.theme-violet{
    border-color: #FAA61A;
}
.theme-pink{
    border-color: #FF99FF;
}
.theme-transparent{
    border-color: transparent;;
}

.speaker-photo.theme-orange{
    border-left: 12px solid #F36F21;
}
.speaker-photo.theme-red{
    border-left: 12px solid #ED1260;
}
.speaker-photo.theme-blue{
    border-left: 12px solid #2384C6;
}
.speaker-photo.theme-green{
    border-left: 12px solid #71BF44;
}
.speaker-photo.theme-violet{
    border-left: 12px solid #FAA61A;
}
.speaker-photo.theme-transparent{
    border-left: 12px solid transparent;;
}

.theme.theme-orange{
    border-bottom-color: #F36F21;
    border-right-color: #F36F21;
}
.theme.theme-red{
    border-top-color: #ED1260;
    border-right-color: #ED1260;
}
.theme.theme-blue{
    border-bottom-color: #2384C6;
    border-left-color: #2384C6;
}
.theme.theme-green{
    border-top-color: #71BF44;
    border-left-color: #71BF44;
}
.theme.theme-violet{
    border-top-color: #FAA61A;
    border-left-color: #FAA61A;
}
.theme-transparent{
    border-color: transparent;
}
.theme-dark-transparent.img-wrapper{
    border-color: rgba(0,0,0,0.1);
}
.theme-orange.img-wrapper{
    border-right-color: #EDA634;
}
.theme-red.img-wrapper{
    border-right-color: #CB1D1E;
}
.theme-blue.img-wrapper{
    border-right-color: #2D9DCD;
}
.theme-green.img-wrapper{
    border-right-color: #73BD2C;
}
.theme-violet.img-wrapper{
    border-right-color: #B889AD;
}
.theme-pink.img-wrapper{
    border-right-color: #FF99FF;
}

#schedule-day1.page-section{
    padding-bottom: 1em;
}
.color-index.page-section{
    padding-top: 1em;
    padding-bottom: 1em;
}

.color-index ul{
    margin-left: auto;
    margin-right: auto;
}
.color-index li{
    display: inline-block;
    margin-right: 20px;
}
.color-index li span{
    width: 10px;
    height: 10px;
    display: inline-block;
    box-shadow: 1px 1px 3px #ccc;
}
.fill-dark.color-index li span, .fill-blue.color-index li span{
    box-shadow: none;
}
.color-index .theme-orange span{
    background-color: #F36F21;
}
.color-index .theme-red span{
    background-color: #ED1260;
}
.color-index .theme-blue span{
    background-color: #2384C6;
}
.color-index .theme-violet span{
    background-color: #FAA61A;
}
.color-index .theme-green span{
    background-color: #71BF44;
}
.color-index .theme-pink span{
    background-color: #FF99FF;
}
