/* ================= */
/* = Media Queries = */
/* ================= */



// Masthead only, for small screens
@media screen and (max-width: 600px) {
  #masthead .page-header {
    padding-top: 1em;
    padding-left: 1em;
  }
  #masthead-small .page-header {
    padding-top: 8em;
  }
  .main-navbar {
    .container {
      padding: 0;
    }
    .nav {
      padding: 0 5px;
      display: block;
      @include pie-clearfix;
      @include border-radius(0);
      & > li {
          display: block;
          float: left;
          margin-bottom: 5px;
      }
    }
  }
}

// UP TO LANDSCAPE PHONE
// ---------------------

@media screen and (max-width: 480px) {
  #masthead {
  }
}


// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media screen and (max-width: 767px) {
  #masthead .page-header {
    padding-top: 2em;
    padding-left: 0;
  }
  // FIXME: This is ugly. Use generic hide-on-phones, etc classes
  #funnel-preview .header .funnel-preview-by,
  #funnel-preview .header .funnel-preview-date {
    display: none;
  }
  #funnel-preview .funnel-preview-by {
    float: left;
    &:before {
        content: "—";
    }
    &:after {
        content: ",\0000a0";
    }
  }
  #funnel-preview .funnel-preview-date {
    float: left;
  }
  .sponsor {
    margin-top: 1em !important;
  }
  .sponsor.empty, .sponsor.open {
    display: none;
  }
  .footer-bar {
    border-bottom: 0;
  }

  #funnel-listing {
    .header {
      display: none;
    }
    .funnel-by {
      float: left;
      &:before {
        content: "—";
      }
      &:after {
        content: ",\0000a0";
      }
    }
    .funnel-date {
      float: left;
      &:after {
        content: ",\0000a0"; 
      }
    }
    .funnel-comments {
      display: none;
    }
    .funnel-votes {
      float: left;
      font-weight: bold;
    }
  }
}

// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media screen and (min-width: 768px) and (max-width: 979px) {
  #masthead .page-header {
    padding-top: 2em;
    padding-left: 0;
  }
}

// TABLETS AND BELOW
// -----------------
@media screen and (max-width: 979px) {
  #masthead .page-header {
    padding-left: 0;
  }
}

// DEFAULT DESKTOP
// ---------------

@media screen and (min-width: 980px) {
  #masthead .page-header {
    padding-left: 4em;
  }
}

// LARGE DESKTOP & UP
// ------------------

@media screen and (min-width: 1200px) {
  #masthead .page-header {
    padding-left: 8.5em;
  }
}
