body
  background: image-url("background.png")
  color: #ccc

header
  background: image-url("header-wide.jpg") 50% 0
  height: image-height("header-wide.jpg")

#hg-bar.hg-dark
  background: rgba(0, 0, 0, 0.6)

footer .footer-inner
  background: transparent
