@import "compass"

$font-size: 16px
$line-height: 24px

@mixin footer-height($height)
  #root
    margin-bottom: -($height + 10px)
    #root_footer
      height: $height + 10px
  footer
    background-color: #FFF
    min-height: $height
    .footer-inner
      min-height: $height

+footer-height(70px)

@mixin rounded_border($size: 6px)
  -moz-border-radius: $size
  -webkit-border-radius: $size
  -o-border-radius: $size
  border-radius: $size

/********** Common *********/
body, p
  color: #000
  font-family: Lato, Helvetica, Arial, sans-serif
  font-size: $font-size
  line-height: $line-height
  margin-bottom: $line-height / 2
a
  color: #787878
  &:hover
    color: #51BFE4

.container
  margin: 0 auto auto auto

h1
  font-family: Lato, Helvetica, Arial, sans-serif
  font-weight: bold
  font-size: 44px
  color: black
h2, h3
  font-family: Lato, Helvetica, Arial, sans-serif
  color: black
  margin-top: $line-height
  a, a:visited
    color: black
h2
  font-size: 30px
  line-height: $line-height * 2
h3
  font-size: 25px
  line-height: $line-height * 2
  a:hover
    color: #51BFE4
h4
  margin: 45px 0 20px 0

ul, ol
  margin-bottom: $line-height / 2

li
  line-height: $line-height
  margin-bottom: 0

/*********** header **********/
#masthead .page-header
  padding: 2.5em 0 0 8.5em

#masthead
  position: relative
  background: image-url("2013/masthead.jpg") no-repeat 50% top
  height: +image-height("2013/masthead.jpg") // + ($border-thickness * 2)

.page-header
  margin-top: 5px
  margin-left: 15px
  h1
    font-size: 36px
  h2
    font-family: Lato, Helvetica, Arial, sans-serif
    font-size: 20px
    line-height: 1
    font-weight: normal
    margin-top: 0

/*********** index ***********/
.description p
  margin-top: 5px
  text-align: left
  font-size: 21px
  line-height: 35px
  color: #000
.descriprtion p em
  color: #999

.centered
  margin-left: auto
  margin-right: auto
  width: 800px
  top: 0
  text-align: center

#previous-edition
  font-size: 20px
  .seperator
    padding: 15px
    i
      color: #51BFE4

#social
  margin-top: 0px
  margin-bottom: 50px
  border-radius: 10px
  padding-bottom: 10px
  span
    display: inline-block
    &:hover
      i
        color: #ccc
  .icon-twitter
    font-size: 24px
    padding-right: 5px
  .icon-envelope-alt
    font-size: 20px
    padding-right: 10px
    margin-left: 50px

#highlights
  margin-bottom: 50px
  .title
    font-size: 20px
  ul
    margin-left: 0
  li.card
    //margin-left: 28%
    list-style-type: none
    width: 300px
    border: 1px solid #ccc
    border-radius: 5px
    -moz-box-shadow: 1px 1px 3px #ccc
    -webkit-box-shadow: 1px 1px 3px #ccc
    box-shadow: 1px 1px 3px #ccc
    background: image-url('android.png')
    &:hover
      //background-color: #efefef
      opacity: 0.8
    a
      display: block
      padding: 10px
      &:hover
        text-decoration: none
  .card-band
    margin-left: -10px
    margin-right: -10px
    font-size: 12px
  .blueband
    background-color: #51BFE9
    color: #000
    float: left
    padding-left: 2%
    text-align: right
    width: 65%
    padding-right: 3%
  .blackband
    background-color: #000
    color: #fff
    float: right
    padding-right: 2%
    padding-left: 3%
    text-align: left
    width: 25%
  h4
    color: #787878

#videos
  li
    list-style-type: none
    float: left
    padding: 15px
    display: block
    position: relative
    width: 220px
    a:hover
      text-decoration: none
      .video-speaker
        color: #000
      i
        color: #51BFE4 
    .video-title
      position: relative
      font-size: 14px
      top: -28px
      line-height: 18px
    .video-speaker
      position: relative
      top: -28px
      text-transform: uppercase
      font-size: 11px
    img
      width: 200px
      height: 115px
      position: relative
      top: 0
      left: 0
      right: 0
    i
      position: relative
      top: -78px
      left: 0px
      font-size: 20px
      padding-left: 10px
      padding-right: 8px
      padding-top: 1px
      padding-bottom: 1px
      background: #000000
      opacity: 0.8
      border-radius: 5px

#other-editions
  margin-top: 30px
  li
    font-size: 18px
    list-style-image: image-url('2013/droidheads/li-other-editions.png')
    list-style-position: inside
    margin-left: 30px
    margin-top: 18px
    float: left

footer .footer-inner
  background: none 

@import "responsive"

@media screen and (max-width: 767px)
  .centered
    width: 80%
    margin-left: auto
    margin-right: auto
  #videos
    li
      float: none
      padding: 0px
      padding-bottom: 15px
      width: 100%
      img
        left: 20px
      i
        top: -48px
        left: -100px
      .video-title
        top: 2px
      .video-speaker
        top: 5px

@media (min-width: 768px) and (max-width: 979px)
  .centered
    width: 600px
  #videos
    li
      padding: 15px
      width: 235px

@media (min-width: 980px) and (max-width: 1200px)
  .centered
    width: 750px
  #videos
    li
      padding: 12px
      width: 210px
@media screen and (max-width: 480px)
  .centered
    width: 100%

      