/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 31.5em) {
	/* Style adjustments for viewports 36em and over go here */
	
	.container {
		max-width: 57em;
		padding: 0 1.5em;
		margin: 0 auto;
	}
	.bleed {
		padding: 0;
		max-width: 60em;
	}



	#header { margin: 0 auto; }
	#header hgroup {
		height: 24.14em;
		background: url(../_img/illos-day.jpg) no-repeat bottom center;
		background-size: 60em auto;
	}
	#header h3 {
		font-size: 1em;
		width: 40px;
		height: 33px;
	}
	#header h3 a {
		display: block;
		height: 100%;
		text-indent: -999em; overflow: hidden;
		background: url(../_img/hasgeek-presents_small.png) scroll no-repeat top left;
	}
	#header p { font-size: 1em; }
	#header p .expanded { display: inline; }
	#header .titles {
		margin: 11em 5% 0 auto;
		width: 16em;
	}
	#header h1 { font-size: 53px; }
	.wf-leaguegothicregular-n4-active #header h1 { font-size: 82px; }
	#header h2 { font-size: 22px; }
	
	nav ul { margin-top: 0; border-top: none; font-size: 18px; }
	.register { position: relative; }
	.tickets {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		padding: 1.5em 1.5em 0;
		background: url(../_img/stripes_dark_green.png);
		font-size: 12px;
		line-height: 16px;
		text-align: left;
		color: #EEE;
	}
	.tickets a { color: inherit; text-align: left; padding: 0; }
	.tickets a dt { float: left;  width: 50%; clear: left; font-weight: bold; margin-bottom: 1em; }
	.tickets a dd { float: right; width: 50%; font-family: Georgia, serif; margin: 0; text-align: right;  }
	.tickets .inactive { color: #AAB885; color: rgba(255,255,255,0.5); }
	
	
	#content {
		max-width: 60em;
		padding: 0;
		margin: 0 auto;
	}
	#content .container,
	#footer .container {
		clear: both;
		margin-right: 25%;
		padding: 0 3em 0 3em;
		margin-left: 0;
	}
	
	.strip { margin: 3em auto; }
	.strip h2 {
		font-size: 24px;
		line-height: 36px;
	}
	.strip .separator { margin: 5em auto 0; }
	
	
	#about-event {
		margin: 3em auto;
		line-height: 26px;
	}
	#about-event .box {
		background: #333;
		background: rgba(255,255,255,0.1);
		padding: 2em 2em 0.5em;
	}
	#about-event .lead {
		display: block;
		margin-right: 0;
		margin-bottom: 1em;
		line-height: 30px;
	}
	.blogpost { margin: 3em 0 4em; }
}
