@media only screen and (min-width: 52.5em) {
	/* Style adjustments for viewports 60em and over go here */
	
	.container {
		max-width: 84em;
		padding: 0 1.5em;
		margin: 0 auto;
	}
	.bleed {
		padding: 0;
		max-width: 87em;
	}
	
	
	#header hgroup {
		height: 35em;
		background: url(../_img/illos-day_large.jpg) no-repeat bottom center;
		-webkit-background-size: 90em auto;
		   -moz-background-size: 90em auto;
				background-size: 90em auto;
	}
	#header .titles {
		margin: 18em 1.7em 0 auto;
		width: 19.5em;
	}
	#header h1 { font-size: 64px; }
	.wf-leaguegothicregular-n4-active #header h1 { font-size: 100px; }
	#header h2 { font-size: 27px; }
	#header h3 { width: 60px; height: 50px; }
	#header h3 a { background-image: url(../_img/hasgeek-presents.png); }
	
/*	.no-touch.js #header hgroup { background: none; overflow: hidden; }
	.no-touch.js #header .titles { position: relative; z-index: 10; }
	.no-touch.js #header h3 { position: relative; z-index: 5; }
	.no-touch.js #parallax {
		display: block;
		padding: 0; margin: 0;
		z-index: 0;
		position: absolute;
		top: 0;
		bottom: 2px;
		height: auto;
		left: 50%;
		width: 90em;
		margin-left: -45em;
	}
	#parallax li {
		display: inline;
		position: absolute;
		list-style-type: none;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-position: bottom center;
		background-image: url(../_img/layers.png);
	}
	.no-touch.js #parallax-layer-1 { z-index: 10; background-position: center -600px;height: 500px;top: 0px;}
	.no-touch.js #parallax-layer-2 { z-index: 20; background-position: -30px -1215px;height: 220px;top: 100px; }
	.no-touch.js #parallax-layer-3 { z-index: 30; background-position: 20px -1500px; height: 250px;top: 245px; }
	.no-touch.js #parallax-layer-4 { z-index: 40; background-position: -35px -10px;  height: 180px;top: 170px;}
	.no-touch.js #parallax-layer-5 { z-index: 50; background-position: 135px -200px; height: 390px;top: 110px;}
*/
	
	#header nav .expanded { display: inline; }
	.tickets { font-size: 14px; }
	.tickets a dt { width: 50%; margin-bottom: 1.5em; }
	.tickets a dd { width: 50%; margin-bottom: 1.5em; }
	
	#content { max-width: 87em; }
	#content .container {
		width: 39em;
		position: relative;
		margin-left: auto;
		margin-right:auto;
		left: -7.5em;
	}
	.strip { margin: 4em auto; }
	.strip h2 {
		font-size: 36px;
		line-height: 48px;
	}
	
	.sidebar {
		top: 15em;
		right: 0;
		border-left: 1px solid rgba(200,200,200,0.3);
		border-right: 1px solid #666;
		border-right: 1px solid rgba(200,200,200,0.3);
	}
	.sidebar .widget + .widget { margin-top: 3em; }
	
	#about-event .box { margin: 0 -2em; }
	#about-event .lead { font-size: 24px; line-height: 36px; }
	
	.schedule table { word-break: normal; }
	.schedule .expanded { display: inline; }
	.schedule td { padding: 1em; }
	.schedule .time { display: block; min-width: 6em; }
	
	
	#footer {
		background: url(../_img/andy_separator.png) scroll repeat-x top center;
		padding-top: 80px;
	}
	#footer .container {
		max-width: 39em;
		margin: auto;
		padding-right: 18em;
	}

	#partners h3 {
		max-width: 84em;
		margin: 0 auto;
		position: relative;
		left: 3em;
	}
	#partners ul { margin: 0 auto 0; padding-left: 1.5em; max-width: 84em; }
	#partners li { width: 16%; height: 120px; }
}
