@media only screen and (min-width: 52.5em) {
	/* Style adjustments for viewports 60em and over go here */
	
	.container {
		max-width: 84em;
		padding: 0 1.5em;
		margin: 0 auto;
	}
	.bleed {
		padding: 0;
		max-width: 87em;
	}
	
	
	#header hgroup {
		height: 35em;
		background: url(../_img/illos-day.jpg) no-repeat bottom center;
		background-size: 90em auto;
	}
	#header .titles {
		margin: 18em 1.7em 0 auto;
		width: 19.5em;
	}
	#header h1 { font-size: 64px; }
	.wf-leaguegothicregular-n4-active #header h1 { font-size: 100px; }
	#header h2 { font-size: 27px; }
	#header h3 { width: 60px; height: 50px; }
	#header h3 a { background-image: url(../_img/hasgeek-presents.png); }
	
	.no-touch.js #header hgroup { background: none; overflow: hidden; }
	.no-touch.js #header .titles { position: relative; z-index: 10; }
	.no-touch.js #header h3 { position: relative; z-index: 5; }
	.no-touch.js #parallax {
		display: block;
		padding: 0; margin: 0;
		z-index: 0;
		position: absolute;
		top: 0;
		bottom: 2px;
		height: auto;
		left: 50%;
		width: 90em;
		margin-left: -45em;
	}
	#parallax li {
		display: inline;
		position: absolute;
		list-style-type: none;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		
		background-position: bottom center;
	}
	.no-touch.js #parallax-layer-1 { z-index: 10; background-image: url(../_img/layers/sky.png); background-position: top center; }
	.no-touch.js #parallax-layer-2 { z-index: 20; top: 18px; background-image: url(../_img/layers/buildings.png) }
	.no-touch.js #parallax-layer-3 { z-index: 30; top: 0; background-image: url(../_img/layers/land.png) }
	.no-touch.js #parallax-layer-4 { z-index: 40; top: 14px; background-image: url(../_img/layers/trees.png) }
	.no-touch.js #parallax-layer-5 { z-index: 50; top: 15px; background-image: url(../_img/layers/andy.png) }
	
	nav ul { margin-top: -1px; }
	#header nav .expanded { display: inline; }
	.tickets { font-size: 14px; }
	.tickets a dt { width: 70%; margin-bottom: 1.5em; }
	.tickets a dd { width: 30%; margin-bottom: 1.5em; }
	
	.strip { margin: 4em auto; }
	.strip h2 {
		font-size: 36px;
		line-height: 48px;
	}
	
	#about-event .box { margin: 0 -2em; }
	#about-event .lead { font-size: 24px; line-height: 36px; }
	
	#footer {
		background: url(../_img/andy_separator.png) scroll repeat-x top center;
		padding-top: 80px;
	}
	#footer .container {
		max-width: 39em;
		margin: auto;
		padding-right: 18em;
	}
}
