<section class="color-index page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="">
    <ul class="text-center"><strong>Themes: &nbsp;&nbsp;</strong>
      <li class="theme-blue"><span></span> Business</li>
      <li class="theme-red"><span></span> Systems</li>
      <li class="theme-green"><span></span> App Demos</li>
      <li class="theme-orange"><span></span> Gaming</li>
      <li class="theme-violet"><span></span> UX/UI</li>
    </ul>
  </div>
</section>