<section class="color-index push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <ul class="text-center col-xs-12"><strong>Themes: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
      <li class="theme-blue"><span></span> Privacy &amp; Security </li>
      <li class="theme-red"><span></span> DataSync </li>
      <li class="theme-green"><span></span> App Demos</li>
      <li class="theme-orange"><span></span> IoT </li>
      <li class="theme-violet"><span></span> UI/UX</li>
    </ul>
  </div>
</section>