<section class="clearboth row-fluid color-index push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <ul class="text-center col-xs-12"><strong>Themes: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
      <li class="theme-orange"><span></span> Hardware</li>
      <li class="theme-red"><span></span> DataSync & Versioning</li>
      <li class="theme-blue"><span></span> App Demos</li>
      <li class="theme-green"><span></span> IoT </li>
      <li class="theme-violet"><span></span> UI/UX</li>
      <li class="theme-pink"><span></span> Hands-on Workshops</li>
    </ul>
  </div>
  <div class="ticket-link-container">
      <div class="text-center space-line">
          <a class="button tiny ticket-button" href="https://in.explara.com/e/droidcon-2014" target="_blank">Get Tickets: Rs. 4000 (REGULAR)</a>
          <p class="tiny"><em>Single day tickets are also available<sup>*</sup></em></p>
      </div>
  </div>
</section>