<section class="credits page-section full-width clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <h2 class="col-lg-12 extralarge all-caps">Credits</h2>
  </div>
  
  <div class="row-fluid container">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 space-two-top">
      <a href="https://hasgeek.com"><img class="img-responsive" src="https://hasgeek.com/static/img/hg-banner.png" alt="HasGeek logo"></a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 clearfix">
      <h3 class="all-caps semibold regular space-two-top space-one-bottom">About HasGeek</h3>
      <div class="regular-prose prose-type prose">
        <p><a href="http://hasgeek.com/">HasGeek</a> helps people in technology meet each other, collaborate on new opportunities and advance the state of the art. We organize conferences, hacknights, workshops and geekups, and provide tools for communities to self-organize.</p>
        <p>We’ve created conferences around the themes of <a href="http://metarefresh.in/">front end engineering</a>, <a href="http://fifthelephant.in/">big data and cloud computing</a>, <a href="http://jsfoo.in/">JavaScript</a>, <a href="http://droidcon.in/">Android</a>, <a href="http://cartonama.com/">location-aware services</a> and <a href="http://rootconf.in/">devops</a>. Our <a href="http://jobs.hasgeek.com/">Job Board</a> is used by thousands of geeks every month to find new opportunities.</p>
        <p>HasGeek is a technology company in the media business, bringing software automation to a traditionally people-intensive operation. In a little over two years, HasGeek has organized over two dozen conferences attended by thousands of technology professionals, made several thousand connections, and built open source tools that are now used by many communities.</p>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 clearfix">
      <dl class="inline-on-mobile dl-plain secondary">
        <dt class="all-caps semibold space-two-top space-one-bottom regular">HasGeek Team</dt>
        <dd><a target="_blank" href="https://twitter.com/harisibrahimkv">Haris&nbsp;Ibrahim&nbsp;K&nbsp;V</a></dd>
        <dd><a target="_blank" href="https://twitter.com/jamna">Jamna&nbsp;Vyas</a></dd>
        <dd><a target="_blank" href="https://twitter.com/jackerhack">Kiran&nbsp;Jonnalagadda</a></dd>
        <dd><a target="_blank" href="https://twitter.com/kracetheking">Krace&nbsp;Kumar&nbsp;Ramaraju</a></dd>
        <dd><a target="_blank" href="https://twitter.com/nimisja">Nimisha&nbsp;Saikia</a></dd>
        <dd><a target="_blank" href="https://twitter.com/void_imagineer">Praseetha&nbsp;K&nbsp;R</a></dd>
        <dd><a target="_blank" target="_blank" href="https://www.facebook.com/radha.rao.73">Radha&nbsp;Rao</a></dd>
        <dd><a target="_blank" href="https://twitter.com/zainabbawa">Zainab&nbsp;Bawa</a></dd>
      </dl>
    </div>
  </div>
</section>
