<section class="event-highlights clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <h2 class="span12 space-two-top large visible-phone text-center space-two-bottom link-silent"><i class="icon-twitter hidden-xs"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://twitter.com/droidconIN">@droidconIN</a>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://twitter.com/search?q=%23droidconin&src=hash">#droidconin</a></h2>
  </div>
  
</section>
