<section class="event-themes page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    
    <div class="span12 legible-prose prose-type space-two-bottom space-three-top">
      <ul class="row offset1">
        <li>
          <div class="theme"></div>
          <h3>App Demos</h3>
        </li>
        <li>
          <div class="theme"></div>
          <h3>Business</h3>
        </li>
        <li>
          <div class="theme"></div>
          <h3>Gaming</h3>
        </li>
        <li>
          <div class="theme"></div>
          <h3>Systems</h3>
        </li>
        <li>
          <div class="theme"></div>
          <h3>UI/UX</h3>
        </li>
      </ul>
    </div>
    <div class="offset1 span10">This year, we've lined up dedicated tracks for deep dives into Systems, UX, Gaming, Business & App Demos that bring together the best speakers in the country. Of note this year, the Systems track shall span two days, and provide deep technical sessions.</div>
  </div>
</section>
