<section id="droidconIN-sponsorship" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}" id="annoucements">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 visible-xs space-two-bottom">
        <ul class="nav nav-tabs sponsorship-page-tabs">
          <li class="active"><a href="#about" class="smooth-scroll">About</a></li>
          <li><a href="#catalogue" class="smooth-scroll">Sponsorship</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-xs-12" id="about">
        <h2 class="extrabold space-one">About droidconIN</h2>
        <p class="legible-prose">droidconIN is an annual gathering of mobile developers who build for various mobile platforms, primarily Android. The conference's goal is to expose developers to the latest technological advances in the mobile ecosystem and the means to apply them when they build apps for mobile. Most of the speakers and attendees tend to be Android developers.</p>
        <p class="legible-prose">droidconIN happens on 10-11 November this year. The conference will bring together 500-600 Android and cross-platform developers.</p>
        <div id="section1-photos" class="free-wall">
          <div class="brick" style="width:300px; mq"><a href="https://www.flickr.com/photos/hasgeek/23816600056/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c1.staticflickr.com/6/5750/23816600056_42238880a8_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23843248375/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c8.staticflickr.com/1/673/23843248375_3ffb9b8037_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23843216885/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c6.staticflickr.com/6/5762/23843216885_25c66f5362_z.jpg" alt="droidconIN 2015"></a></div>
        </div>
        <h2 class="extrabold space-two-top space-one-bottom">Who’s coming?</h2>
        <p class="legible-prose">Android developers, cross-platform developers, startup founders and CTOs, engineers and senior engineers from mid-size to large companies like Flipkart, Myntra, BookMyShow, etc and UI designers are expected to attend. droidconIN will also have companies operating in the B2B space, building apps for businesses and enterprises. We expect to see OEMs, startups running apps, developers who have their apps in the Playstore and App Store, e-commerce, fintech, data analytics, web and mobile development firms/studios. The speakers will also belong to this pool.</p>
        <div id="section2-photos" class="free-wall">
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23816581966/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c7.staticflickr.com/6/5753/23816581966_fd105479fc_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23843181915/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c4.staticflickr.com/1/578/23843181915_ea707acf78_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23217593083/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c4.staticflickr.com/6/5819/23217593083_58178c3953_z.jpg" alt="droidconIN 2015"></a></div>
        </div>
        <h2 class="extrabold space-two-top space-one-bottom">What's happening?</h2>
        <p class="legible-prose">The conference will cover talks on core Android technology – toolchains, libraries, SDKs/APIs. The conference also features talks on how large organizations – such as Myntra, BookMyShow, Dropbox – manage their mobile team, organize code, and make tech choices to manage scalability and expedite releases. There will also be app demos and lightning talks from the community at the conference, coupled with workshops and Birds of Feather (BoF) group discussion sessions.</p>
        <div id="section3-photos" class="free-wall">
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23734753072/in/album-72157661861127029/" title="droidconIN 2015"><img src="https://c1.staticflickr.com/1/653/23734753072_8d51895701_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a =href="https://www.flickr.com/photos/hasgeek/23817086476/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c5.staticflickr.com/6/5789/23817086476_f3d8255f78_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23215050044/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c5.staticflickr.com/6/5725/23215050044_d9cec2e9f3_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23547021980/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c5.staticflickr.com/1/697/23547021980_e340a0ac6b_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:300px"><a href="https://www.flickr.com/photos/hasgeek/23844383045/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c6.staticflickr.com/1/738/23844383045_d617b26ceb_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23761899371/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c4.staticflickr.com/1/587/23761899371_5e438c1e5f_z.jpg" alt="droidconIN 2015"></a></div>
        </div>
        <p class="regular space-one blue"><a href="/2016#schedules" target="_blank">See schedule</a></p>
<!--         <h2 class="extrabold space-two-top space-one-bottom">Sponsor benefits</h2>
        <p class="legible-prose">We run email campaigns as well as social media campaigns on Facebook and Twitter. As a sponsor, you will be a part of our social media campaigns and we will promote your presence at the conference. We are also willing to work out surveys about the Android ecosystem and get feedback for your product/app/API/SDK.</p>
        <p class="legible-prose">We have specialized packages you can avail according to your needs and product on this website.</p>
        <div id="section4-photos" class="free-wall">
          <div class="brick" style="width:300px"><a href="https://www.flickr.com/photos/hasgeek/23816590566/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c7.staticflickr.com/1/609/23816590566_92dcfca444_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23816596936/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c1.staticflickr.com/6/5648/23816596936_181023cbf7_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23214557794/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c3.staticflickr.com/1/625/23214557794_22f49d9d0d_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23734288192/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c1.staticflickr.com/1/684/23734288192_3173eb0004_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:300px"><a href="https://www.flickr.com/photos/hasgeek/23474774559/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c8.staticflickr.com/1/769/23474774559_b7acc858f4_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23842678645/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c6.staticflickr.com/6/5743/23842678645_2a4b7f7439_z.jpg" alt="droidconIN 2015"></a></div>
        </div> -->
        <h2 class="extrabold space-two-top space-one-bottom">droidconIN 2016 sponsors</h2>
        {% with %}
          {% from theme("data/sponsors.html") import types, items %}
          {% for type in types %}
            {% set outer = loop %}
            {% for item in items if item.type == type.id  %}
              {% if loop.first %}
              <div id="sponsors-{{ type.id }}" class="row-fluid">
                <ul class="nospace-bottom list-plain link-silent clearfix list-space-line nopad-left sponsor-{{ type.size }}">
              {% endif %}
                <li>
                    <a href="{% if type.size == 'compact' %}{{ item.link }}{% else %}sponsors#{{ type.id }}-{{ item.id }}{% endif %}" class="occupy fill-lightgray sponsorlogo {% if item.orientation == 'portrait' %}contain-height{% elif item.orientation == 'landscape' %}contain-width{% endif %}">
                      <img alt="{{ item.title }}" src="{{ item.logo }}">
                    </a>
                </li>
              {% if loop.last %}
                </ul>
              </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endwith %}
        <h2 class="extrabold space-two-top space-one-bottom">Testimonials</h2>
        <p class="regular clearfix"><i class="fa fa-quote-left pad-half-right"></i>Between refreshing new lessons, business leads, potential hires and the sheer energy of the talent present at the conference, I think it was money & time well spent, even for an early stage startup as ours. We sent 11 members of our team including interns, and I'd do it all over again without thinking twice! This is the standard of discourse we should try and maintain across any conference or event we organize, these guys at HasGeek have a thing or two to teach the rest of our tech ecosystem.<br><span class="tiny flushright blue space-half">Ashwini Asokan on The Fifth Elephant 2016 </span><br><span class="tiny flushright blue">Founder and CEO, Mad Street Den</span></p>
        <p class="regular clearfix"><i class="fa fa-quote-left pad-half-right"></i>The logistics of the conference itself - wifi, videos, communication etc is as good as it gets. Kudos to your guys for running such a high quality data conference overall.<br><span class="tiny flushright blue space-half">Regunath Balasubramanian on The Fifth Elephant 2016 </span><br><span class="tiny flushright blue">Principal Architect at Flipkart.com</span></p>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="sponsorship-sales" id="catalogue">
          <h2 class="extrabold text-left space-one">Sponsor droidconIN</h2>
          <div id="outreach-widget"><p class="text-left regular space-two">Loading...</p></div>
        </div>
      </div>

    </div>
  </div>
</section>
