<section class="event-themes nopush-bottom push-four-top clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container-fluid push-four-top">
    <div class="row-fluid push-four-top">
      <div class="col-lg-8 col-lg-offset-2 regular">
        <div class="row">
          <div class="col-sm-6">
            <p>Droidcon is India's largest Android developer conference, and is part of the world wide series of conferences that happens in London, Paris, Berlin, Netherlands, Tunis, Ankara and Brussels. Join us for two days of sessions on everything about Android, happening at MLR Convention Centre, JP Nagar, Bangalore.</p>
          </div>
          <div class="col-sm-6">
            <p>In the 2014 edition, we are lining up dedicated tracks for deep dives into <span class="white">UI/UX, Data sync &amp; versioning, App Demos</span> and <span class="white">Security &amp; privacy</span> that bring together the best speakers in the country. This year we will also showcase the trending Android wearables and IoT.</p>
          </div>
        </div>
      </div>
    </div>
      <div class="col-lg-6 col-lg-offset-3 legible-prose prose-type space-three-top">
        <img src="https://imgee.s3.amazonaws.com/imgee/cbac0405db8d45cdbd16a94929a3b5ce.png" width="100%" alt="">
      </div>
    </div>
  </div>
</section>
