<section class="event-highlights full-width clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <h2 class="span12 space-two-top large all-caps visible-phone text-center space-two-bottom">Highlights</h2>
    
    <div class="span12 legible-prose prose-type space-two-bottom space-three-top">
      <ul class="row offset1">
        <li>
          <h1>14</h1>
          <h5>Talks</h5>
        </li>
        <li>
          <h1>4</h1>
          <h5>Panel Discussions</h5>
        </li>
        <li>
          <h1>6</h1>
          <h5>App Demos</h5>
        </li>
        <li>
          <h1>3</h1>
          <h5>Lightning Rounds</h5>
        </li>
        <li>
          <h1>6</h1>
          <h5>Hacknights</h5>
        </li>
        <li>
          <h1>6</h1>
          <h5>Workshops</h5>
        </li>
        <li>
          <h1>+1</h1>
          <h5>Awesome Party!</h5>
        </li>
      </ul>
    </div>
  </div>
  
</section>
