<section class="event-themes push-two clearfix{% if background %} fill-{{ background }}{% endif %}">

<p class="secondary center text-center space-two-bottom ">
    <a class="buyticket" href="https://droidcon2014.explara.com//">Buy your Ticket</a>
    </p>
  <div class="row-fluid container">
    <div class="col-lg-12">
      <p class="regular-prose">
        Droidcon is India's largest Android developer conference, and is part of the world wide series of conferences that happens in London, Paris, Berlin, Netherlands, Tunis, Ankara and Brussels. 
        Join us for two days of sessions on everything about Android, happening at <a href="http://bit.ly/Zs4uTR" target="_blank">MLR Convention Centre, JP Nagar, Bangalore</a>. <br><br> In the 2014 edition, we are lining up dedicated tracks for deep dives into UI/UX, Data sync, App Demos and Security &amp; privacy that bring together the best speakers in the country. This year we will also showcase trending Android wearables and the latest in
        IoT. 
      </p>
    </div>
  </div>
  <div class="row-fluid container">
    <div class="col-lg-12 legible-prose prose-type space-two-bottom space-three-top">
      <ul class="row offset1">
        <li>
          <div class="theme theme-green" id="app-demos"></div>
          <h3 class="change-font-size">App Demos</h3>

        </li>
        <li>
         <div class="theme theme-violet" id="ux"></div>
          <h3 class="change-font-size">UI/UX</h3>
          
        </li>
        <li>
          <div class="theme theme-orange" id="gaming"></div>
          <h3 class="change-font-size">Android wearables &amp; IoT</h3>
        </li>
        <li>
          <div class="theme theme-red" id="systems"></div>
          <h3 class="change-font-size">DataSync &amp; Versioning</h3>
        </li>
        <li>
         <div class="theme theme-blue" id="business"></div>
          <h3 class="change-font-size">Privacy &amp; Security</h3> 
        </li>
        
      </ul>
    </div>
      <div class="col-lg-12">
      <p class="regular-prose"><!--if you wish to speak st our conference submit your talk hear--><p class="title-type secondary space-one-top">
        <a class="button-Propose-a-session" href="/2014/proposals">submit your talk</a>
      </p></p>
      </div>
  </div>
</section>
