<section class="event-themes push-four-top nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}" id="annoucements">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-lg-8 col-lg-offset-2 clearfix regular">
        <div class="col-sm-6">
          <p><strong>droidconIN is India's largest Android developer conference</strong>. The 2015 edition is over. Join us next year for the sixth edition of <a href="https://droidconin.talkfunnel.com/2016" target="_blank">droidconIN</a> in November.</p>
          <p>For more updates, follows us on <a href="https://www.facebook.com/droidcon.in" target="_blank">Facebook</a> and <a href="https://twitter.com/droidconIN" target="_blank">Twitter</a>.</p>
        </div>
        <div class="col-sm-6">
          <p>droidconIN 2015 was about Android breaking out of mainstream smartphones and tablets and moving into all kinds of unique devices like IoT, Wearables, Automotive, TV, etc. Read all the interesting talk submissions <a href="https://droidconin.talkfunnel.com/2015/" target="_blank">here</a>.</p>
          <p>2015 edition had workshops on <a href="android-basics-workshop" class="semibold">Basic Android app development</a>, <a href="android-and-iot-workshop" class="semibold">Android &amp; IoT</a> and <a href="material-design-workshop" class="semibold">Material design</a>.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <p class="space-half legible-prose text-center">Sign up to receive updates.</p>
        <form class="form-horizontal nospace" id='subscribe' action="" role="form" autocomplete="off">
          <div class="text-center">
            <input type="email" class="subscribe-input" id="subscribe-email" name="subscribe-email" required placeholder="Email"/>
            <button type="submit" class="subscribe-button prose-type all-caps">Subscribe</button>
            <img src="{{ theme_static('img/ajax-loader.gif') }}" class="ajax-loader"/>
          </div>
        </form>
        <div class="secondary text-center helptext"><p class="subscribe-status nospace"></p></div>
      </div>
      <div class="col-lg-6 col-lg-offset-3">
        <img src="https://imgee.s3.amazonaws.com/imgee/cbac0405db8d45cdbd16a94929a3b5ce.png" width="100%" alt="">
      </div>
    </div>
  </div>
</section>
