<section class="event-themes nopush-bottom push-three-top clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container-fluid">
    <div class="row-fluid container">
      <div class="col-lg-12 legible-prose prose-type space-two-bottom">
        <ul class="row offset1">
          <li>
            <div class="theme theme-green" id="app-demos"></div>
            <h3 class="tiny change-font-size">App Demos</h3>

          </li>
          <li>
           <div class="theme theme-violet" id="ux"></div>
            <h3 class="tiny change-font-size">UI/UX</h3>
            
          </li>
          <li>
            <div class="theme theme-orange" id="gaming"></div>
            <h3 class="tiny change-font-size">Android wearables &amp; IoT</h3>
          </li>
          <li>
            <div class="theme theme-red" id="systems"></div>
            <h3 class="tiny change-font-size">DataSync &amp; Versioning</h3>
          </li>
          <li>
           <div class="theme theme-blue" id="business"></div>
            <h3 class="tiny change-font-size">Privacy &amp; Security</h3> 
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</section>
