<section class="event-themes push-four-top nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}" id="annoucements">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-lg-8 col-lg-offset-2 regular">
        <div class="col-sm-6">
          <p><strong>droidconIN is India's largest Android developer conference</strong>. This year’s edition spans two days 17 &amp; 18 December 2015. Join us for sessions on everything about Android, happening at MLR Convention Centre, JP Nagar, Bangalore.</p><p>From its humble beginnings as a mobile OS six years ago, Android is now the most popular operating system (of any kind) in the world. </p>
        </div>
        <div class="col-sm-6">
          <p>2015 is the year of Android breaking out of mainstream smartphones and tablets and moving into all kinds of unique devices like IoT, Wearables, Automotive, TV, etc. droidconIN 2015 wants to talk about how we can push these boundaries even further. Read all the interesting talk submissions <a href="https://droidconin.talkfunnel.com/2015/" target="_blank">here</a>.</p>
          <p>This year, we have workshops on <a href="android-and-iot-workshop" class="semibold">Android &amp; IoT</a> and <a href="material-design-workshop" class="semibold">Material design</a>.</p>
        </div>
      </div>
      <div class="col-sm-12">
        <p class="space-half legible-prose text-center">Sign up to receive updates.</p>
        <form class="form-horizontal nospace" id='subscribe' action="" role="form" autocomplete="off">
          <div class="text-center">
            <input type="email" class="subscribe-input" id="subscribe-email" name="subscribe-email" required placeholder="Email"/>
            <button type="submit" class="subscribe-button prose-type all-caps">Subscribe</button>
            <img src="{{ theme_static('img/ajax-loader.gif') }}" class="ajax-loader"/>
          </div>
        </form>
        <div class="secondary text-center helptext"><p class="subscribe-status nospace"></p></div>
      </div>
      <div class="col-lg-6 col-lg-offset-3 legible-prose prose-type space-three-top">
        <img src="https://imgee.s3.amazonaws.com/imgee/cbac0405db8d45cdbd16a94929a3b5ce.png" width="100%" alt="">
      </div>
    </div>
  </div>
</section>
