<section class="funnel push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <h2 class="col-lg-5 extralarge all-caps">Session Proposals</h2>
    
    <div class="col-lg-7 legible-prose prose-type space-one-top">
      <p>
        Anyone is welcome to propose a session. Participants who have purchased conference tickets will vote on session proposals. The Programme Committee steering Droidcon India will also vote on submissions and balance the community voting.
      </p>
      
      <p class="title-type secondary space-one-top">
        <a class="button" href="https://funnel.hasgeek.com/droidcon2013/">Propose a Session</a>
      </p>
    </div>
  </div>
  
</section>
