<section id="grants" class="push-four-top push-two-bottom {% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid">
      <h2 class="col-sm-12 col-xs-12 legible medium text-center space-one">droidconIN 2015 Diversity Grants</h2>
      <div class="col-sm-12 col-xs-12 space-two">
        <p class="secondary"><a href="http://hasgeek.com" target="_blank">HasGeek</a> believes in diversity of participation at the conferences. We would like to make every effort to include members from underrepresented groups at our conferences. We have therefore introduced a grants programme for all our upcoming conferences.</p>
        <p class="secondary">Grants are intended to provide financial assistance and/or opportunities to members of these groups and enable them to participate in the community. Actual number of grants will be awarded depending on the quality of applications. Those who receive the grant will get to watch some of best speakers from the tech community talk about their craft and cutting edge technology.</p>
         <p class="secondary">For droidconIN 2015, we have grants for women and students interested in android development. Grants for women developers is sponsored by Intel® Software and organized by droidcon global department.</p>
        <h4 class="regular bold">Who can apply?</h4>
        <p class="secondary">Grants are open to 
        <ul>
          <li class="secondary">Women developers</li>
          <li class="secondary">Students</li>
        </ul>
        <h4 class="regular bold">What does this grant include ?</h4>
        <p class="secondary">The grant includes a pass to attend the event and refund for travel and accommodations cost, up to a maximum of 23,000 INR. Travel and accommodation costs will be reimbursed after the conference on submission of expense receipts. Grant awardees are expected to organize their travel and accommodation.</p>
<!--         <h4 class="regular bold">How do I apply?</h4>
        <ul>
          <li><p class="secondary">For Women developers<a href="https://droidcon.de/femalesponsorship" class="button-on-dark tiny gap-half" title="Droidcon 2015 Diversity Grants" target="_blank">Apply here</a></p></li>
          <li><p class="secondary">For Students<a href="https://goo.gl/forms/bhXEfOP7PR" class="button-on-dark tiny gap-half" title="Droidcon 2015 Diversity Grants" target="_blank">Apply here</a></p></li>
        </ul>
        <p class="secondary">Deadline for submitting applications is 20th November 2015.</p> -->
        <p class="regular bold text-center">Grants closed.</p>
        <p class="secondary text-center">Thank you for your applications. Grants are now in evaluation.</p>
        <p class="secondary text-center">For any queries regarding grant, write to us at <a href="mailto:grants@hasgeek.com" class="link-silent">grants@hasgeek.com</a></p>
      </div>
    </div>
  </div>
</section>