<section id="about" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 push-one-bottom">
      <div>
        <h2 class="semibold push-1q-bottom">Themes</h2>
        <p class="regular-prose">Participants can develop apps around any one of the following themes:</p>
        <p>
          <ol class="regular-prose">
            <li>Personal productivity</li>
            <li>Wellness</li>
            <li>Communications (involving voice, text or speech)</li>
          </ol>
        </p>

        <h2 class="semibold space-two-top push-1q-bottom">Teams</h2>
        <p class="regular-prose">Teams can be formed before the hackathon, or at the hackathon itself. We encourage a mix of skills in each team: design, business development and engineering.  Maximum team size is four members.</p>

        <h2 class="semibold space-two-top push-1q-bottom">Judging criteria</h2>
        <p class="regular-prose">Apps will be judged – on a scale of 1-10 – according to the following criteria:</p>
        <p>
          <ul class="regular-prose">
            <li>Innovation</li>
            <li>Adherence to design standards</li>
            <li>Potential to generate revenue</li>
            <li>Presentation skill</li>
            <li>Judges' evaluation</li>
          </ul>
        </p>
        <p class="regular-prose">Bonus points will be awarded to those teams who integrate Sony's / Amazon's / Intel's APIs/tools/services.</p>

        <h2 class="semibold space-two-top push-1q-bottom">Resources</h2>
        <div class="regular-prose fill-lightgray col-lg-12 black push-half">
          <p>Developing for the <span class="bold">Sony SmartWatch 2</span> is really easy!</p>
          <p>Just head over to <a href="http://developer.sonymobile.com/knowledge-base/tutorials/android_tutorial/how-to-create-an-app-extension-for-sony-smartwatch-2/" target="_blank" class="green">this page</a> on the <a href="http://developer.sonymobile.com/" class="link-silent" target="_blank">Developer World website</a>. There you will learn what you need to get started with your app, including</p>
          <ul>
            <li>How to set up your environment</li>
            <li>Where to find sample code and API references</li>
            <li>How to test and verify your app</li>
            <li>How to properly publish your app on Google Play</li>
          </ul>
          <p>See you at the hack!</p></div>
      </div>    
    </div>
  </div>
</section>