<section id="sponsors" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container text-center">
    <h2 class="push-two-bottom large all-caps">Hackathon Sponsors</h2>
    <div class=" push-one-bottom">
      <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nospace-bottom list-plain link-silent clearfix list-space-line sponsor-m">
        <li>
          <a target="_blank" href="http://software.intel.com/android" class="occupy fill-white sponsor-logo">
            <img src="https://imgee.s3.amazonaws.com/imgee/cee9515951d24d8fa5122b9cec73824d_w300_h101.png" alt="Intel">
          </a>
        </li>
        <li>
          <a target="_blank" href="http://sonymobile.com/developer" class="occupy fill-white sponsor-logo">
            <img src="https://imgee.s3.amazonaws.com/imgee/020703af89a0416a8cd2473235b8cc44_w300_h101.png" alt="Sony">
          </a>
        </li>
        <li>
          <a target="_blank" href="http://www.adaptxt.com/" class="occupy fill-white sponsor-logo">
            <img src="https://imgee.s3.amazonaws.com/imgee/c2c4658a42654abeabeb1b0e0e162b05_w300_h101.png" alt="KeyPoint Technology">
          </a>
        </li>
        <li>
          <a target="_blank" href="http://www.amazon.com/mobile-apps/b?node=2350149011" class="occupy fill-white sponsor-logo">
            <img src="https://imgee.s3.amazonaws.com/imgee/187518a22c8d47b39e0395d44541181e_w300_h101.png" alt="Amazon">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>