<section id="hackathon" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container text-center">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extralarge all-caps space-one-bottom">Droidcon Hackathon</h2>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2 class="all-caps">29 Nov 6:00pm - 30 Nov 6:00pm</h2>
      <h3 class="space-two-top large blue">A 24 hour hackathon followed by demos and prizes</h3>
      <div class="fill-lightgray green secondary text-left">
        <h3 class="push-one-top">&nbsp;&nbsp;<i class="icon-trophy yellow"></i>&nbsp;&nbsp;Intel will award Samsung Galaxy Tab 3 to top 5 apps that showcase Intel differentiation</h3>
        <h3>&nbsp;&nbsp;<i class="icon-trophy yellow"></i>&nbsp;&nbsp;Amazon will give one kindle fire to the best app that integrates the Amazon API</h3>
        <h3 class="push-one-bottom">&nbsp;&nbsp;<i class="icon-trophy yellow"></i>&nbsp;&nbsp;And more goodies from Sony</h3>
      </div>
      
      <a target="_blank" href="https://hacknight.in/droidconin/2013-bangalore" class="secondary button space-one-bottom space-1q-top">More Details</a>
      <p class="secondary-prose">( <a target="_blank" href="http://droidcon.doattend.com/">Ticket price: <strong>Rs. 1000</strong></a>, <strong class="green">Free for Droidcon India Conference ticket purchasers</strong> )</p>

      <div class="row push-half-bottom push-two-top">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
          <div class="yellow offer fill-blue">
          <i class="icon-bullhorn"></i>
            SPECIAL OFFERS
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">

          <div class="fill-greengray">
            <div class="offer-text fill-lightgray">
              <div class="row push-1q">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                  <img class="push-half" width="80%" src="https://images.hasgeek.com/embed/file/759a301bf2dc45998cdf5da90e292faf" alt="CloudEngine">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <div class="regular-prose dark semibold">Hack away your apps with a byte of cloud!</div>
                  <div class="tiny green push-1q">CloudEngine is offering free accounts to<br>all the Hackathon participants of Droidcon India 2013</div>
                  <div class="tiny blue"><a target="_blank" href="http://getcloudengine.net/droidcon">more info >></a></div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>