<section id="hackathon" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container text-center">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extralarge all-caps space-one-bottom">Droidcon Hackathon</h2>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2 class="all-caps">29 Nov 6:00pm - 30 Nov 6:00pm</h2>
      <h3 class="space-two-top large blue">A 24 hour hackathon followed by demos and prizes</h3>
      <div class="fill-lightgray green secondary text-left">
        <h3 class="push-one-top">&nbsp;&nbsp;<i class="icon-trophy"></i>&nbsp;&nbsp;Intel will award Samsung Galaxy Tab 3 to top 5 apps that showcase Intel differentiation</h3>
        <h3 class="push-one-bottom">&nbsp;&nbsp;<i class="icon-trophy"></i>&nbsp;&nbsp;Amazon will give one kindle fire to the best app that integrates the Amazon API</h3>
      </div>
      <a href="https://hacknight.in/droidconin/2013-bangalore" class="secondary button space-one">Register</a>
      <p class="secondary-prose">(Open to only Droidcon India ticket purchasers)</p>
    </div>
  </div>
</section>