<section id="prizes" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container text-center">
    <h2 class="push-one-bottom large">Exciting Prizes</h2>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 push-one-bottom">
      <div class="fill-lightgray green secondary text-left">
        <div class="padding">          
          <table>
            <tbody>
              <tr>
                <td style="width:35px"><i class="icon-trophy yellow"></i></td>
                <td>Intel will award Samsung Galaxy Tab 3 to top 5 apps that showcase Intel differentiation</td>
              </tr>
              <tr>
                <td><i class="icon-trophy yellow"></i></td>
                <td>Amazon will award kindle fire to the best app that integrates the Amazon API</td>
              </tr>
              <tr>
                <td><i class="icon-trophy yellow"></i></td>
                <td>Adaptxt will award Nexus 7 to the innovative app which  uses Adaptxt APIs</td>
              </tr>
              <tr>
                <td><i class="icon-trophy yellow"></i></td>
                <td>And more goodies from Sony</td>
              </tr>
              <tr>
                <td><i class="icon-trophy yellow"></i></td>
                <td>Github will give coupons for one year's access to a private repository for top 5 teams.</td>
              </tr>
            </tbody>          
          </table>
        </div>
      </div>    
    </div>
  </div>
</section>