<section id="hackathon" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container text-center">
    <div class="space-two-top col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-12 fill-blue text-center">
      <div class="yellow offer"><i class="icon-bullhorn"></i>&nbsp;&nbsp;SPECIAL OFFERS</div>
    </div>
    <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-12 fill-greengray block-shadow-light">
      <div class="offer-text row">
        <ul>
          
          <li class="col-lg-5 col-md-5 col-sm-6 col-xs-12 push-half space-one-bottom fill-lightgray dark text-center offer-block">
            <img class="push-half" width="40%" src="https://images.hasgeek.com/embed/file/759a301bf2dc45998cdf5da90e292faf" alt="CloudEngine">
            <div class="regular-prose bold">Hack away your apps with a byte of cloud!</div>
            
            <div class="tiny push-1q">CloudEngine is offering free accounts to<br>all the Hackathon participants of Droidcon India 2013</div>
            <div class="push-half-bottom"><a href="http://getcloudengine.net/droidcon" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></div>
          </li>
          <li class="col-lg-5 col-md-5 col-sm-6 col-xs-12 push-half space-one-bottom fill-lightgray dark text-center offer-block">
            <img class="push-half" width="40%" src="https://imgee.s3.amazonaws.com/imgee/c85da4ce23f144b9b57b2f7da73b7185.png" alt="CloudEngine">
            <div class="tiny push-1q-top push-two-bottom">50 teams at Droidcon get free upgrade to GitHub's Gold Plan for one month to host their code on a private repository</div>
          </li>
          
        </ul>         
      </div>   
    </div>
  </div>
</section>