<section id="hackathon" class=" fill-wordpressblue   push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container fill-wordpressblue">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extralarge all-caps space-one-bottom text-center">What to expect</h2>
    
    <div class="row">
      <div class="col-lg-6  what-to-expect">
        <ul style="list-style: none;" class="large-prose hack-color">
          <li class="hack-font ">.</li>
          <li>TALKS</li>
          <li>HANDS ON WORK SESSIONS </li>
          <li>IoT PROJECT DEMO ZONES </li>
          <li class="hack-font ">.</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul style="list-style: none;" class="large-prose  hack-color">
          <li class="hack-font ">.</li>
          <li style=""> DELEGATE LOUNGE</li>
          <li> NETWORKING & MORE </li>
          <li> FLASH TALKS </li>
          <li class="hack-font ">.</li>
        </ul>
      </div>
    </div>
    
  </div>
</section>