<section id="prizes" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container text-center">
    <h2 class="push-one-bottom">Exciting Prizes!</h2>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 push-one-bottom">
      <div class="fill-lightgray green secondary text-left">
        <h3 class="push-one-top">&nbsp;&nbsp;<i class="icon-trophy yellow"></i>&nbsp;&nbsp;Intel will award Samsung Galaxy Tab 3 to top 5 apps that showcase Intel differentiation</h3>
        <!-- <h3>&nbsp;&nbsp;<i class="icon-trophy yellow"></i>&nbsp;&nbsp;Amazon will give one kindle fire to the best app that integrates the Amazon API</h3> -->
        <h3>&nbsp;&nbsp;<i class="icon-trophy yellow"></i>&nbsp;&nbsp;More goodies from Sony</h3>
        <h3 class="push-one-bottom">&nbsp;&nbsp;<i class="icon-trophy yellow"></i>&nbsp;&nbsp;Github will give coupons for one year's access to a private repository for top 5 teams.</h3>
      </div>    
    </div>
  </div>
</section>