<section id="hackathon" class=" fill-wordpressblue   push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container fill-wordpressblue">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extralarge all-caps space-one-bottom text-center">What to expect</h2>
    
    <div class="row">
      <div class="col-lg-6  what-to-expect">
        <ul style="list-style: none; all-upper" class="large-prose hack-color">
          <li class="hack-font  ">.</li>
          <li>Talks</li>
          <li>Hands-on work sessions </li>
          <li>IoT Project Demo Zones </li>
          <li class="hack-font ">.</li>
        </ul>
      </div>
      <div class="col-lg-6">
        <ul style="list-style: none;" class="large-prose  hack-color">
          <li class="hack-font ">.</li>
          <li style=""> Delegate lounge  </li>
          <li> Networking & More </li>
          <li> Flash Talks </li>
          <li class="hack-font ">.</li>
        </ul>
      </div>
    </div>
    
  </div>
</section>