<section id="hotels" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">

  <div class="row-fluid container">
    <h2 class="col-lg-12 extralarge all-caps space-two-bottom">Hotels</h2>
  </div>
  <div class="container row-fluid">
    {% with %}
      {% from theme("data/hotels.html") import types, items %}

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="4">Hotel Name</th>
              <th>Address &amp; Website</th>
              <th>Contact</th>
              <th>Distance from Venue</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody class="tiny prose prose-type unstyled">
            {% for item in items  %}         
                <tr class="fill-{% if item.type == 'special-offer' %}white{% elif item.type == 'budget' %}lightgreen{% elif item.type == 'delux' %}silver{% elif item.type == 'luxury' %}silver{% endif %}">             
                  <td class="bold secondary-prose semibold" colspan="4">{{ item.title }}</td>
                  <td>{{ item.address|safe }} <br><a class="yellow" target="_blank" href="http://{{ item.link }}">{{ item.link }}</a></td>
                  <td>{{ item.contact|safe }}</td>              
                  <td>{{ item.distance }} km</td>
                  <td>{% for t in types %}{% if item.type == t.id %}{{ t.title }}<br><small>[{{ t.rate }}]</small>{% endif %}{% endfor %}</td>
                </tr>        
            {% endfor %}
          </tbody>
        </table>    
      </div>    
    {% endwith %}
  </div>
</section>
