<section id="highlights" class="push-three-top push-two-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 legible-prose prose prose-type">
        <p><b>droidconIN</b> is India’s largest Android conference, and part of a worldwide series of conferences focused on the Android ecosystem. This year will be the 6th edition, and will take place on November 10th-11th, 2016 at the MLR Convention Centre, JP Nagar, Bangalore.</p>
        <p>In 2016, we are doubly-focused on core Android development, and the ecosystem of tools and frameworks around it.</p>
        <p>The 2015 edition had advanced technical talks with an emphasis on developing for resource constrained regions like India.</p>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 conference-gallery">
        <div id="conf-photos" class="free-wall">
          <div class="brick" style="width:250px"><a href="https://www.flickr.com/photos/hasgeek/23816600056/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c1.staticflickr.com/6/5750/23816600056_42238880a8_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23843248375/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c8.staticflickr.com/1/673/23843248375_3ffb9b8037_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23734753072/in/album-72157661861127029/" title="droidconIN 2015"><img src="https://c1.staticflickr.com/1/653/23734753072_8d51895701_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:250px"><a href="https://www.flickr.com/photos/hasgeek/23843216885/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c6.staticflickr.com/6/5762/23843216885_25c66f5362_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23816581966/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c7.staticflickr.com/6/5753/23816581966_fd105479fc_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23843181915/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c4.staticflickr.com/1/578/23843181915_ea707acf78_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a =href="https://www.flickr.com/photos/hasgeek/23817086476/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c5.staticflickr.com/6/5789/23817086476_f3d8255f78_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23215050044/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c5.staticflickr.com/6/5725/23215050044_d9cec2e9f3_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:250px"><a href="https://www.flickr.com/photos/hasgeek/23547021980/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c5.staticflickr.com/1/697/23547021980_e340a0ac6b_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23844383045/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c6.staticflickr.com/1/738/23844383045_d617b26ceb_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23761899371/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c4.staticflickr.com/1/587/23761899371_5e438c1e5f_z.jpg" alt="droidconIN 2015"></a></div>
        </div>
      </div>

      <div class="col-xs-12 push-two-top">
        <div class="container text-center fill">
          <a target="_blank" href="https://hasgeek.tv/droidconin/" class="button secondary heading">View videos of past editions</a>
          <p class="space-one-top regular-prose">Photos:&nbsp;&nbsp;<a target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157628123835597/">2011</a>,&nbsp;<a target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157631915710534/">2012</a>,&nbsp;<a target="_blank" href="https://www.flickr.com/photos/hasgeek/sets/72157637995437074/">2013</a>,&nbsp;<a target="_blank" href="https://www.flickr.com/photos/hasgeek/sets/72157649227069379">2014</a>,&nbsp;<a target="_blank" href="https://www.flickr.com/photos/hasgeek/albums/72157661861127029">2015</a></p>
        </div>
      </div>

    </div>
  </div>
</section>
