<section id="highlights" class="push-four-top push-three-bottom nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 push-one-bottom">
        <h2 class="large">Previously at<br />droidconIN</h2>
        <ul class="inline-on-mobile list-plain secondary prose">
          <li><a href="//droidcon.in/2014">Bangalore&nbsp;2014</a></li>
          <li><a href="//droidcon.in/2013">Bangalore&nbsp;2013</a></li>
          <li><a href="//droidcon.in/2012">Bangalore&nbsp;2012</a></li>
          <li><a href="//droidcon.in/2011/">Bangalore&nbsp;2011</a></li>
        </ul>
        <h6 class="large push-one-top">droidcon worldwide<br /></h6>
        <ul class="inline-on-mobile list-plain secondary prose">
          <li><a href="http://nyc.droidcon.com/2014/" target="_blank">New York</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://uk.droidcon.com/" target="_blank">London</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://swdc.se/droidcon/events/stockholm-2014/" target="_blank">Stockholm</a></li>
          <li><a href="http://es.droidcon.com/2014/" target="_blank">Madrid</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://ru.droidcon.com/2014/" target="_blank">Moscow</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://droidcon.com/" target="_blank">Brussels</a></li>
          
          <li><a href="http://www.droidcon.nl/" target="_blank">Amsterdam</a>&nbsp;&nbsp;&nbsp;<a href="http://www.droidcon.nl/" target="_blank">Berlin</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://it.droidcon.com/2015/" target="_blank">Turin</a></li>
          
          <li><a href="http://droidcon.tn/" target="_blank">Tunisia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.androiddeveloperdays.com" target="_blank">Ankara</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://ro.droidcon.com/2014/" target="_blank">Bucharest</a></li>        
        </ul>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 legible-prose prose prose-type space-one-top ">
        <p>
          droidconIN is part of the world wide series of conferences that happens in <a href="http://uk.droidcon.com/" target="_blank">London</a>, <a href="http://fr.droidcon.com/" target="_blank">Paris</a>, <a href="http://de.droidcon.com/" target="_blank">Berlin</a>, <a href="http://www.droidcon.nl/" target="_blank">Netherlands</a>, <a href="http://droidcon.tn/" target="_blank">Tunis</a>, <a href="http://www.androiddeveloperdays.com/" target="_blank">Ankara</a> and <a href="http://droidcon.com/" target="_blank">Brussels</a>. The first edition of droidconIN was at Bangalore in Nov 2011. The second edition in Nov 2012 was featuring General &amp; Specialized Topics, Native + HTML5 and App Demos. The 2013 edition was about Systems, UX, Gaming, Business and App Demos. The 2014 edition featured dedicated tracks for deep dives into UI/UX, Data sync &amp; versioning, App Demos and hardware.
        </p>
      </div>
    </div>
  </div>
  
  
  <div class="clearboth">

    <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
      <li>
        <article class="video-thumbnail prose-type">
          <p class="image-preview">
            <a href="https://hasgeek.tv/droidconin/2014-2/1030-scaling-open-source" target="_blank">
              <img alt="" src="{{ theme_static('img/1.jpg') }}">
            </a>
          </p>
          <h4>
            <a href="https://hasgeek.tv/droidconin/2014-2/1030-scaling-open-source" target="_blank">
              Scaling Open Source 
            </a>
          </h4>
          <h5>
            Abhisek Devkota
          </h5>
        </article>
      </li>
      <li>
        <article class="video-thumbnail prose-type">
          <p class="image-preview">
            <a href="https://hasgeek.tv/droidconin/2014-1/1042-ramu-k-c-mobile-deep-linking" target="_blank">
              <img alt="" src="{{ theme_static('img/2.jpg') }}">
            </a>
          </p>
          <h4>
            <a href="https://hasgeek.tv/droidconin/2014-1/1042-ramu-k-c-mobile-deep-linking" target="_blank">
              Mobile Deep linking
            </a>
          </h4>
          <h5>
            Ramu K C
          </h5>
        </article>
      </li>
      <li>
        <article class="video-thumbnail prose-type">
          <p class="image-preview">
            <a href="https://hasgeek.tv/droidconin/2014-1/1034-new-material-design-patterns" target="_blank">
              <img alt="" src="{{ theme_static('img/3.jpg') }}">
            </a>
          </p>
          <h4>
            <a href="https://hasgeek.tv/droidconin/2014-1/1034-new-material-design-patterns" target="_blank">
              New Material design patterns
            </a>
          </h4>
          <h5>
            Soham Mondal 
          </h5>
        </article>
      </li>
      <li>
        <article class="video-thumbnail prose-type">
          <p class="image-preview">
            <a href="https://hasgeek.tv/droidconin/2014-1/1039-image-effects-to-make-your-apps-stand-out" target="_blank">
              <img alt="" src="{{ theme_static('img/4.jpg') }}">
            </a>
          </p>
          <h4>
            <a href="https://hasgeek.tv/droidconin/2014-1/1039-image-effects-to-make-your-apps-stand-out" target="_blank">
              Image effects to make your apps stand out
            </a>
          </h4>
          <h5>
            Vinay S Shenoy
          </h5>
        </article>
      </li>
    </ul>
  </div>
  <div class="push-one">
    <div class="container text-center">
      <a target="_blank" href="https://hasgeek.tv/droidconin/" class="button secondary heading">More videos on HasGeek TV</a>
      <p class="space-one-top regular-prose">Photos:&nbsp;&nbsp;<a target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157628123835597/">2011</a>,&nbsp;<a target="_blank" href="http://www.flickr.com/photos/hasgeek/sets/72157631915710534/">2012</a>,&nbsp;<a target="_blank" href="https://www.flickr.com/photos/hasgeek/sets/72157637995437074/">2013</a>,&nbsp;<a target="_blank" href="https://www.flickr.com/photos/hasgeek/sets/72157649227069379">2014</a></p>
    </div>
  </div>
  <div class="nopush-top push-three-bottom container">
    <h2 class="text-center space-one">Testimonials</h2>
    <p class="regular clearfix"><i class="icon-quote-left pad-half-right"></i>Droidcon India is the biggest android conference in the region and is the place to be if you are into android development, design or architecture. I've attended every single edition of Droidcon India and I must say that I've met some amazing people and startups here. <br><span class="tiny flushright gray">Soham Mondal, <br>co-organiser of BlrDroid, Android developer and entrepreneur.</span></p>
    <p class="regular clearfix"><i class="icon-quote-left pad-half-right"></i>DroidCon 2014 was one of the best tech conferences I have ever attended. As always HasGeek events, could meet with a lot of GitHub and Twitter 'celebrities' in person. <br><span class="tiny flushright gray">Arnav Gupta, <br>CyanogenMod contributor, Android hacker &amp; evangelist, <br>Open source enthusiast. Electrical Engineering student.</span></p>
  </div>
</section>
