<section class="schedule-index push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 index-links">
      <a href="schedule#schedule-day1">
        <div class="push-one fill-lightgray dark text-center link-silent">
          <i class="icon-3x icon-laptop"></i>
          <h4>Conference:<br>Day 1</h4>
          <h5 class="black all-caps">5th Dec</h5>
        </div>
      </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 index-links">
      <a href="schedule#schedule-day2">
        <div class="push-one fill-lightgray dark text-center link-silent">
          <i class="icon-3x icon-laptop"></i>
          <h4>Conference:<br>Day 2</h4>
          <h5 class="black all-caps">6th Dec</h5>
        </div>
      </a>
    </div>
  </div>
</section>