<section class="color-index push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container center-block">
  	<div class="col-lg-6 col-lg-offset-3">
  		<h3 class="text-center legible-prose semibold space-one-bottom">App Demo track Sponsors</h3>
  		<a href="http://www.sequoiacap.com/" class="occupy fill-white sponsor-logo contain-width">
		    <img alt="Sequoia Capital" src="https://imgee.s3.amazonaws.com/imgee/b4405839308647d19f564d5e94f203bf.png">
		</a>
  	</div> 
  </div>
</section>