<section class="schedule-index push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="">
        <div class="infobox push-one fill-lightgray dark text-center link-silent">
          <i class="icon-android icon-3x"></i><i class="icon-2x icon-cog"></i>
          <h4>Workshop - Beginner</h4>
          <h5 class="green all-caps">23 - 24 Sept</h5>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="">
        <div class="infobox push-one fill-lightgray dark text-center link-silent">
          <i class="icon-android icon-3x"></i><i class="icon-2x icon-cogs"></i>
          <h4>Workshop - Advanced</h4>
          <h5 class="green all-caps">26 - 27 Sept</h5>
        </div>
      </a>
    </div> -->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
      <a href="">
        <div class="push-one fill-lightgray dark text-center link-silent">
          <i class="icon-3x icon-laptop"></i>
          <h4>Conference: <br class="visible-sm">Day 1</h4>
          <h5 class="black all-caps">28 Sept</h5>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <a href="">
        <div class="push-one fill-lightgray dark text-center link-silent">
          <i class="icon-3x icon-laptop"></i>
          <h4>Conference: <br class="visible-sm">Day 2</h4>
          <h5 class="black all-caps">29 Sept</h5>
        </div>
      </a>
    </div>
  </div>
</section>