<section class="schedule-index page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container">
    <div class="col-lg-12">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#"><i class="icon-cog icon-4x"></i><br><br>Workshop - Beginner</a></li>
        <li class="fill-red"><a href="#"><i class="icon-cogs icon-4x"></i><br><br>Workshop - Advanced</a></li>
        <li class="fill-green"><a href="#"><i class="icon-laptop icon-4x"></i><br><br>Conference: Day 1</a></li>
        <li class="fill-blue"><a href="#"><i class="icon-laptop icon-4x"></i><br><br>Conference: Day 2</a></li>
      </ul>
    </div>
  </div>
</section>