<section id="speaker-connect" class="push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid container text-center">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 extralarge all-caps space-one-bottom">Speaker Connect</h2>
    <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space-one-bottom">Meet with speakers &amp; sponsors</h4>

    <div class="text-center legible-prose">
      <table class="table-bordered col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <thead>
          <tr class="fill-dark yellow">
            <th></th>
            <th class="text-center" colspan="3">28 Nov</th>
            <th class="text-center" colspan="2">29 Nov</th>
          </tr>
          <tr class="fill-greengray black secondary-prose">
            <th class="text-center push-half">Time</th>
            <th class="text-center push-half"><i class="icon-briefcase"></i>&nbsp;&nbsp;Business Corner</th>
            <th class="text-center push-half"><i class="icon-gamepad"></i>&nbsp;&nbsp;Gaming Corner</th>
            <th class="text-center push-half" colspan="2"><i class="icon-cog"></i>&nbsp;&nbsp;Systems Corner</th>
            <th class="text-center push-half"><i class="icon-mobile-phone"></i>&nbsp;&nbsp;UI/UX Corner</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fill-mediumgray">11:45</td>
            <td></td>
            <td class="theme-orange-light">Intel<div class="black semibold tiny push-1q-bottom">Game engines for android</div></td>
            <td></td>
            <td class="fill-mediumgray"></td>
            <td class="theme-violet-light">Design</td>
          </tr>
          <tr>
            <td class="fill-mediumgray">12:30</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fill-mediumgray"></td>
            <td class="theme-violet-light">Design</td>
          </tr>
          <tr>
            <td class="fill-mediumgray">01:15</td>
            <td colspan="3"><em class="gray tiny">lunch</em></td>
            <td class="fill-mediumgray" colspan="2"><em class="gray tiny">lunch</em></td>
          </tr>
          <tr>
            <td class="fill-mediumgray">02:15</td>
            <td></td>
            <td class="theme-orange-light">Gaming<div class="black semibold tiny push-1q-bottom">Vatsal Chintalapati</div></td>
            <td></td>
            <td class="theme-red-light">Systems<div class="black semibold tiny push-1q-bottom">Christopher Neugebauer<br>Sriram Ramani</div></td>
            <td class="fill-mediumgray"></td>
          </tr>
          <tr>
            <td class="fill-mediumgray">03:00</td>
            <td class="theme-blue-light">Business</td>
            <td></td>
            <td class="theme-red-light">Systems<div class="black semibold tiny push-1q-bottom">Satyam Kandula<br>Kumar Sukhani<br>Christopher Neugebauer</div></td>
            <td class="fill-mediumgray"></td>
            <td class="fill-mediumgray"></td>
          </tr>
          <tr>
            <td class="fill-mediumgray">03:45</td>
            <td colspan="3"><em class="gray tiny">tea break</em></td>
            <td class="fill-mediumgray" colspan="2"><em class="gray tiny">tea break</em></td>
          </tr>
          <tr>
            <td class="fill-mediumgray">04:00</td>
            <td class="theme-blue-light">Sequoia&nbsp;Capital</td>
            <td class="theme-orange-light">Intel<div class="black semibold tiny push-1q-bottom">Step by step walkthrough</div></td>
            <td></td>
            <td class="theme-red-light">Intel<div class="black semibold tiny push-1q-bottom">NDK app porting</div></td>
            <td class="fill-mediumgray"></td>
          </tr>
          <tr>
            <td class="fill-mediumgray">04:45</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fill-mediumgray"></td>
            <td class="fill-mediumgray"></td>
          </tr>
          <tr>
            <td class="fill-mediumgray">05:30</td>
            <td></td>
            <td class="theme-orange-light">Gaming<div class="black semibold tiny push-1q-bottom">Manish Mathai<br>Samarth Shah<br>Amit Shukla</div></td>
            <td></td>
            <td class="theme-red-light">Systems<div class="black semibold tiny push-1q-bottom">Bhaskar Gupta<br>Anshul Rai<br>Arun Joseph</div></td>
            <td class="fill-mediumgray"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>