<section id="special-offers" class="push-two-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-12 fill-blue text-center">
        <div class="yellow offer"><i class="icon-bullhorn"></i>&nbsp;&nbsp;SPECIAL OFFERS</div>
      </div>

      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-12 fill-greengray">
        <div class="offer-text row">
          <ul>
            <li class="col-lg-offset-1 col-lg-3 col-md-3 col-sm-6 col-xs-12 push-half space-one-bottom fill-lightyellow dark text-center">
              <div class="regular text-left"><i class="icon-ticket"></i>&nbsp;&nbsp;<span class="regular-prose">Milaap - Droidcon </span><span class="secondary-prose">offer</span></div>
              <div class="legible bold">20% off on 50 Droidcon tickets!</div>
              <div>&nbsp;</div>
              <div>Just make a returnable contribution to a cause you love and redeem your Good Karma instantly!</div>
              <div>&nbsp;</div>
              <div><a href="http://campaigns.milaap.org/droidcon/" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></div><div>&nbsp;</div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12 push-half space-one-bottom fill-lightgray dark text-center offer-block">
              <div class="regular text-left"><i class="icon-plane"></i>&nbsp;&nbsp;<span class="regular-prose">Cleartrip </span><span class="secondary-prose">is offering</span></div>
              <div class="legible bold">Rs. 1,000 discount</div>
              <div class="regular-prose bold">on round trip airfare</div>
              <div>to Droidcon participants.</div>
              <div class="tiny-prose space-half-top">* The offer is open to the first 50 participants, starts from 29th October.</div>
              <div><a href="http://showcase.cleartrip.com/droidcon/" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12 push-half fill-lightgray space-one-bottom dark text-center offer-block">
              <div class="regular text-left"><i class="icon-building"></i>&nbsp;&nbsp;<span class="regular-prose">Keys Hotel Whitefield</span></div>
              <div class="">is offering</div>
              <div class="legible bold">15 - 20% off</div>
              <div class="regular-prose">for Droidcon Participants</div>
              <div><a href="/2013/venue#hotels" class="yellow">more info <i class="icon-double-angle-right"></i></a></div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12 push-half space-one-bottom fill-lightgray dark text-center offer-block">
              <div class="regular text-left"><i class="icon-road"></i>&nbsp;&nbsp;<span class="regular-prose">RideShare </span><span class="secondary-prose">is offering</span></div>
              <div class="legible bold">Share a taxi</div>
              <div class="regular-prose bold">to Droidcon 2013</div>
              <div>&amp; Network with<br>interesting people<br>over the ride!</div>
              <div><a href="http://rideshare.co/droidcon-india-2013/" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12 push-half space-one-bottom fill-lightgray dark text-center offer-block">
              <div class="regular text-left"><i class="icon-road"></i>&nbsp;&nbsp;<span class="regular-prose">Olacabs </span><span class="secondary-prose">is offering</span></div>
              <div class="legible bold">Ride with Ola</div>
              <div class="regular-prose bold">win Ola Money</div>
              <div>&amp; carpool on return trips</div>
              <div><a href="http://www.olacabs.com/droidcon_2013" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
            </li>
          </ul>         
        </div>   
      </div>
    </div>
  </div>
</section>