<section id="special-offers" class="push-two-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-12 fill-blue text-center">
        <div class="yellow offer"><i class="icon-bullhorn"></i>&nbsp;&nbsp;SPECIAL OFFERS</div>
      </div>

      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-offset-1 col-sm-10 col-xs-12 fill-greengray">
        <div class="offer-text row">
          <ul>
            <li class="col-lg-3 col-md-3 col-sm-6 col-xs-12 push-half space-one-bottom fill-lightgray dark text-center">
              <div class="regular text-left"><i class="icon-plane"></i>&nbsp;&nbsp;<span class="regular-prose">Cleartrip </span><span class="secondary-prose">is offering</span></div>
              <div class="legible bold">Rs. 1,000 discount</div>
              <div class="regular-prose bold">on round trip airfare</div>
              <div>to Droidcon participants.</div><br>
              <div class="tiny-prose">* The offer is open to the first 50 participants, starts from 29th October.</div>
              <div><a href="http://showcase.cleartrip.com/droidcon/" target="_blank" class="yellow">more info <i class="icon-double-angle-right"></i></a></div>
            </li>
            <li class="col-lg-3 col-md-3 col-sm-6 push-half fill-lightgray space-one-bottom dark text-center">
              <div class="regular text-left"><i class="icon-building"></i>&nbsp;&nbsp;<span class="regular-prose">Keys Hotel Whitefield</span></div>
              <div class="">is offering</div>
              <div class="legible bold">15 - 20% off</div>
              <div class="regular-prose">for Droidcon Participants</div>
              <div><a href="/2013/venue#hotels" class="yellow">more info <i class="icon-double-angle-right"></i></a></div>
            </li>
            
          </ul>         
        </div>   
      </div>
    </div>
  </div>
</section>