<section id="sponsorship" class="highlights page-section push-two-top clearfix{% if background %} fill-{{ background }}{% endif %}">

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-xs-12">
        <h2>Why sponsor?</h2>
        <p class="legible-prose">Sponsoring tech events is always a tactical and strategic decision.</p>
        <p class="legible-prose">On the tactical front, you sponsor events to:</p>
        <ul class="legible-prose">
          <li>Hire.</li>
          <li>Evangelise your product / API / SDK and increase adoption.</li>
          <li>Sell your product / platform / offering.</li>
        </ul>
        <p class="legible-prose">Every tactical decision entails a somewhat longer term strategy. By sponsoring, you develop positive recall for your brand, and effectively take steps towards building a base or loyalty for your brand. Sponsorship is also a good way to give back to the community / support it. Developers view (and recall) companies that sponsor community events positively.</p>
      </div>
    </div>
  </div>

  <h2 class="text-center">Sponsorship catalogue</h2>
  <div id="boxoffice-widget"><p class="text-center regular">Loading...</p></div>
  <hr class="section-separator">
</section>