<section class="event-themes push-four-top push-two-bottom clearfix{% if background %} fill-{{ background }}{% endif %}" id="annoucements">
  <div class="container">
    <div class="row">
      <h2>Engage with  developers and communities</h2>
      <p class="legible-prose">About HasGeekOur events create discussion spaces for geeks to meet and learn from each other, collaborate, and advance the state of the art in technology. We advocate and promote a culture of open knowledge, sharing and contribution to open source projects. We run India’s most popular technology and startup job board – https://hasjob.co –with 30,000 visitors each month, 2,25,000 monthly page views, 3.81 pages per session.We have over 50,000 engaged users – per month – on our web properties including hasjob.co, talkfunnel.com, HasGeek web apps and event websites.</p>
    </div>
  </div>
</section>