<section class="event-themes push-four-top push-two-bottom clearfix{% if background %} fill-{{ background }}{% endif %}" id="annoucements">
  <div class="container">
    <div class="row">
      <h2>Why sponsor at all?</h2>
      <p class="legible-prose">Sponsoring tech events is always a tactical and strategic decision.</p>
      <p class="legible-prose">On the tactical front, you sponsor events to:</p>
      <ol class="legible-prose">
        <li>Hire.</li>
        <li>Evangelise your product / API / SDK and increase adoption.</li>
        <li>Sell your product / platform / offering.</li>
      </ol>
      <p class="legible-prose">Every tactical decision entails a somewhat longer term strategy. By sponsoring, you develop positive recall for your brand, and effectively take steps towards building a base or loyalty for your brand. Sponsorship is also a good way to give back to the community / support it. Developers view (and recall) companies that sponsor community events positively.</p>
      <p class="legible-prose">Why is droidconIN a good place to advertise your brand to mobile developers?</p>
      <p class="legible-prose">droidconIN is an annual gathering of mobile developers who develop for various platforms including Android. droidconIN's goal is to expose developers to the latest technological developments in the Android ecosystem and how they can apply these technological advances when they develop apps for Android.</p>
      <p class="legible-prose">droidconIN happens on 10-11 November this year. The conference will bring together 500-800 Android and cross-platform developers with a minimum of two years' experience building mobile apps.</p>
      <p class="legible-prose">droidconIN will also have companies operating in the B2B space, building apps for businesses and enterprises. We expect to see OEMs, startups running apps, developers who have their apps in the playstore, etc.</p> 
      <p class="legible-prose">Advertising at droidconIN is value for money because of the profile of the audience, quality of conversations with participants, and the opportunity to get feedback (and adoption) for your product / API / SDK.</p>
      <p class="legible-prose">Build awareness for your brand among some of India’s best mobile developers.</p>
    </div>
  </div>
</section>