<section class="sponsors page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <div class="offset1 span4 push-one-bottom">
      <h2 class="extralarge all-caps">Sponsors</h2>
    </div>
    
    <div class="offset1 span5 legible-prose prose-type space-one-top">
      <p>
        Showcase platforms, tools and APIs.<br>
        Engage the best developers and designers.
      </p>
      
      <p class="title-type secondary space-one-top">
        <a class="button button-on-dark" href="http://hsgk.in/1ayyFcL">Get Sponsorship Deck</a>
      </p>
    </div>
  </div>
</section>
