<section class="event-themes push-two-top clearfix{% if background %} fill-{{ background }}{% endif %}" id="annoucements">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-xs-12 conf-gallery">
        <div id="sponsorship-photos" class="free-wall">
          <div class="brick" style="width:300px"><a href="https://www.flickr.com/photos/hasgeek/23816590566/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c7.staticflickr.com/1/609/23816590566_92dcfca444_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23816596936/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c1.staticflickr.com/6/5648/23816596936_181023cbf7_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23214557794/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c3.staticflickr.com/1/625/23214557794_22f49d9d0d_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23734288192/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c1.staticflickr.com/1/684/23734288192_3173eb0004_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:300px"><a href="https://www.flickr.com/photos/hasgeek/23474774559/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c8.staticflickr.com/1/769/23474774559_b7acc858f4_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23215893473/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c2.staticflickr.com/6/5744/23215893473_da46c40b00_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23842678645/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c6.staticflickr.com/6/5743/23842678645_2a4b7f7439_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23474757639/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c8.staticflickr.com/6/5635/23474757639_e2933cc024_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:300px"><a href="https://www.flickr.com/photos/hasgeek/23215072094/in/album-72157661861127029/" title="droidconIN 2015"><img src="https://c7.staticflickr.com/6/5623/23215072094_3291216bc0_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:200px"><a href="https://www.flickr.com/photos/hasgeek/23843211615/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c8.staticflickr.com/6/5640/23843211615_6b534acc55_z.jpg" alt="droidconIN 2015"></a></div>
          <div class="brick" style="width:300px"><a href="https://www.flickr.com/photos/hasgeek/23760763011/in/album-72157661861127029/" title="droidconIN 2015" target="_blank"><img src="https://c4.staticflickr.com/1/632/23760763011_17a007d753_z.jpg" alt="droidconIN 2015"></a></div>    
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <h2 class="extrabold">Sponsor benefits</h2>
        <p class="legible-prose">We run email campaigns as well as social media campaigns on Facebook and Twitter. As a sponsor, you will be a part of our social media campaigns and we will promote your presence at the conference. We are also willing to work out surveys about the Android ecosystem and get feedback for your product/app/API/SDK.</p>
        <p class="legible-prose">We have specialized packages you can avail according to your needs and product on this website.</p>
      </div>

    </div>
  </div>
  <hr class="section-separator">
</section>
