<section id="testimonials" class="push-three-top push-two-bottom nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="clearboth"></div>
   <div class="push-one push-three-bottom container testimonials">
    <h2 class="text-center space-one">Testimonials</h2>
    <p class="regular clearfix"><i class="icon-quote-left pad-half-right"></i>droidconIN is the biggest android conference in the region and is the place to be if you are into android development, design or architecture. I've attended every single edition of droidconIN and I must say that I've met some amazing people and startups here. <br><span class="tiny flushright gray context">Soham Mondal, <br>co-organiser of BlrDroid, Android developer and entrepreneur.</span></p>
    <p class="regular clearfix"><i class="icon-quote-left pad-half-right"></i>droidconIN 2014 was one of the best tech conferences I have ever attended. As always HasGeek events, could meet with a lot of GitHub and Twitter 'celebrities' in person. <br><span class="tiny flushright gray context">Arnav Gupta, <br>CyanogenMod contributor, Android hacker &amp; evangelist, Open source enthusiast and electrical engineering student.</span></p>
  </div>
</section>
