<section id="tickets" class="highlights page-section push-two clearfix{% if background %} fill-{{ background }}{% endif %}">
<!--   <div class="container">
    <p class="regular clearfix">The mobile phone is driving the change from the customer's end - it looks to become our primary payment instrument when we go out shopping. New regulations from the RBI are catalyzing a change in the chemistry that underlies our banking sector. HasGeek is organizing a new conference on the payments landscape, called <a href="https://50p.talkfunnel.com/2016/">50p</a>, with a choice of topics bridging the gap between developers and business, merchants, banks, and regulators.</p>
  </div> -->
  <h1 class="legible medium all-caps text-center space-one prose-type">Tickets</h1>
  <div id="boxoffice-widget"><p class="text-center regular">Loading...</p></div>
</section>
