<section id="videos" class="push-two-bottom nopush-bottom clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <div class="clearboth fill-lightgray push-three-top push-two-bottom">
      <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a target="_blank" href="https://hasgeek.tv/droidconin/2013-2/792-to-android-with-love">
                <img alt="" src="https://images.hasgeek.com/embed/file/d51aa72bd5844b9ea71feac7ca3b4071">
              </a>
            </p>
            <h4>
              <a target="_blank" class="black" href="https://hasgeek.tv/droidconin/2013-2/792-to-android-with-love">
                To Android, with Love
              </a>
            </h4>
            <h5 class="yellow">
              Ramprakash R
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a target="_blank" href="https://hasgeek.tv/droidconin/2013-2/789-making-mobile-web-services-that-dont-suck">
                <img alt="" src="https://images.hasgeek.com/embed/file/d4864e64067d49659e8985a6d563ded1">
              </a>
            </p>
            <h4>
              <a target="_blank" class="black" href="https://hasgeek.tv/droidconin/2013-2/789-making-mobile-web-services-that-dont-suck">
                Making Mobile Web Services that Don't Suck
              </a>
            </h4>
            <h5 class="yellow">
              Christopher Neugebauer
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a target="_blank" href="https://hasgeek.tv/droidconin/2013-2/791-loading-downloading-rendering-and-performance-bottlenecks-the-other-side-of-usability">
                <img alt="" src="https://images.hasgeek.com/embed/file/64678a457d7648189e0e01f5466d7c74">
              </a>
            </p>
            <h4>
              <a target="_blank" class="black" href="hhttps://hasgeek.tv/droidconin/2013-2/791-loading-downloading-rendering-and-performance-bottlenecks-the-other-side-of-usability">
                Loading, Downloading, Rendering and Performance Bottlenecks - The Other Side of Usability
              </a>
            </h4>
            <h5 class="yellow">
              Garima Sharma
            </h5>
          </article>
        </li>
        <li>
          <article class="video-thumbnail prose-type">
            <p>
              <a target="_blank" href="https://hasgeek.tv/droidconin/2013-2/788-optimize-performance-in-android-apps">
                <img alt="" src="https://images.hasgeek.com/embed/file/3c5d2b1c9a404ebbaf3d0ce6eeaa7783">
              </a>
            </p>
            <h4>
              <a target="_blank" class="black" href="https://hasgeek.tv/droidconin/2013-2/788-optimize-performance-in-android-apps">
                Optimize Performance in Android Apps
              </a>
            </h4>
            <h5 class="yellow">
              Sriram Ramani
            </h5>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <div class="fill-lightgray push-one-top push-three-bottom">
    <div class="container text-center">
      <a target="_blank" href="https://hasgeek.tv/droidconin/" class="button regular-prose">View all videos on HGTV</a>
    </div>
  </div>
</section>
