<section class="why-attend page-section clearfix{% if background %} fill-{{ background }}{% endif %}">
  <div class="row-fluid">
    <h2 class="offset1 span4 extralarge all-caps">5 reasons why you must attend</h2>
    
    <div class="offset1 span5">
      <p>
        <ol class="legible-prose prose-type space-one-top">
          <li class="space-one-bottom">This year, we've lined up dedicated tracks for deep dives into <strong>Systems, UX, Gaming, Business &amp; App Demos</strong> that bring together the best speakers in the country. Of note this year, the <strong>Systems</strong> track shall span two days, and provide deep technical sessions.</li>
          <li class="space-one-bottom">Past speakers vouch for the <strong>networking opportunity</strong> the conference presents. Droidcon encourages collaboration, providing channels for finding <strong>great people</strong> to work with, and make great <strong>friends</strong>.</li>
          <li class="space-one-bottom">Looking for <strong>training</strong>? We'll have separate hands on <strong>Workshops</strong> (pre-booking required) on the first day of the conference, delivered by well respected trainers and practitioners.</li>
          <li class="space-one-bottom">Exclusive <strong>panel discussions</strong> provide <strong>insights</strong> into leading edge industry trends, and balanced perspectives on ongoing debates that matter.</li>
          <li>For the first time, a series of <strong>hackdays</strong> and <strong>hacknights</strong>. And not just in Bangalore - we're likely to be coming to <strong>Chennai, Delhi, Hyderabad, Pune</strong> and <strong>Cochin</strong>. It's a great opportunity to get to your know your local Android communities &amp; be a part of this nationwide movement.</li>
        </ol>
      </p>
     </div>
  </div>
</section>