{% extends theme("layout.html") %}

{% block title %}{{ node.title }}{% endblock %}
{% block description %}{{ node.description }}{% endblock %}
{% block masthead %}
  <div id="masthead-small">
    <div class="container">
      <hgroup class="page-header">
        <h1>{{ node.title }}</h1>
      </hgroup>
    </div>
  </div>
{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="row blog">
    <div class="span8">
      {% include theme("inc/blog.html") %}
    </div>
    <div class="span4">
      <ul class="well nav nav-list">
        {%- with about=fragment('', 'about') %}
          <li class="nav-header">{{ about.title }}</li>
          <li>{{ about.content }}</li>
        {%- endwith %}
      </ul>
    </div>
  </div>
{% endblock %}
