{% from "baseframe/components.html" import networkbar with context -%}
{% from theme("inc/map_script.html") import mapscript -%}
{% extends theme("layout.html") %}

{% block titletags -%}
  <title>{% block title %}{{ website.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ website.title }}"/>
{%- endblock %}
{% block description %}{{ node.description }}{% endblock %}

{% block masthead %}
  <div id="masthead">
    <div class="container">
      <hgroup class="page-header">
        <h1>Droidcon India</h1>
        <h2>2 &amp; 3 November 2012, Bangalore</h2>
      </hgroup>
    </div>
  </div>
{% endblock %}
{% block headline %}{% endblock %}

{% block content %}
  <div class="description">
    {{ node.content }}
  </div>

  {% for post in feed(limit=4) -%}
    <div class="post">
      <h3 class="post-title"><a href="{{ url_for('node', folder=post.folder.name, node=post.name) }}">{{ post.title }}</a>
      <small>by <strong>{{ post.user.fullname }}</strong> &middot; {{ post.published_at|longdate }}</small>
      </h3>
      {{ post.description }}
    </div>
  {%- else -%}
    <p>(No blog entries have been written so far)</p>
  {%- endfor %}
  <h3 class="post-title"><a href="/blog/">See all blog posts</a></h3>
{% endblock %}



{% block footerscripts %}
{# {{ mapscript(getnode('2012', 'venue-map')) }} #}
<script type="text/javascript">
  $(function() {
    /*
    $("#main-nav > li:first-child").hover(function() {
      $("#masthead").addClass('round-bottom-left');
    }, function() {
      $("#masthead").removeClass('round-bottom-left');
    });
    $("#main-nav > li:last-child").hover(function() {
      $("#masthead").addClass('round-bottom-right');
    }, function() {
      $("#masthead").removeClass('round-bottom-right');
    });
    */
  });
</script>
<script type="text/javascript">
  $(function() {
    // fixed nav-bar transition code
    // adapted from twitter bootstrap docs' sub-nav
    var $win = $(window)
      , $nav = $('.main-navbar')
      , $masthead = $('#masthead')
      , navTop = $nav.length && $nav.offset().top // - 40
      , isFixed = 0;
    
    var processScroll = function () {
      var scrollTop = $win.scrollTop();
      if (scrollTop >= navTop && !isFixed) {
        isFixed = 1;
        $nav.addClass('navbar-fixed-top');
        $masthead.addClass('navbar-margin');
      } else if (scrollTop <= navTop && isFixed) {
        isFixed = 0;
        $nav.removeClass('navbar-fixed-top');
        $masthead.removeClass('navbar-margin');
      };
    };
    
    processScroll();
    
    $win.on('scroll', processScroll);
    
    // smooth scroll nav links
    $('a', $nav).smoothScroll({
        offset: -80
      , speed: 900
    });

  });
</script>

<script type="text/javascript">
  $(function() {
    $(".sponsor-box").on('shown', function() {
      if (typeof _gaq != 'undefined') {
        _gaq.push(['_trackPageview', "/{{ folder.name }}/#" + $(this).attr('id')]);
      };
    });    
    $(".sponsor-box").on('hidden', function() {
      if (typeof _gaq != 'undefined') {
        _gaq.push(['_trackPageview', "/{{ folder.name }}/#"]);
      };
    });    
    $(".sponsor-exit").click(function() {
      if (typeof _gaq != 'undefined') {
        _gaq.push(['_trackPageview', "/out/" + $(this).attr('href')]);
      };
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#twitter").getTwitter({
      userName: "droidconIN",
      numTweets: 5,
      loaderText: "Loading tweets...",
      slideIn: true,
      showHeading: false,
      headingText: "Latest Tweets",
      showProfileLink: false
    });
  });
</script>
{% endblock %}
