{%- extends theme("layout.html") %}

{% block titletags -%}
  <title>{% block title %}{{ website.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ website.title }}"/>
{%- endblock %}
{% block description %}{{ node.description }}{% endblock %}

{% block headline %}{% endblock %}
  
{% block basecontent %}
  <div class="description centered">
    <section id="preface">
      <div class="row">
        {{ node.content }}
      </div>
    </section>
    <section id="previous-edition">
      <div class="row">
        <h4 id="previous-edition">Previously: <a href="http://droidcon.in/2012/">2012</a>, <a href="http://droidcon.in/2011/">2011</a></h4>
      </div>
    </section>
    <section id="social">
      <div class="row">
            <span><i class="icon-twitter"></i><a href="https://twitter.com/droidconIN" target="_blank">@droidconIN</a>, &nbsp;&nbsp;<a href="https://twitter.com/hasgeek" target="_blank">@hasgeek</a></span>
            <span><i class="icon-envelope-alt"></i><a href="mailto:info@hasgeek.com?Subject=From%20Droidcon2013%20website">info@hasgeek.com</a></span>
      </div>
    </section>
    <section id="videos">
      <div class="row">
        <h3>Videos on <a href="http://hasgeek.tv/droidconin/">HasGeek TV</a></h3>
        <ul>
          <li>
            <a href="http://hasgeek.tv/droidconin/2012/92-constructive-design-for-android" target="_blank">
              <img src="{{ theme_static('img/videos/isaac.png') }}" />
              <i class="icon-play icon-2x"></i>
              <div class="video-title">Constructive Design for Android</div>
              <div class="video-speaker">Isaac Wesley</div>
            </a>
          </li>
          <li>
            <a href="http://hasgeek.tv/droidconin/2012/211-building-the-flipkart-flyte-mp3-app-the-lean-startup-way" target="_blank">
              <img src="{{ theme_static('img/videos/gaurav.png') }}" />
              <i class="icon-play icon-2x"></i>
              <div class="video-title">Building the Flipkart Flyte MP3 app, the 'Lean Startup' way</div>
              <div class="video-speaker">Gaurav Lochan</div>
            </a>
          </li>
          <li>
            <a href="http://hasgeek.tv/droidconin/2012/334-building-your-app-for-multiple-app-stores" target="_blank">
              <img src="{{ theme_static('img/videos/timur.png') }}" />
              <i class="icon-play icon-2x"></i>
              <div class="video-title">Building your app for multiple app stores</div>
              <div class="video-speaker">Timur Dyussebayev</div>
            </a>
          </li>
          <li>
            <a href="http://hasgeek.tv/droidconin/2012/482-android-battery-consumption-the-what-how" target="_blank">
              <img src="{{ theme_static('img/videos/kumar.png') }}" />
              <i class="icon-play icon-2x"></i>
              <div class="video-title">Android battery consumption: the what &amp; how</div>
              <div class="video-speaker">Kumar Rangarajan</div>
            </a>
          </li>
          <li>
            <a href="hasgeek.tv/droidconin/2011/455-sudar-muthu-making-robots-using-android-and-arduino" target="_blank">
              <img src="{{ theme_static('img/videos/sudar.png') }}" />
              <i class="icon-play icon-2x"></i>
              <div class="video-title">Making Robots Using Android and Arduino</div>
              <div class="video-speaker">Sudar Muthu</div>
            </a>
          </li>
          <li>
            <a href="http://hasgeek.tv/droidconin/2011/467-diogo-ferreira-meet-cyanogenmod" target="_blank">
              <img src="{{ theme_static('img/videos/diogo.png') }}" />
              <i class="icon-play icon-2x"></i>
              <div class="video-title">Meet Cyanogenmod</div>
              <div class="video-speaker">Diogo Ferreira</div>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <div class="row">
      <div id="other-editions">
        {%- with fragment = getnode(path='about-other') %}
          <h3>{{ fragment.title }}</h3>
          {{ fragment.content }}
        {%- endwith %}
      </div>
    </div>
  </div>
{% endblock %}
