{% from "baseframe/components.html" import networkbar with context -%}
{% from theme("inc/map_script.html") import mapscript -%}
{% extends theme("layout.html") %}

{% block titletags -%}
  <title>{% block title %}{{ website.title }}{% endblock %}</title>
  <meta name="DC.title" content="{{ website.title }}"/>
{%- endblock %}
{% block description %}{{ node.description }}{% endblock %}

{% block masthead %}
  <div id="masthead">
    <div class="container">
      <hgroup class="page-header">
        <h1>Droidcon India</h1>
        <h2>2 &amp; 3 November 2012, Bangalore</h2>
      </hgroup>
    </div>
  </div>
{% endblock %}
{% block headline %}{% endblock %}

{% block content %}
  <div class="description">
    {{ node.content }}
  </div>

  {% for post in feed(limit=4) -%}
    <div class="post">
      <h3 class="post-title"><a href="{{ url_for('node', folder=post.folder.name, node=post.name) }}">{{ post.title }}</a>
      <small>by <strong>{{ post.user.fullname }}</strong> &middot; {{ post.published_at|longdate }}</small>
      </h3>
      {{ post.description }}
    </div>
  {%- else -%}
    <p>(No blog entries have been written so far)</p>
  {%- endfor %}
  <h3 class="post-title"><a href="/blog/">See all blog posts</a></h3>
{% endblock %}
