{% from "baseframe/components.html" import networkbar with context -%}
{% from theme("inc/macros.html") import sponsors with context -%}
{%- extends "eventframe.html" -%}

{% block headerbox %}
<header class="header">
  {{ networkbar(siteid='events', login=false) }}
  {% block masthead %}
  <div id="masthead-small">
    <div class="container">
      <hgroup class="page-header">
        <h1>{{ node.properties.get('masthead-title') or folder.title }}</h1>
      </hgroup>
    </div>
  </div>
  {% endblock %}
  <div class="main-navbar">
    <div class="container">
      <ul class="nav" id="main-nav">
        <li id="nav1" class="active"><a href="/2012/">Home</a></li>
        <li id="nav2"><a href="/blog">Blog</a></li>
        <li id="nav3"><a href="/2012/proposals">Proposals</a></li>
        <li id="nav4"><a href="/2012/schedule">Schedule</a></li>
        <li id="nav5"><a href="/2012/venue">Venue</a></li>
        <li class="register"><a href="/2012/tickets">Buy Tickets</a></li>
      </ul>
      {#-<div class="nav-underline"><!--<img src="{{ theme_static('img/2012/nav-underline.png') }}" />--></div>#}
    </div>
  </div>
</header>

{% endblock %}

{% block baseheadline -%}
  {% block headline -%}
    <div class="page-header">
      <h2>{{ self.title() }}</h2>
    </div>
  {%- endblock %}
{%- endblock %}


{% block basecontent -%}
  <div class="row">
    <div class="span8">
      {% block content %}{% endblock %}
    </div>
    <div class="span4 sponsors">
      {{ sponsors() }}
    </div><!-- /span4 -->
  </div>
{%- endblock %}

{% block basefooter -%}

  <div class="container">
    <hr />
    <div class="row">
      <div class="span16"><h4>Our Partners </h4></div>
      
      <ul class="sponsor-partner partner clearfix">
       <li><a href="http://blog.blrdroid.org/"><img src="{{ theme_static('img/2012/partners/baug.png') }}"></a></li>
      </ul>

      <ul class="sponsor-partner partner clearfix">
        <li><a href="http://cis-india.org/"><img src="{{ theme_static('img/2012/partners/cis.png') }}"></a></li>
      </ul>

      <ul class="sponsor-partner partner clearfix">
        <li><a href="http://www.androcid.com/"><img src="{{ theme_static('img/2012/partners/androcid.png') }}"></a></li>
      </ul>

      <ul class="sponsor-partner partner clearfix">
       <li><a href="http://careers.stackoverflow.com/"><img src="{{ theme_static('img/2012/partners/stack-overflow.png') }}"></a></li>
      </ul>
      
      <ul class="sponsor-partner partner clearfix">
       <li><a href="http://www.momob.in/tag/mobile-monday-bangalore/"><img src="{{ theme_static('img/2012/partners/momo.png') }}"></a></li>
      </ul>
      
      
    </div>
    <hr />
  </div>
  <footer>
    <div class="footer-inner">
      <div id="footer-image"><!-- --></div>
      <div class="container">
        <div class="footer-bar"></div>
        {% block footer -%}
          <span>Droidcon India is a conference by <a href="http://hasgeek.com/">HasGeek</a> in association with <a href="http://droidcon.com/">Mobile Seasons</a>. Copyright &copy; 2010-12. All rights reserved.</span>
        {%- endblock %}
      </div>
    </div>
  </footer>
{%- endblock %}
{%- block layoutscripts %}
  <script type="text/javascript">
    $(function() {
      // fixed nav-bar transition code
      // adapted from twitter bootstrap docs' sub-nav
      var $win = $(window)
        , $nav = $('.main-navbar')
        , $masthead = $('#masthead')
        , navTop = $nav.length && $nav.offset().top // - 40
        , isFixed = 0;
      
      var processScroll = function () {
        var scrollTop = $win.scrollTop();
        if (scrollTop >= navTop && !isFixed) {
          isFixed = 1;
          $nav.addClass('navbar-fixed-top');
          $masthead.addClass('navbar-margin');
        } else if (scrollTop <= navTop && isFixed) {
          isFixed = 0;
          $nav.removeClass('navbar-fixed-top');
          $masthead.removeClass('navbar-margin');
        };
      };
      
      processScroll();
      
      $win.on('scroll', processScroll);
      
      // smooth scroll nav links
      $('a', $nav).smoothScroll({
          offset: -80
        , speed: 900
      });

    });
  </script>
  {% block footerscripts %}{% endblock %}
{% endblock %}
