{% from "baseframe/components.html" import networkbar with context -%}
{% extends "eventframe.html" -%}

{% block headerbox %}
<header class="header">
  {{ networkbar(siteid='events', login=false) }}
  {% block masthead %}
  <div id="masthead-small">
    <div class="container">
      <hgroup class="page-header">
        <h1>Droidcon India</h1>
        <h2>2 &amp; 3 November 2012, Bangalore</h2>
      </hgroup>
    </div>
  </div>
  {% endblock %}
  <div class="main-navbar">
    <div class="container">
      <ul class="nav" id="main-nav">
        <li id="nav1"><a href="/2012/#about">Home</a></li>
        <li id="nav3"><a href="/2012/blog">Blog</a></li>
        <li id="nav2"><a href="/2012/proposals">Proposals</a></li>
        <li id="nav4"><a href="/2012/venue">Venue</a></li>
        <li class="register btn-primary"><a href="/2012/register">Buy Ticket</a></li>
      </ul>
      <!--<div class="nav-underline"></div>-->
    </div>
  </div>
</header>

{% endblock %}

{% block baseheadline -%}
  {% block headline -%}
    <div class="page-header">
      <h2>{{ self.title() }}</h2>
    </div>
  {%- endblock %}
{%- endblock %}

{% block basecontent -%}
  {% block content %}{% endblock %}
{%- endblock %}

{% block basefooter -%}
  <div id="footer-image">
  </div>
  <footer>
    <div class="footer-inner">
      <div class="container">
        <div class="footer-bar"></div>
        {% block footer -%}
          <span>Droidcon is a conference by <a href="http://hasgeek.com/">HasGeek</a>. Copyright &copy; 2010-12. All rights reserved.</span>
        {%- endblock %}
      </div>
    </div>
  </footer>
{%- endblock %}

