{% from "baseframe/components.html" import flash_messages, networkbar with context -%}
{%- extends "eventframe.html" -%}

{% block pageheaders %}
  <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block headerbox %}
  <header class="header">
    {{ networkbar(siteid='events', login=false) }}
    {% block masthead %}
      <div id="masthead">
        <div class="container">
          <hgroup class="page-header">
            <h1>Droidcon India</h1>
            <h2>28 - 30 November 2013, Bangalore</h2>
          </hgroup>
        </div>
      </div>
    {% endblock %}
  </header>
{% endblock %}

{% block main -%}
  <div class="container">
    {%- block messages %}{{ flash_messages() }}{% endblock %}
    {% block baseheadline -%}
      {% block headline -%}
        <div class="page-header">
          <h2>{{ self.title() }}</h2>
        </div>
      {%- endblock %}
    {%- endblock %}
    {% block basecontent -%}
    {%- endblock %}
  </div>
{%- endblock %}

{% block basefooter -%}
  <footer>
    <div class="footer-inner">      
      <div class="container">
        <div class="footer-bar"><hr></div>
        {% block footer -%}
          <span>Droidcon India is a conference by <a href="http://hasgeek.com/">HasGeek</a> in association with <a href="http://droidcon.com/">Mobile Seasons</a>. Copyright &copy; 2010-13. All rights reserved.</span>
        {%- endblock %}
      </div>
    </div>
  </footer>
{%- endblock %}

