{% from theme("inc/map_script.html") import mapscript -%}
{% extends theme("layout.html") %}

{% block title %}{{ node.title }}{% endblock %}
{% block description %}{{ node.description }}{% endblock %}
{% block headline %}{% endblock %}

{% block basecontent %}
  <div class="row">
    <div class="span6">
      <div class="page-header"><h1>{{ node.title }}</h1></div>
      {{ node.content }}
    </div>
    <div class="span6">
      <div id="map" class="map long"></div>
    </div>
  </div><!-- /row -->
{% endblock %}

{% block footerscripts %}
  {{ mapscript(getnode(path=node.properties.get('map', 'venue-map'))) }}
{% endblock %}
