@media only screen and (min-height: 350px) {
	/* Style adjustments for viewports 350px and higher go here */
	
	html { overflow-y: auto; }
	#page { position: static; }
	#header { height: 100%; }
	#header h1 {
		position: absolute;
		top: 5%;
		left: 0;
		right: 0;
	}
	#header h2 {
		position: absolute;
		top: 34%;
		left: 0;
		right: 0;
	}
	.strip {
		position: absolute;
		bottom: 25%;
		left: 0;
		right: 0;
		margin: 0;
	}

}
