{% macro sponsors() %}
  <div class="container-fluid">
    <ul class="sponsor sponsor-gold row-fluid">
      <li class="span12"><a title="Click for more information" href="/2012/sponsor-intel"><img src="{{ theme_static('img/2012/sponsors/intel.png') }}"></a></li>
    </ul>
    <ul class="sponsor sponsor-silver row-fluid">
      <li class="span6"><a title="Click for more information" href="/2012/sponsor-intuit"><img src="{{ theme_static('img/2012/sponsors/intuit.png') }}"></a></li>
      <li class="span6"><a title="Click for more information" href="/2012/sponsor-yandex"><img src="{{ theme_static('img/2012/sponsors/yandex1.png') }}"></a></li>
    </ul>
    <ul class="sponsor sponsor-bronze row-fluid">
      <li class="span12"><a title="Click for more information" href="/2012/sponsor-mts"><img src="{{ theme_static('img/2012/sponsors/mts.jpg') }}"></a></li>
    </ul>
    <ul class="sponsor sponsor-community row-fluid">
      <li class="span12"><a title="Click for more information" href="/2012/sponsor-littleeye"><img src="{{ theme_static('img/2012/sponsors/littleeye.png') }}"></a></li>
    </ul>
    <ul class="sponsor sponsor-hacknight row-fluid">
      <li class="span6"><a title="Click for more information" href="http://hacknight.in/droidconin/2012/sponsors/lukup"><img src="{{ theme_static('img/2012/sponsors/lukup.png/') }}"></a></li>
      <li class="span6"><a title="Click for more information" href="http://hacknight.in/droidconin/2012/sponsors/mobstac"><img src="{{ theme_static('img/2012/sponsors/mobstac.png') }}"></a></li>
    </ul>
  </div>
{% endmacro %}
