{% macro sponsors() %}
  <div class="container-fluid">
    <ul class="sponsor sponsor-gold row-fluid">
      <li class="span12"><a href="/2012/sponsor-intel"><img src="{{ theme_static('img/2012/sponsors/intel.png') }}"></a></li>
    </ul>
    <ul class="sponsor sponsor-silver row-fluid">
      <li class="span6"><a href="/2012/sponsor-intuit"><img src="{{ theme_static('img/2012/sponsors/intuit.png') }}"></a></li>
      <li class="span6"><a href="/2012/sponsor-yandex"><img src="{{ theme_static('img/2012/sponsors/yandex1.png') }}"></a></li>
    </ul>
  </div>
{% endmacro %}
