{% macro sponsors() %}
  Sponsors: to be announced
{#  <div class="container-fluid">
    <ul class="sponsor sponsor-gold row-fluid">
      <li class="span12"><a href=""><img src="{{ theme_static('img/2012/sponsors/intel.png') }}"></a></li>
    </ul>
    <ul class="sponsor sponsor-silver row-fluid">
      <li class="span6"><a href=""><img src="{{ theme_static('img/2012/sponsors/intuit.png') }}"></a></li>
      <li class="span6"><a href=""><img src="{{ theme_static('img/2012/sponsors/yandex1.png') }}"></a></li>
    </ul>
  </div> #}
{% endmacro %}
