<ul class="grid schedule container-fluid">
  <li class="row-fluid header">
    <div class="span2">&nbsp;</div>
    <div class="span4">Day 1</div>
    <div class="span3">&nbsp;</div>
    <div class="span3">&nbsp;</div>
  </li>
  <li class="row-fluid header">
    <div class="span2">Rooms</div>
    <div class="span4">Audi</div>
    <div class="span3">Hall</div>
    <div class="span3">Room</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">9:00-10:00</div>
    <div class="span4">Registration</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">10:00-11:00</div>
    <div class="span4">TBD</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:00-11:30</div>
    <div class="span4">TBD</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:30-12:00</div>
    <div class="span4">Break</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">12:00-12:30</div>
    <div class="span4">
      <a href="http://funnel.hasgeek.com/droidcon2012/506-the-real-incident-of-stealing-a-droid-app-data-in-daytime" target="_blank">The Real Incident of Stealing a Droid App+Data in daytime</a><br>&mdash;Akash Mahajan
    </div>
    <div class="span3">TBD</div>
    <div class="span3">TBD</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">12:30-1:00</div>
    <div class="span4">
      <a href="http://funnel.hasgeek.com/droidcon2012/523-augmented-reality-for-navigation-thru-the-galli" target="_blank">Augmented Reality for Navigation - Thru the Galli</a><br>&mdash;anenth
    </div>
    <div class="span3">TBD</div>
    <div class="span3">TBD</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">1:00-1:30</div>
    <div class="span4">Lunch</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">1:30-2:00</div>
    <div class="span4">Lunch</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:00-2:30</div>
    <div class="span4">
      <a href="http://funnel.hasgeek.com/droidcon2012/548-using-appcelerator-titanium-to-build-native-android-apps-without-the-native-pain" target="_blank">Using Appcelerator Titanium To Build Native Android Apps Without The Native Pain</a><br>&mdash;Gaurav Kheterpal
    </div>
    <div class="span3">TBD</div>
    <div class="span3">TBD</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:30-3:00</div>
    <div class="span4">
      <a href="http://funnel.hasgeek.com/droidcon2012/499-constructive-design-for-android" target="_blank">Constructive Design for Android</a><br>&mdash;Isaac Wesley
    </div>
    <div class="span3">TBD</div>
    <div class="span3">TBD</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:00-3:30</div>
    <div class="span4">
      <a href="http://funnel.hasgeek.com/droidcon2012/497-microsoft-kinect-and-android" target="_blank">Microsoft Kinect and Android</a><br>&mdash;Allen Thomas Varghese
    </div>
    <div class="span3">TBD</div>
    <div class="span3">TBD</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:30-4:00</div>
    <div class="span4">Break</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:00-4:30</div>
    <div class="span4">
      <a href="http://funnel.hasgeek.com/droidcon2012/547-move-as-i-speak" target="_blank">Move as i speak</a><br>&mdash;Phanindra Rachamalla
    </div>
    <div class="span3">TBD</div>
    <div class="span3">TBD</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:30-5:00</div>
    <div class="span4">
      <a href="http://funnel.hasgeek.com/droidcon2012/444-nosql-location-based-queries-on-android-couchdb-mobile-replication-and-lucene" target="_blank">NoSQL & Location based queries on Android - CouchDB, Mobile Replication and Lucene</a><br>&mdash;Sameer Segal
    </div>
    <div class="span3">TBD</div>
    <div class="span3">TBD</div>
  </li>
</ul>
