<ul class="grid schedule container-fluid">
  <li class="row-fluid header">
    <div class="span2">&nbsp;</div>
    <div class="span4">Day 1</div>
    <div class="span3">&nbsp;</div>
    <div class="span3">&nbsp;</div>
  </li>
  <li class="row-fluid header">
    <div class="span2">Rooms</div>
    <div class="span4">Audi</div>
    <div class="span3">Hall</div>
    <div class="span3">Room</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">8:30-10:00</div>
    <div class="span4">Registration & Introductions</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">10:00-10:30</div>
    <div class="span4">About Droidcon 2012</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">10:30-11:00</div>
    <div class="span4">
    <div class="session-box general-topics" title="General Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/506-the-real-incident-of-stealing-a-droid-app-data-in-daytime" target="_blank">The Real Incident of Stealing a Droid App+Data in daytime</a><br><div class="author">Akash Mahajan</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/504-mobile-user-experience-design-what-developers-usually-miss" target="_blank">Mobile User Experience Design - What developers usually miss</a><br><div class="author">Amrit Sanjeev</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:00-11:30</div>
    <div class="span4">
    <div class="session-box app-demos" title="App Demos">
      <a href="http://funnel.hasgeek.com/droidcon2012/523-augmented-reality-for-navigation-thru-the-galli" target="_blank">Augmented Reality for Navigation - Thru the Galli</a><br><div class="author">Anenth Guru</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3">
    <div class="session-box general-topics" title="General Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/549-android-ui-prototyping-101-what-why-how" target="_blank">Android UI prototyping 101: What? Why? How?</a><br><div class="author">Soham Mondal</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:30-12:00</div>
    <div class="span4">Break</div>
    <div class="span3">Break</div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">12:00-12:30</div>
    <div class="span4">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/547-move-as-i-speak" target="_blank">Move as i speak</a><br><div class="author">Phanindra Rachamalla</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/553-the-state-of-web-and-native-in-2012" target="_blank">The State of Web AND Native in 2012</a><br><div class="author">James Hugman</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">12:30-1:00</div>
    <div class="span4">
    <div class="session-box app-demos" title="App Demos">
      <a href="http://funnel.hasgeek.com/droidcon2012/517-location-based-shopping-application-delightcircle" target="_blank">Location Based Shopping Application - DelightCircle </a><br><div class="author">Yashwanth Kumar</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/553-the-state-of-web-and-native-in-2012" target="_blank">The State of Web AND Native in 2012</a><br><div class="author">James Hugman</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">1:00-2:00</div>
    <div class="span4">Lunch</div>
    <div class="span3">Lunch</div>
    <div class="span3">Lunch</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:00-2:30</div>
    <div class="span4">
    <div class="session-box app-demos" title="App Demos">
      <a href="http://funnel.hasgeek.com/droidcon2012/497-microsoft-kinect-and-android" target="_blank">Microsoft Kinect and Android</a><br><div class="author">Allen Thomas Varghese</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box app-demos" title="App Demos">
      <a href="http://funnel.hasgeek.com/droidcon2012/583-lets-code-an-android-app-with-javascript-using-titanium" target="_blank">Lets Code an Android App with "Javascript" using Titanium</a><br><div class="author">Ravindra Kumar</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/483-behind-the-scenes-creating-android-devices" target="_blank">Behind the Scenes : Creating Android Devices</a><br><div class="author">Shree Kumar</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:30-3:00</div>
    <div class="span4">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/444-nosql-location-based-queries-on-android-couchdb-mobile-replication-and-lucene" target="_blank">NoSQL & Location based queries on Android - CouchDB, Mobile Replication and Lucene</a><br><div class="author">Sameer Segal</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/548-using-appcelerator-titanium-to-build-native-android-apps-without-the-native-pain" target="_blank">Using Appcelerator Titanium To Build Native Android Apps Without The Native Pain</a><br><div class="author">Gaurav Kheterpal</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box workshops" title="Workshops">
      <a href="http://funnel.hasgeek.com/droidcon2012/595-building-your-app-for-multiple-app-stores" target="_blank">Building your app for multiple app stores </a><br><div class="author">Timur Dyussebayev</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:00-3:30</div>
    <div class="span4">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/499-constructive-design-for-android" target="_blank">Constructive Design for Android</a><br><div class="author">Isaac Wesley</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/586-cross-platform-development-bridging-the-gap" target="_blank">Cross Platform Development: Bridging the Gap</a><br><div class="author">Priyank Gupta</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box workshops" title="Workshops">
      <a href="http://funnel.hasgeek.com/droidcon2012/595-building-your-app-for-multiple-app-stores" target="_blank">Building your app for multiple app stores </a><br><div class="author">Timur Dyussebayev</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:30-4:00</div>
    <div class="span4">Break</div>
    <div class="span3">Break</div>
    <div class="span3">Break</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:00-4:30</div>
    <div class="span4">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/587-using-websockets-to-control-robots-in-realtime" target="_blank">Using websockets to control robots in realtime</a><br><div class="author">Sudar Muthu</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box general-topics" title="General Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/537-why-what-how-of-monetization-using-ads" target="_blank">Why, What & How of Monetization using Ads</a><br><div class="author">Ravi Vyas</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3">
    <div class="session-box app-demos" title="App Demos">
      <a href="http://funnel.hasgeek.com/droidcon2012/592-what-we-learnt-during-the-making-of-cosmos" target="_blank">What we learnt during the making of Cosmos</a><br><div class="author">SDC Bangalore</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:30-5:00</div>
    <div class="span4">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/587-using-websockets-to-control-robots-in-realtime" target="_blank">Using websockets to control robots in realtime</a><br><div class="author">Sudar Muthu</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">5:00-6:00</div>
    <div class="span4">Open Time - Social</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">6:00-10:00</div>
    <div class="span4">Event Dinner Party @ Counter Culture
(featuring live performance by Ministry of Blues)</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
</ul>
<ul class="grid schedule container-fluid">
  <li class="row-fluid header">
    <div class="span2">&nbsp;</div>
    <div class="span4">Day 2</div>
    <div class="span3">&nbsp;</div>
    <div class="span3">&nbsp;</div>
  </li>
  <li class="row-fluid header">
    <div class="span2">Rooms</div>
    <div class="span4">Audi</div>
    <div class="span3">Hall</div>
    <div class="span3">Room</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">9:00-10:00</div>
    <div class="span4">Registration</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">10:00-10:30</div>
    <div class="span4">
    <div class="session-box general-topics" title="General Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/556-writing-toolkits-frameworks-and-plugins-a-developer-masterclass-in-writing-re-usable-code" target="_blank">Writing Toolkits, Frameworks and Plugins. A Developer Masterclass in Writing Re-usable Code.</a><br><div class="author">James Hugman</div><br><div class="advanced" title="Advanced"></div>
    </div></div>
    <div class="span3">
    <div class="session-box workshops" title="Workshops">
      <a href="http://funnel.hasgeek.com/droidcon2012/588-android-application-development-a-crash-course" target="_blank">Android application development: a crash course</a><br><div class="author">Soham Mondal</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">10:30-11:00</div>
    <div class="span4">
    <div class="session-box general-topics" title="General Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/556-writing-toolkits-frameworks-and-plugins-a-developer-masterclass-in-writing-re-usable-code" target="_blank">Writing Toolkits, Frameworks and Plugins. A Developer Masterclass in Writing Re-usable Code.</a><br><div class="author">James Hugman</div><br><div class="advanced" title="Advanced"></div>
    </div></div>
    <div class="span3">
    <div class="session-box workshops" title="Workshops">
      <a href="http://funnel.hasgeek.com/droidcon2012/588-android-application-development-a-crash-course" target="_blank">Android application development: a crash course</a><br><div class="author">Soham Mondal</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:00-11:30</div>
    <div class="span4">
    <div class="session-box general-topics" title="General Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/580-dr-droidlove-a-k-a-how-i-learned-to-stop-worrying-and-love-the-fragmentation" target="_blank">Dr DroidLove a.k.a How I Learned to Stop Worrying and Love the Fragmentation</a><br><div class="author">Aditya Shankar</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/577-take-your-android-app-offline-with-sms" target="_blank">Take your Android app offline with SMS </a><br><div class="author">Gopi Krishnan</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:30-12:00</div>
    <div class="span4">Break</div>
    <div class="span3">Break</div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">12:00-12:30</div>
    <div class="span4">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/574-using-mat-memory-analyzer-tool-to-understand-memory-issues-in-your-app" target="_blank">Using MAT (Memory Analyzer Tool) to understand memory issues in your app</a><br><div class="author">Kakkirala Lakshman</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3">
    <div class="session-box general-topics" title="General Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/571-agile-development-for-mobile-apps" target="_blank">Agile development for mobile apps</a><br><div class="author">Rajaram</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">12:30-1:00</div>
    <div class="span4">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/527-optimizing-for-battery-measuring-and-managing-power-consumption-of-android-apps" target="_blank">Optimizing for Battery - Measuring and managing power consumption of Android apps</a><br><div class="author">Kumar Rangarajan</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/570-hacking-android-for-fun-and-profit" target="_blank">Hacking Android for Fun and Profit</a><br><div class="author">Indraneel Bommisetty</div><br><div class="advanced" title="Advanced"></div>
    </div></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">1:00-2:00</div>
    <div class="span4">Lunch</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:00-2:30</div>
    <div class="span4">Hacknight Demos</div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/475-indian-language-app-development-framework-for-android-2-x" target="_blank">Indian Language App.Development Framework for Android 2.x</a><br><div class="author">SijiSunny</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/545-android-accessory-development-with-beaglebone" target="_blank">Android Accessory development with Beaglebone</a><br><div class="author">Pankaj Bharadiya</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:30-3:00</div>
    <div class="span4">App Jam - 5 minute elevator pitches</div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/590-exploring-the-ketai-library-for-faster-development-of-advanced-android-features" target="_blank">Exploring the 'ketai' library for faster development of advanced android features</a><br><div class="author">Sriram Narasimhan</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/593-introduction-to-android-x86-platform" target="_blank">Introduction to Android x86 Platform</a><br><div class="author">Premchander Rao T</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:00-3:30</div>
    <div class="span4">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/576-advanced-controls-for-android-games" target="_blank">Advanced Controls for Android Games</a><br><div class="author">umashankar chidige</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/561-mymobiledash-a-drupal-based-platform-for-mobile-apps" target="_blank">Mymobiledash - A Drupal based Platform for Mobile apps</a><br><div class="author">Prateek Jain</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/593-introduction-to-android-x86-platform" target="_blank">Introduction to Android x86 Platform</a><br><div class="author">Premchander Rao T</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:30-4:00</div>
    <div class="span4">Break</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:00-4:30</div>
    <div class="span4">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/584-building-the-flipkart-flyte-mp3-app-the-lean-startup-way" target="_blank">Building the Flipkart Flyte MP3 app, the 'Lean Startup' way</a><br><div class="author">Gaurav Lochan</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/471-deep-dive-into-gcm-google-cloud-messaging-for-android" target="_blank">Deep Dive into GCM ( Google Cloud Messaging) for Android</a><br><div class="author">prajyot mainkar</div><br><div class="beginner" title="Beginner"></div>
    </div></div>
    <div class="span3">
    <div class="session-box platforms-tools--libraries" title="Platforms, Tools & Libraries">
      <a href="http://funnel.hasgeek.com/droidcon2012/536-opencv-image-processing-applications-with-android" target="_blank">OpenCV Image processing applications with Android</a><br><div class="author">Wingston Sharon</div><br><div class="intermediate" title="Intermediate"></div>
    </div></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:30-5:00</div>
    <div class="span4">
    <div class="session-box specialized-topics" title="Specialized Topics">
      <a href="http://funnel.hasgeek.com/droidcon2012/591-joke-joke" target="_blank">Joke, joke</a><br><div class="author">Koushik</div><br><div class="advanced" title="Advanced"></div>
    </div></div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">5:00-5:30</div>
    <div class="span4">Thanks & Feedback</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">5:30-6:00</div>
    <div class="span4">Planning Droidcon 2013</div>
    <div class="span3"></div>
    <div class="span3"></div>
  </li>
</ul>
